public/xsl/2025/IRS1116ScheduleC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:annotation>
        <xsd:documentation>
            <Description>IRS e-file Schema - Form 1116 Schedule C - Foreign Tax Redeterminations</Description>
            <TaxYear>2025</TaxYear>
            <MaturityLevel>Final Release</MaturityLevel>
            <ReleaseDate>February 19 2026</ReleaseDate>
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
    
    <!-- ======================================================== -->
    <!-- =============== IRS Form 1116 Schedule C =============== -->
    <!-- ======================================================== -->
		
    <!-- IRS 1116 Schedule C -->
    <xsd:element name="IRS1116ScheduleC">
        <xsd:annotation>
            <xsd:documentation>IRS Form 1116 Schedule C - Foreign Tax Redeterminations</xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="IRS1116ScheduleCType">
                    <xsd:attributeGroup ref="DocumentAttributes">
                        <xsd:annotation>
                            <xsd:documentation>Common return document attributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attributeGroup>
                    
                    <xsd:attribute name="documentName" type="TextType" fixed="IRS1116ScheduleC">
                        <xsd:annotation>
                            <xsd:documentation>IRS internal use only. To avoid errors within the return, do not include the attribute name or value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentId" type="IdListType">
                        <xsd:annotation>
                            <xsd:documentation>List of document IDs of forms, schedules, supporting info. etc. attached to this form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentName" type="TextType" fixed="GeneralDependencySmall"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="IRS1116ScheduleCType">
        <xsd:sequence>
            <xsd:choice>
                <!-- Section 951A Category Foreign Income -->
                <xsd:element name="ForeignIncmSection951AInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Section 951A Category Foreign Income</Description>
                            <LineNumber>a</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Branch Category Income -->
                <xsd:element name="ForeignBranchIncomeInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Branch Category Income</Description>
                            <LineNumber>b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Passive Category Foreign Income -->
                <xsd:element name="ForeignIncPassiveCategoryInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Passive Category Foreign Income</Description>
                            <LineNumber>c</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Income General Category -->
                <xsd:element name="ForeignIncGeneralCategoryInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Income General Category</Description>
                            <LineNumber>d</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Income Section 901j Indicator -->
                <xsd:element name="ForeignIncSection901jInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Income Section 901j Indicator</Description>
                            <LineNumber>e</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Income Re-Sourced By Treaty -->
                <xsd:element name="ForeignIncResourcedTreatyInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Income Re-Sourced By Treaty</Description>
                            <LineNumber>f</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Income Lump-Sum Distributions -->
                <xsd:element name="ForeignIncLumpSumDistribInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Income Lump-Sum Distributions</Description>
                            <LineNumber>g</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Sanctioned Country Code -->
            <xsd:element name="SanctionedCountryCd" type="CountryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Sanctioned Country Code</Description>
                        <LineNumber>h</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Treaty Country Code -->
            <xsd:element name="TreatyCountryCd" type="CountryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Treaty Country Code</Description>
                        <LineNumber>i</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- =============== Part I: Increase in Amount of Foreign Taxes Paid or Accrued =============== -->
            
            <!-- Increase in Amount of Foreign Taxes Accrued Year Detail -->
            <xsd:element name="IncrAmtFrgnTaxesAccruedDtl" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Increase in Amount of Foreign Taxes Accrued Year Detail</Description>
                        <LineNumber>Part I</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- US Tax Year Relation Back Year Date -->
                        <xsd:element name="USTaxYearEndDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>US Tax Year Relation Back Year Date</Description>
                                    <LineNumber>Part I Column 1</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Payor Relation Back Year Group -->
                        <xsd:element name="PayorRelationBackYearGrp" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Payor Relation Back Year Group</Description>
                                    <LineNumber>Part I Column 2a-13</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                            
                            <xsd:complexType>
                                <xsd:sequence>
                                    <!-- Payor Name -->
                                    <xsd:element name="PayorName" type="BusinessNameType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Payor Name</Description>
                                                <LineNumber>Part I Column 2a</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <xsd:choice>
                                        <!-- Payor EIN -->
                                        <xsd:element name="PayorEIN" type="EINType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Payor EIN</Description>
                                                    <LineNumber>Part I Column 2b</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        
                                        <!-- Payor Reference Number -->
                                        <xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Payor Reference Number</Description>
                                                    <LineNumber>Part I Column 2b</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:choice>
                                    
                                    <!-- Tax Paid Country Code -->
                                    <xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Tax Paid Country Code</Description>
                                                <LineNumber>Part I Column 3</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Additional Foreign Tax Paid Date -->
                                    <xsd:element name="AdditionalForeignTaxPaidDt" type="DateType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Additional Foreign Tax Paid Date</Description>
                                                <LineNumber>Part I Column 4</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Foreign Tax Year -->
                                    <xsd:element name="ForeignTaxYearEndDt" type="DateType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Foreign Tax Year</Description>
                                                <LineNumber>Part I Column 5</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Payor Income Foreign Jurisdiction Amount -->
                                    <xsd:element name="ForeignTaxableIncomeAmt" type="USAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Payor Income Foreign Jurisdiction Amount</Description>
                                                <LineNumber>Part I Column 6</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Additional Tax Accrued in Local Currency Amount -->
                                    <xsd:element name="AddnlTaxForeignCurrencyAmt" type="ForeignAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Additional Tax Accrued in Local Currency Amount</Description>
                                                <LineNumber>Part I Column 7</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Additional Tax Accrued in Functional Currency Amount -->
                                    <xsd:element name="AddnlTaxFunctionalCurrencyAmt" type="ForeignAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Additional Tax Accrued in Functional Currency Amount</Description>
                                                <LineNumber>Part I Column 8</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Conversion of Local Currency to US Dollars Rate -->
                                    <xsd:element name="ConversionRt" type="LargeRatioType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Conversion of Local Currency to US Dollars Rate</Description>
                                                <LineNumber>Part I Column 9</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Additional Tax Accrued in US Dollars Amount -->
                                    <xsd:element name="AddnlTaxUSDollarsAmt" type="USAmountType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Additional Tax Accrued in US Dollars Amount</Description>
                                                <LineNumber>Part I Column 10</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- US Dollar Tax of Payor Reported On Original/Amended Return Amount -->
                                    <xsd:element name="TaxOriginalAmdRetAmt" type="USAmountType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>US Dollar Tax of Payor Reported On Original/Amended Return Amount</Description>
                                                <LineNumber>Part I Column 11</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Revised Tax Accrued Amount -->
                                    <xsd:element name="RevisedTaxAccruedAmt" type="USAmountType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Revised Tax Accrued Amount</Description>
                                                <LineNumber>Part I Column 12</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Contested Tax Reference ID -->
                                    <xsd:element name="ContestedTaxForeignEntityIdGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Contested Tax Reference ID</Description>
                                                <LineNumber>Part I Column 13</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        
                        <!-- Additional Tax Accrued in US Dollars Subtotal Amount -->
                        <xsd:element name="TotalAddnlTaxUSDollarsAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Additional Tax Accrued in US Dollars Subtotal Amount</Description>
                                    <LineNumber>Part I Column 10 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- US Dollar Tax of Payor Reported On Original/Amended Return Subtotal Amount -->
                        <xsd:element name="TotalTaxOriginalAmdRetAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>US Dollar Tax of Payor Reported On Original/Amended Return Subtotal Amount</Description>
                                    <LineNumber>Part I Column 11 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Revised Tax Accrued Subtotal Amount -->
                        <xsd:element name="TotalRevisedTaxAccruedAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Revised Tax Accrued Subtotal Amount</Description>
                                    <LineNumber>Part I Column 12 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- =============== Part II Decrease in Amount of Foreign Taxes Accrued =============== -->
            
            <!-- Decrease in Amount of Foreign Taxes Accrued Year Detail -->
            <xsd:element name="DecrAmtFrgnTaxesPdAccruedDtl" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Decrease in Amount of Foreign Taxes Accrued Year Detail</Description>
                        <LineNumber>Part II</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- US Tax Year Relation Back Year Date -->
                        <xsd:element name="USTaxYearEndDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>US Tax Year Relation Back Year Date</Description>
                                    <LineNumber>Part II Column 1</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Decrease in Payor Relation Back Year Group -->
                        <xsd:element name="DecrPayorRelationBackYrGrp" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Decrease in Payor Relation Back Year Group</Description>
                                    <LineNumber>Part II Column 2a-13</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                            
                            <xsd:complexType>
                                <xsd:sequence>
                                    <!-- Payor Name -->
                                    <xsd:element name="PayorName" type="BusinessNameType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Payor Name</Description>
                                                <LineNumber>Part II Column 2a</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <xsd:choice>
                                        <!-- Payor EIN -->
                                        <xsd:element name="PayorEIN" type="EINType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Payor EIN</Description>
                                                    <LineNumber>Part II Column 2b</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        
                                        <!-- Payor Reference Number -->
                                        <xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Payor Reference Number</Description>
                                                    <LineNumber>Part II Column 2b</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:choice>
                                    
                                    <!-- Tax Refunded Country Code -->
                                    <xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Tax Refunded Country Code</Description>
                                                <LineNumber>Part II Column 3</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Foreign Tax Refunded Date -->
                                    <xsd:element name="ForeignTaxRefundedDt" type="DateType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Foreign Tax Refunded Date</Description>
                                                <LineNumber>Part II Column 4</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Foreign Tax Year -->
                                    <xsd:element name="ForeignTaxYearEndDt" type="DateType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Foreign Tax Year</Description>
                                                <LineNumber>Part II Column 5</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Payor's Income Subject to Tax in Foreign Jurisdiction Amount -->
                                    <xsd:element name="ForeignTaxableIncomeAmt" type="USAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Payor's Income Subject to Tax in Foreign Jurisdiction Amount</Description>
                                                <LineNumber>Part II Column 6</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Tax Refunded in Local Currency Amount -->
                                    <xsd:element name="TxRefundedInForeignCurrencyAmt" type="ForeignAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Tax Refunded in Local Currency Amount</Description>
                                                <LineNumber>Part II Column 7</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Tax Refunded in Functional Currency Amount -->
                                    <xsd:element name="TxRefdInFunctionalCurrencyAmt" type="ForeignAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Tax Refunded in Functional Currency Amount</Description>
                                                <LineNumber>Part II Column 8</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Conversion of Local Currency to US Dollars Rate -->
                                    <xsd:element name="ConversionRt" type="LargeRatioType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Conversion of Local Currency to US Dollars Rate</Description>
                                                <LineNumber>Part II Column 9</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Tax Refunded in US Dollars Amount -->
                                    <xsd:element name="RefundInUSDollarsAmt" type="USAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Tax Refunded in US Dollars Amount</Description>
                                                <LineNumber>Part II Column 10</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- US Dollar Tax of Payor per Original/Amended Return Amount -->
                                    <xsd:element name="TaxOriginalAmdRetAmt" type="USAmountType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>US Dollar Tax of Payor per Original/Amended Return Amount</Description>
                                                <LineNumber>Part II Column 11</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Revised Tax Paid or Accrued Amount -->
                                    <xsd:element name="RevisedTaxPaidAccruedAmt" type="USAmountType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Revised Tax Paid or Accrued Amount</Description>
                                                <LineNumber>Part II Column 12</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Section 905(c)(2) Two Year Rule Indicator -->
                                    <xsd:element name="Section905c2TwoYrRuleInd" type="CheckboxType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Section 905(c)(2) Two Year Rule Indicator</Description>
                                                <LineNumber>Part II Column 13</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        
                        <!-- Tax Refunded in US Dollars Subtotal Amount -->
                        <xsd:element name="TotalRefundInUSDollarsAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Tax Refunded in US Dollars Subtotal Amount</Description>
                                    <LineNumber>Part II Column 10 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- US Dollar Tax of Payor Entity per Original/Amended Return Subtotal Amount -->
                        <xsd:element name="TotalTaxOriginalAmdRetAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>US Dollar Tax of Payor Entity per Original/Amended Return Subtotal Amount</Description>
                                    <LineNumber>Part II Column 11 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Revised Tax Paid or Accrued Subtotal Amount -->
                        <xsd:element name="TotalRevisedTaxPaidAccruedAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Revised Tax Paid or Accrued Subtotal Amount</Description>
                                    <LineNumber>Part II Column 12 Subtotal</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- =============== Part III Change in Foreign Taxes Paid or Accrued =============== -->
            
            <!-- Change in Foreign Taxes Paid or Accrued Group -->
            <xsd:element name="ChangeFrgnTxsPdAccruedGrp" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Change in Foreign Taxes Paid or Accrued Group</Description>
                        <LineNumber>Part III</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- Relation Back Year Date -->
                        <xsd:element name="USTaxYearEndDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Relation Back Year Date</Description>
                                    <LineNumber>Part III Column 1</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Redetermined Foreign Taxes Paid or Accrued Amount -->
                        <xsd:element name="RedetermFrgnTxsPdAccruedAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Redetermined Foreign Taxes Paid or Accrued Amount</Description>
                                    <LineNumber>Part III Column 2</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Foreign Taxes Paid or Accrued per Original/Amended Return Amount -->
                        <xsd:element name="FrgnTxsPdAccruedPerReturnAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Foreign Taxes Paid or Accrued per Original/Amended Return Amount</Description>
                                    <LineNumber>Part III Column 3</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- FTC Claimed per Original/Amended Return Amount -->
                        <xsd:element name="FTCClmPerReturnAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>FTC Claimed per Original/Amended Return Amount</Description>
                                    <LineNumber>Part III Column 4</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Redetermined FTC Claimed Amount -->
                        <xsd:element name="FTCClmRedetermAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Redetermined FTC Claimed Amount</Description>
                                    <LineNumber>Part III Column 5</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- =============== Part IV Change In U.S. Tax Liability =============== -->
            
            <!-- Change in US Tax Liability Group -->
            <xsd:element name="ChgUSTxLiabilityGrp" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Change in US Tax Liability Group</Description>
                        <LineNumber>Part IV</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- Relation Back Year or Affected Tax Year -->
                        <xsd:element name="RlnBackYrOrAffectedTaxYrEndDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Relation Back Year or Affected Tax Year</Description>
                                    <LineNumber>Part IV Column 1</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Total Redetermined US Tax Liability Amount -->
                        <xsd:element name="TotRedetermUSTaxLiabilityAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Total Redetermined US Tax Liability Amount</Description>
                                    <LineNumber>Part IV Column 2</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Total US Tax Liability per Original/Amended Return Amount -->
                        <xsd:element name="TotUSTaxLiabilityPerReturnAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Total US Tax Liability per Original/Amended Return Amount</Description>
                                    <LineNumber>Part IV Column 3</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Difference Between Totals Amount -->
                        <xsd:element name="DifferenceBetweenTotalsAmt" type="USAmountType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Difference Between Totals Amount</Description>
                                    <LineNumber>Part IV Column 4</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- =============== Part V Annual Reporting for Contested Taxes =============== -->
            
            <!-- Annual Reporting for Contested Taxes Group -->
            <xsd:element name="AnnualRptgContestedTaxesGrp" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Annual Reporting for Contested Taxes Group</Description>
                        <LineNumber>Part V</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- Relation Back Year Date -->
                        <xsd:element name="USTaxYearEndDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Relation Back Year Date</Description>
                                    <LineNumber>Part V Column 1</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Payor Entity Name -->
                        <xsd:element name="PayorName" type="BusinessNameType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Payor Entity Name</Description>
                                    <LineNumber>Part V Column 2</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Contested Tax Reference ID -->
                        <xsd:element name="ContestedTaxForeignEntityIdGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Contested Tax Reference ID</Description>
                                    <LineNumber>Part V Column 3</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Tax Paid Country Code -->
                        <xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Tax Paid Country Code</Description>
                                    <LineNumber>Part V Column 4</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Contested Tax Provisionally Claimed as Credit Amount -->
                        <xsd:element name="ContestedTaxPrvsnClmdCrAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Contested Tax Provisionally Claimed as Credit Amount</Description>
                                    <LineNumber>Part V Column 5</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:choice>
                            <!-- Contest Ongoing Indicator -->
                            <xsd:element name="ContestOngoingInd" type="CheckboxType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Contest Ongoing Indicator</Description>
                                        <LineNumber>Part V Column 6</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            
                            <!-- Contest Resolved Indicator -->
                            <xsd:element name="ContestResolvedInd" type="CheckboxType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Contest Resolved Indicator</Description>
                                        <LineNumber>Part V Column 7</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                        
                        <!-- Contest Resolved Date -->
                        <xsd:element name="ContestResolvedDt" type="DateType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Contest Resolved Date</Description>
                                    <LineNumber>Part V Column 8</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Tax Refunded Amount -->
                        <xsd:element name="TaxRefundedAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Tax Refunded Amount</Description>
                                    <LineNumber>Part V Column 9</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <!-- Additional Tax Paid Amount -->
                        <xsd:element name="AdditionalTaxPaidAmt" type="USAmountType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Additional Tax Paid Amount</Description>
                                    <LineNumber>Part V Column 10</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>                        
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

