public/xsl/2025/IRS1040ScheduleSE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS 1040 Schedule SE Self-Employment Tax</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ===================== IRS 1040 Schedule SE ==================== -->
	<!-- =============================================================== -->

	<xsd:element name="IRS1040ScheduleSE">
		<xsd:annotation>
			<xsd:documentation>IRS 1040 Schedule SE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS1040ScheduleSEType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS1040ScheduleSE">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AllowableSEExpenseExplanationStatement"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS1040ScheduleSEType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule SE</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Name of person with self-employment income -->
			<xsd:element name="PersonNm" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of person with self-employment income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Social Security Number of person with self-employment income -->
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Social Security Number of person with self-employment income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- =============== Part I Self-Employment Tax =============== -->
			<!-- Exempt Form 4361 Indicator -->
			<xsd:element name="ExemptForm4361Ind" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt Form 4361 indicator</Description>
						<LineNumber>Line A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net farm profit or loss -->
			<xsd:element name="NetFarmProfitLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net farm profit or loss</Description>
						<LineNumber>Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Conservation Reserve Program Amount -->
			<xsd:element name="ConservationReserveProgPymtAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Conservation Reserve Program Payments</Description>
						<LineNumber>Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net profit or loss, other than farming -->
			<xsd:element name="NetNonFarmProfitLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net profit or loss</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total net earnings or loss -->
			<xsd:element name="SETotalNetEarningsOrLossAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total net earnings or loss</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="selfEmploymentTaxExemptCd">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="EXEMPT-NOTARY"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="selfEmploymentTaxExemptAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="chap11BankruptcyIncomeCd">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="CHAP 11 BANKRUPTCY INCOME"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="chap11BankruptcyIncomeAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="communityIncmTaxedToSpouseCd">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="COMMUNITY INCOME TAXED TO SPOUSE"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="communityIncmTaxedToSpouseAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="exemptCommunityIncomeCd">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="EXEMPT COMMUNITY INCOME"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="exemptCommunityIncomeAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="additionalIncomeOrLossCd">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="additionalIncomeOrLossAmt" type="USAmountType">
								<xsd:annotation>
									<xsd:documentation>
										<LineNumber>Line 3</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Minimum profit for self-employment tax -->
			<xsd:element name="MinimumProfitForSETaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Minimum profit for self-employment tax</Description>
						<LineNumber>Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Optional method amount -->
			<xsd:element name="OptionalMethodAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Optional method</Description>
						<LineNumber>Line 4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Combined self-employment tax -->
			<xsd:element name="CombinedSEAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Combined self-employment tax</Description>
						<LineNumber>Line 4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Church employee income -->
			<xsd:element name="W2WagesFromChurchesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Church employee income</Description>
						<LineNumber>Line 5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Minimum allowable church wages -->
			<xsd:element name="MinAllowableChurchWagesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Minimum allowable church wages</Description>
						<LineNumber>Line 5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Net earnings from self-employment -->
			<xsd:element name="CombinedSEAndChurchWagesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net earnings from self-employment</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<!-- Line 7 No Entry: MaxCombinedWages (ELF Field Number NL0085, Use Value Preprinted On Form) -->
			<!-- SST Wages RRT Comp Amount -->
			<xsd:element name="SSTWagesRRTCompAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SST wages RRT comp amount</Description>
						<LineNumber>Line 8a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Unreported Tips Amount -->
			<xsd:element name="UnreportedTipsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unreported tips</Description>
						<LineNumber>Line 8b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Wages Subject to Social Security Tax -->
			<xsd:element name="WagesSubjectToSSTAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages subject to social security tax</Description>
						<LineNumber>Line 8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Wages and Unreported Tips Amount -->
			<xsd:element name="TotalWagesAndUnreportedTipsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total wages and unreported tips</Description>
						<LineNumber>Line 8d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable SE Amount -->
			<xsd:element name="AllowableSEAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable self-employment</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tax Base Amount -->
			<xsd:element name="TaxBaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax base</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- SE Base Amount -->
			<xsd:element name="SEBaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Self-Employment base</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Self-Employment Tax -->
			<xsd:element name="SelfEmploymentTaxAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Self-Employment tax</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Deduction for self-employment tax -->
			<xsd:element name="DeductibleSelfEmploymentTaxAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deduction for self-employment tax</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ===== Part II Optional Methods To Figure Net Earnings ===== -->
			<!-- Line 14 No Entry: MaxIncomeOptMethods (ELF Field Number NL0168, Use Value Preprinted On Form) -->
			<!-- Farm option method amount -->
			<xsd:element name="SETaxFarmOptionalMethodAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Farm option method</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Farm Option Method Amount -->
			<xsd:element name="SETaxNonFarmOptionalBaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Farm opt method</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Farm Option Base Amount -->
			<xsd:element name="SETaxNonFarmOptionalMethodAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Farm opt base</Description>
						<LineNumber>Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
</xsd:schema>
