public/xsl/2025/IRS1040Schedule8812.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Income Tax Schema - IRS 1040 Schedule 8812 Child Tax Credit</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ======================================================================= -->
	<!-- ======================== IRS 1040 Schedule 8812 ======================= -->
	<!-- ======================================================================= -->

	<xsd:element name="IRS1040Schedule8812">
		<xsd:annotation>
			<xsd:documentation>IRS 1040 Schedule 8812</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS1040Schedule8812Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS1040Schedule8812">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>				
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS1040Schedule8812Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule 8812</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I Child Tax Credit and Credit for Other Dependents -->
			
			<!-- Adjusted Gross Income Amount -->
			<xsd:element name="AdjustedGrossIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Gross Income Amount</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<!-- Excluded Section 933 Puerto Rico Income Amount -->
			<xsd:element name="ExcldSect933PuertoRicoIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excluded Section 933 Puerto Rico Income Amount</Description>
						<LineNumber>2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Exclusion And Deduction Sum Amount -->
			<xsd:element name="ExclusionAndDeductionSumAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exclusion And Deduction Sum Amount</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross Income Exclusion Amount -->
			<xsd:element name="GrossIncomeExclusionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Income Exclusion Amount</Description>
						<LineNumber>2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<!-- Additional Adjustments To Income Amount -->
			<xsd:element name="AdditionalIncomeAdjAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional Adjustments To Income Amount</Description>
						<LineNumber>2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Modified Adjusted Gross Income Amount -->
			<xsd:element name="ModifiedAGIAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Modified Adjusted Gross Income Amount</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Child Under Age 17 SSN Count -->
			<xsd:element name="QlfyChildUnderAgeSSNCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Child Under Age 17 SSN Count</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Qualifying Child Under Age SSN Limit Amount -->
			<xsd:element name="QlfyChildUnderAgeSSNLimtAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying Child Under Age SSN Limit Amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Dependent Count -->
			<xsd:element name="OtherDependentCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Dependent Count</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Other Dependent Credit Amount -->
			<xsd:element name="OtherDependentCreditAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Dependent Credit Amount</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Initial Other Dependent And Child Tax Credit Amount -->
			<xsd:element name="InitialCTCODCAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Initial Other Dependent And Child Tax Credit Amount</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Filing Status Threshold Code -->
			<xsd:element name="FilingStatusThresholdCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Filing Status Threshold Code</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="400000"/>
						<xsd:enumeration value="200000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Excess Adjusted Gross Income Amount -->
			<xsd:element name="ExcessAdjGrossIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess Adjusted Gross Income Amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Modified Adjusted Gross Income Phase Out Amount -->
			<xsd:element name="ModifiedAGIPhaseOutAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Modified Adjusted Gross Income Phase Out Amount</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Other Dependent Credit And Child Tax Credit Over Adjusted Gross Income Limit Indicator -->
			<xsd:element name="CTCODCOverAGILimitInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Dependent Credit And Child Tax Credit Over Adjusted Gross Income Limit Indicator</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
							
			<!-- Other Dependent Credit And Child Tax Credit After Adjusted Gross Income Limit Amount -->
			<xsd:element name="CTCODCAfterAGILimitAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Dependent Credit And Child Tax Credit After Adjusted Gross Income Limit Amount</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- ACTC Tax Liability Limit Amount -->
			<xsd:element name="ACTCTaxLiabiltyLimitAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>ACTC Tax Liability Limit Amount</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- CTC ODC Amount -->
			<xsd:element name="CTCODCAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CTC ODC Amount</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Part II-A Additional Child Tax Credit for All Filers -->
				<!-- Reserved Line Number 15 -->
				
				<!-- Claim ACTC All Filers Grp -->
				<xsd:element name="ClaimACTCAllFilersGrp" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Additional Child Tax Credit Before Limit Amount -->
							<xsd:element name="ACTCBeforeLimitAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Additional Child Tax Credit Before Limit Amount</Description>
										<LineNumber>16a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Qualifying Child Under Age SSN Count -->
							<xsd:element name="QlfyChildUnderAgeSSNCnt" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Qualifying Child Under Age SSN Count</Description>
										<LineNumber>16b</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="IntegerNNType">
										<xsd:totalDigits value="2"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							
							<!-- Qualifying Child Under Age SSN Limit Amount -->
							<xsd:element name="QlfyChildUnderAgeSSNLimtAmt" type="USAmountNNType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Qualifying Child Under Age SSN Limit Amount</Description>
										<LineNumber>16b</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Additional Child Tax Credit After Limit Amount -->
							<xsd:element name="ACTCAfterLimitAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Additional Child Tax Credit After Limit Amount</Description>
										<LineNumber>17</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Total Earned Income Amount -->
							<xsd:element name="TotalEarnedIncomeAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Total Earned Income Amount</Description>
										<LineNumber>18a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Nontaxable Combat Pay Amount -->
							<xsd:element name="NontaxableCombatPayAmt" type="USAmountNNType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Nontaxable Combat Pay Amount</Description>
										<LineNumber>18b</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Earned Income More Than Specified Indicator -->
							<xsd:element name="EarnedIncmMoreThanSpecifiedInd" type="BooleanType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Earned Income More Than Specified Indicator</Description>
										<LineNumber>19</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- Net Total Earned Income Amount -->
							<xsd:element name="NetTotalEarnedIncomeAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Net Total Earned Income Amount</Description>
										<LineNumber>19</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Net Earned Income Calculated Amount -->
							<xsd:element name="NetEarnedIncomeCalculatedAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Net Earned Income Calculated Amount</Description>
										<LineNumber>20</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Three Or More Qualifying Children Indicator -->
							<xsd:element name="ThreeOrMoreQlfyChildrenInd" type="BooleanType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Three Or More Qualifying Children Indicator</Description>
										<LineNumber>20</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Part II-B Certain Filers Who Have Three or More Qualifying Children and Bona Fide Residents of Puerto Rico -->
							
							<!-- From W2 Amount -->
							<xsd:element name="FromW2Amt" type="USAmountNNType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>From W2 Amount</Description>
										<LineNumber>21</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- From Tax Return Amount -->
							<xsd:element name="FromTaxReturnAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>From Tax Return Amount</Description>
										<LineNumber>22</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Calculate Amount From W2 and Return Amount -->
							<xsd:element name="CalcFromW2AndReturnAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Calculate Amount From W2 and Return Amount</Description>
										<LineNumber>23</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Calculate Amount From Return Plus Tax Withheld Amount -->
							<xsd:element name="CalcAmtFromRetPlusTaxWhldAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Calculate Amount From Return Plus Tax Withheld Amount</Description>
										<LineNumber>24</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Calculated Difference Amount -->
							<xsd:element name="CalculatedDifferenceAmt" type="USAmountNNType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Calculated Difference Amount</Description>
										<LineNumber>25</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Larger Calculated Income Or Difference Amount -->
							<xsd:element name="LargerCalcIncomeOrDiffAmt" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Larger Calculated Income Or Difference Amount</Description>
										<LineNumber>26</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
							
			<!-- Part II-C Additional Child Tax Credit -->
							
			<!-- Additional Child Tax Credit Amount -->
			<xsd:element name="AdditionalChildTaxCreditAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional Child Tax Credit Amount</Description>
						<LineNumber>27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
