public/xsl/2025/IRS1116.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 1116 Foreign Tax Credit</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ===================================================================== -->
	<!-- =========================== IRS Form 1116 =========================== -->
	<!-- ===================================================================== -->

	<xsd:element name="IRS1116">
		<xsd:annotation>
			<xsd:documentation>IRS Form 1116</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS1116Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS1116">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return  do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms  schedules  supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment FinancialServicesActiveFinancingIncomeStatement ElectionToUseExchangeRateStatement ForeignAuditExplanationStatement IRS1116ScheduleB IRS1116ScheduleC"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS1116Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 1116</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Alternative Minimum Tax Code -->
			<xsd:element name="AlternativeMinimumTaxCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative Minimum Tax Code</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="AMT"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:choice>
			        <!-- Foreign Income Section 951A Indicator -->
				<xsd:element name="ForeignIncmSection951AInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income Section 951A Indicator</Description>
							<LineNumber>a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Branch Income Indicator -->
				<xsd:element name="ForeignBranchIncomeInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Branch Income Indicator</Description>
							<LineNumber>b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Income Passive Category Indicator -->
				<xsd:element name="ForeignIncPassiveCategoryInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income Passive Category Indicator</Description>
							<LineNumber>c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Income General Category Indicator -->
				<xsd:element name="ForeignIncGeneralCategoryInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income General Category Indicator</Description>
							<LineNumber>d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Income Section 901(j) Indicator -->
				<xsd:element name="ForeignIncSection901jInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income Section 901(j) Indicator</Description>
							<LineNumber>e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Income Resourced Treaty Indicator -->
				<xsd:element name="ForeignIncResourcedTreatyInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income Resourced Treaty Indicator</Description>
							<LineNumber>f</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Income Lump Sum Distributions Indicator -->
				<xsd:element name="ForeignIncLumpSumDistribInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Income Lump Sum Distributions Indicator</Description>
							<LineNumber>g</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Residence Foreign Country Name -->
			<xsd:element name="ResidenceForeignCountryCd" type="AllCountriesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Residence Foreign Country Name</Description>
						<LineNumber>h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Regulated Investment Comp Code -->
			<xsd:element name="ForeignRegulatedInvestmtCompCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Regulated Investment Comp Code</Description>
						<LineNumber>i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="RIC"/>
						<xsd:enumeration value="965"/>
						<xsd:enumeration value="951A"/>
						<xsd:enumeration value="863b"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Foreign Income High Taxed Kickout Code -->
			<xsd:element name="ForeignIncHighTaxedKickOutCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income High Taxed Kickout Code</Description>
						<LineNumber>i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="HTKO"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Foreign Tax Credit Source -->
			<xsd:element name="ForeignTaxCreditSource" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0">
							<!-- Foreign Tax Credit Splitting Event Code -->
							<xsd:element name="ForeignTaxCrSplittingEventCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Tax Credit Splitting Event Code</Description>
										<LineNumber>i(A-C)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="909 INCOME"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Foreign Country Name -->
							<xsd:element name="ForeignCountryCd" type="CountryType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Country Name</Description>
										<LineNumber>i(A-C)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<!-- Foreign Gross Income Amount -->
						<xsd:element name="ForeignGrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Gross Income Amount</Description>
									<LineNumber>1a(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Income Related Expenses Amount -->
						<xsd:element name="ForeignIncRelatedExpensesAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Income Related Expenses Amount</Description>
									<LineNumber>2(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignIncmRelatedExpensesStmt"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Itemized Or Standard Deduction Amount -->
						<xsd:element name="ItemizedOrStandardDeductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Itemized Or Standard Deduction Amount</Description>
									<LineNumber>3a(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Other Deductions Not Related Amount -->
						<xsd:element name="OtherDeductionsNotRelatedAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other Deductions Not Related Amount</Description>
									<LineNumber>3b(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherDeductionsNotRelatedStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Total Deduction Amount -->
						<xsd:element name="TotalDeductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Deduction Amount</Description>
									<LineNumber>3c(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Gross Foreign Source Income Amount -->
						<xsd:element name="GrossForeignSourceIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross Foreign Source Income Amount</Description>
									<LineNumber>3d(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Gross Income Amount -->
						<xsd:element name="GrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross Income Amount</Description>
									<LineNumber>3e(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Income Percentage -->
						<xsd:element name="ForeignIncomePct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Income Percentage</Description>
									<LineNumber>3f(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Pro Rata Deductions Not Related Amount -->
						<xsd:element name="ProRataDeductionsNotRelatedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Pro Rata Deductions Not Related Amount</Description>
									<LineNumber>3g(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Apportioned Home Mortgage Interest Expenses Amount -->
						<xsd:element name="ApportionedHomeMortgIntExpAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Apportioned Home Mortgage Interest Expenses Amount</Description>
									<LineNumber>4a(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Apportioned Other Interest Expenses Amount -->
						<xsd:element name="ApportionedOtherInterestExpAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Apportioned Other Interest Expenses Amount</Description>
									<LineNumber>4b(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Source Loss Amount -->
						<xsd:element name="ForeignSourceLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Source Loss Amount</Description>
									<LineNumber>5(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Income Net Deductions and Losses Amount -->
						<xsd:element name="ForeignIncNetDeductAndLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Income Net Deductions and Losses Amount</Description>
									<LineNumber>6(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<!-- Foreign Taxes Paid or Accrued Date -->
							<xsd:element name="ForeignTaxesPaidOrAccruedDt" type="DateType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Taxes Paid or Accrued Date</Description>
										<LineNumber>l(A-C)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Foreign Tax Special Type Code -->
							<xsd:element name="ForeignTaxSpecialTypeCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Tax Special Type Code</Description>
										<LineNumber>l(A-C)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="1099 TAX"/>
										<xsd:enumeration value="909 TAX"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>
						<!-- Foreign Tax Withheld on Dividend Amount -->
						<xsd:element name="ForeignTaxWithheldOnDivAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Tax Withheld on Dividend Amount</Description>
									<LineNumber>m(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="ForeignAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignTaxWithheldOnDividendsStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Foreign Tax Withheld on Rent Amount -->
						<xsd:element name="ForeignTaxWithheldOnRentAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Tax Withheld on Rent Amount</Description>
									<LineNumber>n(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="ForeignAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignTaxWithheldOnRentsAndRoyaltiesStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Foreign Tax Withheld on Interest Amount -->
						<xsd:element name="ForeignTaxWithheldOnIntAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Tax Withheld on Interest Amount</Description>
									<LineNumber>o(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="ForeignAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignTaxWithheldOnInterestStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Other Currency Tax Paid Amount -->
						<xsd:element name="OtherCurrencyTaxPaidAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other Currency Tax Paid Amount</Description>
									<LineNumber>p(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="ForeignAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherCurrencyTaxPaidStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- US Tax Withheld on Dividend Amount -->
						<xsd:element name="USTaxWithheldOnDividendAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>US Tax Withheld on Dividend Amount</Description>
									<LineNumber>q(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- US Tax Withheld on Rent Amount -->
						<xsd:element name="USTaxWithheldOnRentAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>US Tax Withheld on Rent Amount</Description>
									<LineNumber>r(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- US Tax Withheld on Interest Amount -->
						<xsd:element name="USTaxWithheldOnInterestAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>US Tax Withheld on Interest Amount</Description>
									<LineNumber>s(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- US Dollar Other Foreign Tax Paid Amount -->
						<xsd:element name="USDollarOtherForeignTaxPaidAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>US Dollar Other Foreign Tax Paid Amount</Description>
									<LineNumber>t(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Total Foreign Tax Paid or Accrued Amount -->
						<xsd:element name="TotalForeignTaxesPaidOrAccrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Foreign Tax Paid or Accrued Amount</Description>
									<LineNumber>u(A-C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:choice minOccurs="0">
				<!-- Income From Foreign Source Type Code -->
				<xsd:element name="IncomeFromForeignSourceTypeCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income From Foreign Source Type Code</Description>
							<LineNumber>1a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="DIVIDENDS"/>
							<xsd:enumeration value="WAGES"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- Income From Foreign Source Text -->
				<xsd:element name="IncomeFromForeignSourceTxt" type="LineExplanationType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income From Foreign Source Text</Description>
							<LineNumber>1a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Total Foreign Gross Income Amount -->
			<xsd:element name="TotalForeignGrossIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Foreign Gross Income Amount</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Basis Compensation Source Indicator -->
			<xsd:element name="AltBasisCompensationSourceInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative Basis Compensation Source Indicator</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AltBasisCompensationSourceStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Total Deduction or Loss Amount -->
			<xsd:element name="TotalDeductionOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Deduction or Loss Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Foreign Taxable Income Loss Amount -->
			<xsd:element name="NetForeignTaxableIncomeLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Foreign Taxable Income Loss Amount</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:choice minOccurs="0">
				<!-- Foreign Taxes Paid Credit Indicator -->
				<xsd:element name="ForeignTaxesPaidCreditInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Taxes Paid Credit Indicator</Description>
							<LineNumber>j</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Taxes Accrued Credit Indicator -->
				<xsd:element name="ForeignTaxesAccruedCreditInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Taxes Accrued Credit Indicator</Description>
							<LineNumber>k</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Total Foreign Taxes Paid or Accrued Amount -->
			<xsd:element name="TotalForeignTaxesPaidOrAccrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Foreign Taxes Paid or Accrued Amount</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 9 - Use value from line 8-->

			<!-- Foreign Tax Credit Carryback Or Carryover Amount -->
			<xsd:element name="ForeignTaxCrCarrybackOrOverAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Tax Credit Carryback Or Carryover Amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Schedule B Not Required Indicator -->
			<xsd:element name="ScheduleBNotRequiredInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Don't need to attach Schedule B</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						

			<!-- Foreign Gross Tax Paid or Accrued Amount -->
			<xsd:element name="ForeignGrossTaxPaidOrAccrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Gross Tax Paid or Accrued Amount</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Reduction Amount -->
			<xsd:element name="ForeignTaxReductionAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Tax Reduction Amount</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignTaxReductionStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Foreign Income High Tax Kickout Adjustment Amount -->
			<xsd:element name="ForeignIncHighTaxKickOutAdjAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income High Tax Kickout Adjustment Amount</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Available for Credit Reduction Amount -->
			<xsd:element name="ForeignTaxAvailableForCrRedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Tax Available for Credit Reduction Amount</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Taxable Income or Loss Amount -->
			<xsd:element name="ForeignTaxableIncomeOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Taxable Income or Loss Amount</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Income Net Adjustment Amount -->
			<xsd:element name="ForeignIncomeNetAdjustmentAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income Net Adjustment Amount</Description>
						<LineNumber>16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ForeignIncomeNetAdjustmentStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Foreign Net Taxable Income Amount -->
			<xsd:element name="ForeignNetTaxableIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Net Taxable Income Amount</Description>
						<LineNumber>17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Taxable Income After Exemption Amount -->
			<xsd:element name="ForeignTxblIncomeAftrExemptAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Taxable Income After Exemption Amount</Description>
						<LineNumber>18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Taxable Income After Exemption Rate -->
			<xsd:element name="ForeignTxblIncomeAftrExemptRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Taxable Income After Exemption Rate</Description>
						<LineNumber>19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax from Tax Return Amount -->
			<xsd:element name="TaxFromTaxReturnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax from Tax Return Amount</Description>
						<LineNumber>20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Maximum Allowed Foreign Tax Credit Amount -->
			<xsd:element name="MaxAllowedForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maximum Allowed Foreign Tax Credit Amount</Description>
						<LineNumber>21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Increase Limitation Sec 960c Amount -->
			<xsd:element name="IncreaseLimitationSect960cAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Increase Limitation Sec 960c Amount</Description>
						<LineNumber>22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Credit Limitation Amount -->
			<xsd:element name="CreditLimitationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit Limitation Amount</Description>
						<LineNumber>23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gross Foreign Tax Credit Amount -->
			<xsd:element name="GrossForeignTaxCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Foreign Tax Credit Amount</Description>
						<LineNumber>24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="foreignIncomeLumpSumDistribCd" type="TextType" fixed="LSD"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Foreign Income Section 951A Credit Amount -->
			<xsd:element name="ForeignIncmSection951ACrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income Section 951A Credit Amount</Description>
						<LineNumber>25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Branch Income Credit Amount -->
			<xsd:element name="ForeignBranchIncomeCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Branch Income Credit Amount</Description>
						<LineNumber>26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Passive Income Tax Credit Amount -->
			<xsd:element name="ForeignPassiveIncTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Passive Income Tax Credit Amount</Description>
						<LineNumber>27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign General Income Tax Credit Amount -->
			<xsd:element name="ForeignGeneralIncTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign General Income Tax Credit Amount</Description>
						<LineNumber>28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Income Section 901j Credit Amount -->
			<xsd:element name="ForeignIncmSection901jCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income Section 901j Credit Amount</Description>
						<LineNumber>29</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Foreign Income Resourced Treaty Tax Credit Amount -->
			<xsd:element name="ForeignIncRsrcdTreatyTaxCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income Resourced Treaty Tax Credit Amount</Description>
						<LineNumber>30</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Income Lump Sum Distribution Credit Amount -->
			<xsd:element name="ForeignIncLumpSumDistribCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Income Lump Sum Distribution Credit Amount</Description>
						<LineNumber>31</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Foreign Tax Credit Amount -->
			<xsd:element name="TentativeForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative Foreign Tax Credit Amount</Description>
						<LineNumber>32</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Smaller of Return Tax or Foreign Tax Credit Amount -->
			<xsd:element name="SmllrOfRtnTaxOrForeignTaxCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller of Return Tax or Foreign Tax Credit Amount</Description>
						<LineNumber>33</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Initial Boycott Credit Reduction Amount -->
			<xsd:element name="IntlBoycottCreditReductionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Initial Boycott Credit Reduction Amount</Description>
						<LineNumber>34</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit Amount -->
			<xsd:element name="ForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Tax Credit Amount</Description>
						<LineNumber>35</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
