public/xsl/2025/IRS1040ScheduleEIC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Income Tax Schema - IRS Form 1040 Schedule EIC Earned Income Credit Qualifying Child Information</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- ================= IRS Form 1040 Schedule EIC ====================== -->
	<!-- =================================================================== -->

	<xsd:element name="IRS1040ScheduleEIC">
		<xsd:annotation>
			<xsd:documentation>IRS Form 1040 Schedule EIC</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS1040ScheduleEICType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS1040ScheduleEIC">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS1040ScheduleEICType">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 1040 Schedule EIC</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Qualifying Child Information Repeating Group -->
			<xsd:element name="QualifyingChildInformation" maxOccurs="3">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Qualifying Child Name Control -->
						<xsd:element name="QualifyingChildNameControlTxt" type="PersonNameControlType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualifying child name control</Description>
									<LineNumber>1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Qualifying Child First and Last Name -->
						<xsd:element name="ChildFirstAndLastName" type="PersonFullNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualifying child first and last name</Description>
									<LineNumber>1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Dependent/Qualifying Child Identity Protection PIN -->
						<xsd:element name="IdentityProtectionPIN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualifying Child Identity Protection PIN</Description>
									<LineNumber>2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:length value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						
						<!-- Qualifying Child SSN -->
						<xsd:element name="QualifyingChildSSN" type="SSNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualifying Child SSN</Description>
									<LineNumber>2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Child Died -->
						<xsd:element name="DiedLiteralCd" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Child Died</Description>
									<LineNumber>2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="DIED"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						
						<!-- Child Year Of Birth -->
						<xsd:element name="ChildBirthYr" type="YearType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Year of Birth</Description>
									<LineNumber>3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Child is a student under 24 indicator -->
						<xsd:element name="ChildIsAStudentUnder24Ind" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Child is a student under 24 indicator</Description>
									<LineNumber>4(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Child permanently disabled indicator -->
						<xsd:element name="ChildPermanentlyDisabledInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Child permanently disabled indicator</Description>
									<LineNumber>4(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Child Relationship -->
						<xsd:element name="ChildRelationshipCd">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Relationship</Description>
									<LineNumber>5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="SON"/>
									<xsd:enumeration value="DAUGHTER"/>
									<xsd:enumeration value="STEPCHILD"/>
									<xsd:enumeration value="FOSTER CHILD"/>
									<xsd:enumeration value="BROTHER"/>
									<xsd:enumeration value="SISTER"/>
									<xsd:enumeration value="STEPBROTHER"/>
									<xsd:enumeration value="STEPSISTER"/>
									<xsd:enumeration value="HALF BROTHER"/>
									<xsd:enumeration value="HALF SISTER"/>
									<xsd:enumeration value="GRANDCHILD"/>
									<xsd:enumeration value="NIECE"/>
									<xsd:enumeration value="NEPHEW"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- Choice between Months Child Lived With You Cnt or Kidnapped Child Indicator -->
						<xsd:choice>
							<!-- Months Child Lived With You Cnt -->
							<xsd:element name="MonthsChildLivedWithYouCnt">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Choice Between Months Child Lived With You or Kidnapped Child</Description>
										<LineNumber>6</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="07"/>
										<xsd:enumeration value="08"/>
										<xsd:enumeration value="09"/>
										<xsd:enumeration value="10"/>
										<xsd:enumeration value="11"/>
										<xsd:enumeration value="12"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Kidnapped Child Code -->
							<xsd:element name="KidnappedChildCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Kidnapped Child Code</Description>
										<LineNumber>6</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="KC"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
