public/xsl/2025/IRS2210.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Income Tax Schema - Form2210</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


 <!-- ==========================================================+++===== -->
 <!-- ======================  IRS FORM 2210 ============================ -->
 <!-- ==========================================================+++===== -->


	<xsd:element name="IRS2210">
		<xsd:annotation>
			<xsd:documentation>IRS FORM 2210</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS2210Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS2210">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType" />
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment WaiverExplanationStatement"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS2210Type">
		<xsd:annotation>
			<xsd:documentation>Content model for FORM 2210</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

		<!-- ===== Part I - Required Annual Payment ===== -->

			<!-- Current Year Tax After Credits -->
			<xsd:element name="CurrentYearTaxAfterCreditsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year tax after credits</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Taxes -->
			<xsd:element name="OtherTaxesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other taxes</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Refundable credits -->
			<xsd:element name="RefundableCreditsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Refundable credits</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Tax -->
			<xsd:element name="CurrentYearTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year tax</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Tax Calculated Amount -->
			<xsd:element name="CurrentYearTaxCalculatedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year tax calculated amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Withholding Taxes -->
			<xsd:element name="WithholdingTaxesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Withholding taxes</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tax Due -->
			<xsd:element name="NetTaxDueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net tax due</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annual Payment Based on Prior Year -->
			<xsd:element name="AnnualPaymentBasedOnPriorYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annual payment based on prior year</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Required Annual Payment -->
			<xsd:element name="RequiredAnnualPaymentAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Required annual payment</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Owe Penalty Ind -->
			<xsd:element name="OwePenaltyInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Owe penalty ind</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ===== Part II - Reasons for Filing ===== -->


					<!-- Waiver of Entire Penalty Indicator -->
					<xsd:element name="WaiverOfEntirePenaltyInd" type="CheckboxType"  minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>
								<Description>Waiver of entire penalty indicator</Description>
								<LineNumber>A</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Waiver of Part of Penalty Indicator -->
					<xsd:element name="WaiverOfPartOfPenaltyInd" type="CheckboxType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Waiver of part of penalty indicator</Description>
								<LineNumber>B</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Annualized Income Installment Method Indicator -->
					<xsd:element name="AnnualizedIncomeMethodInd" type="CheckboxType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Annualized income installment method indicator</Description>
								<LineNumber>C</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Actually Withheld Indicator -->
					<xsd:element name="ActuallyWithheldInd" type="CheckboxType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Actually withheld indicator</Description>
								<LineNumber>D</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Joint Return Indicator -->
					<xsd:element name="JointReturnInd" type="CheckboxType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Joint return indicator</Description>
								<LineNumber>E</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

			<!-- ===== Part III Penalty Computation ===== -->

			<!-- Section A Figure Your Underpayment -->
			<!-- Required Installment A -->
			<xsd:element name="RequiredInstallmentAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Required installment A</Description>
						<LineNumber>10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Required Installment B -->
			<xsd:element name="RequiredInstallmentBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Required installment B</Description>
						<LineNumber>10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Required Installment C -->
			<xsd:element name="RequiredInstallmentCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Required installment C</Description>
						<LineNumber>10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Required Installment D -->
			<xsd:element name="RequiredInstallmentDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Required installment D</Description>
						<LineNumber>10d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estimated Tax Paid and Withheld A -->
			<xsd:element name="EstimatedTaxPdAndWithheldAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estimated tax paid and withheld A</Description>
						<LineNumber>11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estimated Tax Paid and Withheld B -->
			<xsd:element name="EstimatedTaxPdAndWithheldBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estimated tax paid and withheld B</Description>
						<LineNumber>11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estimated Tax Paid and Withheld C -->
			<xsd:element name="EstimatedTaxPdAndWithheldCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estimated tax paid and withheld C</Description>
						<LineNumber>11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estimated Tax Paid and Withheld D -->
			<xsd:element name="EstimatedTaxPdAndWithheldDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estimated tax paid and withheld D</Description>
						<LineNumber>11d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 15a, Use value from line 11a (EstimatedTaxPdAndWithheldAAmt) -->

			<!-- Underpayment A -->
			<xsd:element name="UnderpaymentAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Underpayment A</Description>
						<LineNumber>17a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Overpayment A -->
			<xsd:element name="OverpaymentAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment A</Description>
						<LineNumber>18a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 12b, Use value from line 11a (OverpaymentAAmt) -->

			<!-- Tax To Be Applied B -->
			<xsd:element name="TaxToBeAppliedBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax to be applied B</Description>
						<LineNumber>13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxes Due Column B -->
			<xsd:element name="TaxesDueColumnBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes due column B</Description>
						<LineNumber>14b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applied Overpayment B -->
			<xsd:element name="AppliedOverpaymentBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied overpayment B</Description>
						<LineNumber>15b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applied Underpayment B -->
			<xsd:element name="AppliedUnderpaymentBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied underpayment B</Description>
						<LineNumber>16b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Underpayment B -->
			<xsd:element name="UnderpaymentBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Underpayment B</Description>
						<LineNumber>17b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Overpayment B -->
			<xsd:element name="OverpaymentBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment B</Description>
						<LineNumber>18b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 12c, Use value from line 18b (OverpaymentBAmt) -->

			<!-- Tax To Be Applied C -->
			<xsd:element name="TaxToBeAppliedCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax to be applied C</Description>
						<LineNumber>13c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxes Due Column C -->
			<xsd:element name="TaxesDueColumnCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes due column C</Description>
						<LineNumber>14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applied Overpayment C -->
			<xsd:element name="AppliedOverpaymentCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied overpayment C</Description>
						<LineNumber>15c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applied Underpayment C -->
			<xsd:element name="AppliedUnderpaymentCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied underpayment C</Description>
						<LineNumber>16c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Underpayment C -->
			<xsd:element name="UnderpaymentCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Underpayment C</Description>
						<LineNumber>17c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Overpayment C -->
			<xsd:element name="OverpaymentCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Overpayment C</Description>
						<LineNumber>18c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 12d, Use value from line 18c (OverpaymentCAmt) -->

			<!-- Tax To Be Applied D -->
			<xsd:element name="TaxToBeAppliedDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax to be applied D</Description>
						<LineNumber>13d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxes Due Column D -->
			<xsd:element name="TaxesDueColumnDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes due column D</Description>
						<LineNumber>14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applied Overpayment D -->
			<xsd:element name="AppliedOverpaymentDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied overpayment D</Description>
						<LineNumber>15d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Underpayment D -->
			<xsd:element name="UnderpaymentDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Underpayment D</Description>
						<LineNumber>17d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		
			<!-- Section B Figure the Penalty -->
			
			<!-- Total Penalty -->
			<xsd:element name="TotalPenaltyAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total penalty</Description>
						<LineNumber>19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="waivedLiteralRegularMethodCd">
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="AMOUNT WAIVED" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="waivedRegularMethodAmt" type="USAmountType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Schedule AI - Part I ===== -->

			<!-- AGI Amount Period A -->
			<xsd:element name="AGIPeriodAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AGI amount period A</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income A -->
			<xsd:element name="AnnualizedIncomeAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income A</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Itemized Deductions A -->
			<xsd:element name="ItemizedDeductionsAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Itemized deductions A</Description>
						<LineNumber>4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Itemized Deductions A -->
			<xsd:element name="AnnualizedItemizedDedAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized itemized deductions A</Description>
						<LineNumber>6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Return Standard Deductions A -->
			<xsd:element name="ReturnStandardDeductionAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Return standard deductions A</Description>
						<LineNumber>7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Deduction Amount A -->
			<xsd:element name="InstallmentDeductionAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment deduction amount A</Description>
						<LineNumber>8a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualified Business Income Deduction A Amount -->
			<xsd:element name="QualifiedBusinessIncomeDedAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction A Amount</Description>
						<LineNumber>9a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Aggregate Deduction A Amount -->
			<xsd:element name="AggregateDeductionAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate deduction A amount</Description>
						<LineNumber>10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Amount A -->
			<xsd:element name="NetIncomeAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income amount A</Description>
						<LineNumber>11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Exemption Claimed Amt A -->
			<xsd:element name="ExemptionClaimedAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exemption claimed amt A</Description>
						<LineNumber>12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Amt A -->
			<xsd:element name="TaxableIncomeAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income amt A</Description>
						<LineNumber>13a</LineNumber>
				     </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Tax Amt A -->
			<xsd:element name="TentativeTaxAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative tax amt A</Description>
						<LineNumber>14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 15a Use value from line 36a Schedule AI, Part II (AnnualizedSelfEmploymentTxAAmt) -->
			<!-- Enter the combined total from line 36a if there are two F2210, Schedule AI, Part II -->

			<!-- Other Taxes A -->
			<xsd:element name="OtherTaxesAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other taxes A</Description>
						<LineNumber>16a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Before Credits A -->
			<xsd:element name="TaxBeforeCreditsAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax before credits A</Description>
						<LineNumber>17a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Allowed Credits A -->
			<xsd:element name="AllowedCreditsAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowed credits A</Description>
						<LineNumber>18a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tax Due Amount A -->
			<xsd:element name="NetTaxDueAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net tax due amount A</Description>
						<LineNumber>19a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applicable Tax Due Amount A -->
			<xsd:element name="ApplicableTaxDueAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicable tax due amount A</Description>
						<LineNumber>21a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Due Amount A -->
			<xsd:element name="TaxDueAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax due amount A</Description>
						<LineNumber>23a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Tax Amount A -->
			<xsd:element name="InstallmentTaxAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment tax amount A</Description>
						<LineNumber>24a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Aggregate Tax Due Amount A -->
			<xsd:element name="AggregateTaxDueAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate tax due amount A</Description>
						<LineNumber>26a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income Installment Amount A -->
			<xsd:element name="AnnualizedIncomeInstallAAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income installment amount A</Description>
						<LineNumber>27a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AGI Amount Period B -->
			<xsd:element name="AGIPeriodBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AGI amount period B</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income B -->
			<xsd:element name="AnnualizedIncomeBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income B</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Itemized Deductions B -->
			<xsd:element name="ItemizedDeductionsBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Itemized deductions B</Description>
						<LineNumber>4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Itemized Deductions B -->
			<xsd:element name="AnnualizedItemizedDedBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized itemized deductions B</Description>
						<LineNumber>6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Return Standard Deduction B -->
			<xsd:element name="ReturnStandardDeductionBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Return standard deduction B</Description>
						<LineNumber>7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Deduction Amount B -->
			<xsd:element name="InstallmentDeductionBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment deduction amount B</Description>
						<LineNumber>8b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualified Business Income Deduction B Amount -->
			<xsd:element name="QualifiedBusinessIncomeDedBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction B Amount</Description>
						<LineNumber>9b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Aggregate Deduction B Amount -->
			<xsd:element name="AggregateDeductionBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate deduction B amount</Description>
						<LineNumber>10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Amount B -->
			<xsd:element name="NetIncomeBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income amount B</Description>
						<LineNumber>11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Exemption Claimed Amt B -->
			<xsd:element name="ExemptionClaimedBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exemption claimed amt B</Description>
						<LineNumber>12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Amt B -->
			<xsd:element name="TaxableIncomeBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income amt B</Description>
						<LineNumber>13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Tax Amt B -->
			<xsd:element name="TentativeTaxBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative tax amt B</Description>
						<LineNumber>14b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 15b Use value from line 36b Schedule AI, Part II (AnnualizedSelfEmploymentTxBAmt) -->
			<!-- Enter the combined total from line 36b if there are two F2210, Schedule AI, Part II -->

			<!-- Other Taxes B -->
			<xsd:element name="OtherTaxesBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other taxes B</Description>
						<LineNumber>16b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Before Credits B -->
			<xsd:element name="TaxBeforeCreditsBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax before credits B</Description>
						<LineNumber>17b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Allowed Credits B -->
			<xsd:element name="AllowedCreditsBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowed credits B</Description>
						<LineNumber>18b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tax Due Amount B -->
			<xsd:element name="NetTaxDueBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net tax due amount B</Description>
						<LineNumber>19b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applicable Tax Due Amount B -->
			<xsd:element name="ApplicableTaxDueBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicable tax due amount B</Description>
						<LineNumber>21b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 22b Use value from line 27a (AnnualizedIncomeInstallAAmt) -->

			<!-- Tax Due Amount B -->
			<xsd:element name="TaxDueBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax due amount B</Description>
						<LineNumber>23b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Tax Amount B -->
			<xsd:element name="InstallmentTaxBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment tax amount B</Description>
						<LineNumber>24b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Accumulated Adjusted Tax Amount B -->
			<xsd:element name="AccumulatedAdjustedTaxBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accumulated adjusted tax amount B</Description>
						<LineNumber>25b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Aggregate Tax Due Amount B -->
			<xsd:element name="AggregateTaxDueBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate tax due amount B</Description>
						<LineNumber>26b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income Installment Amount B -->
			<xsd:element name="AnnualizedIncomeInstallBAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income installment amount B</Description>
						<LineNumber>27b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AGI Amount Period C -->
			<xsd:element name="AGIPeriodCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AGI amount period C</Description>
						<LineNumber>1c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income C -->
			<xsd:element name="AnnualizedIncomeCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income C</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Itemized Deductions C -->
			<xsd:element name="ItemizedDeductionsCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Itemized deductions C</Description>
						<LineNumber>4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Itemized Deductions C -->
			<xsd:element name="AnnualizedItemizedDedCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized itemized deductions C</Description>
						<LineNumber>6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Return Standard Deduction C -->
			<xsd:element name="ReturnStandardDeductionCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Return standard deduction C</Description>
						<LineNumber>7c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Deduction Amount C -->
			<xsd:element name="InstallmentDeductionCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment deduction amount C</Description>
						<LineNumber>8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualified Business Income Deduction C Amount -->
			<xsd:element name="QualifiedBusinessIncomeDedCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction C Amount</Description>
						<LineNumber>9c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Aggregate Deduction C Amount -->
			<xsd:element name="AggregateDeductionCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate deduction C amount</Description>
						<LineNumber>10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Amount C -->
			<xsd:element name="NetIncomeCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income amount C</Description>
						<LineNumber>11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Exemption Claimed Amt C -->
			<xsd:element name="ExemptionClaimedCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exemption claimed amt C</Description>
						<LineNumber>12c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Amt C -->
			<xsd:element name="TaxableIncomeCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income amt C</Description>
						<LineNumber>13c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Tax amt C -->
			<xsd:element name="TentativeTaxCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative tax amt C</Description>
						<LineNumber>14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 15c Use value from line 36c Schedule AI, Part II (AnnualizedSelfEmploymentTxCAmt) -->
			<!-- Enter the combined total from line 36c if there are two F2210, Schedule AI, Part II -->

			<!-- Other Taxes C -->
			<xsd:element name="OtherTaxesCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other taxes C</Description>
						<LineNumber>16c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Before Credits C -->
			<xsd:element name="TaxBeforeCreditsCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax before credits C</Description>
						<LineNumber>17c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Allowed Credits C -->
			<xsd:element name="AllowedCreditsCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowed credits C</Description>
						<LineNumber>18c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tax Due Amount C -->
			<xsd:element name="NetTaxDueCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net tax due amount C</Description>
						<LineNumber>19c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applicable Tax Due Amount C -->
			<xsd:element name="ApplicableTaxDueCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicable tax due amount C</Description>
						<LineNumber>21c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 22c Use value from line 27b (AnnualizedIncomeInstallBAmt) -->

			<!-- Tax Due Amount C -->
			<xsd:element name="TaxDueCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax due amount C</Description>
						<LineNumber>23c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Tax Amount C -->
			<xsd:element name="InstallmentTaxCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment tax amount C</Description>
						<LineNumber>24c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Accumulated Adjusted Tax Amount C -->
			<xsd:element name="AccumulatedAdjustedTaxCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accumulated adjusted tax amount C</Description>
						<LineNumber>25c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Aggregate Tax Due Amount C -->
			<xsd:element name="AggregateTaxDueCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate tax due amount C</Description>
						<LineNumber>26c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income Installment Amount C -->
			<xsd:element name="AnnualizedIncomeInstallCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income installment amount C</Description>
						<LineNumber>27c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AGI Amount Period D -->
			<xsd:element name="AGIPeriodDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>AGI amount period D</Description>
						<LineNumber>1d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annulized Income D -->
			<xsd:element name="AnnualizedIncomeDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annulized income D</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Itemized Deductions D -->
			<xsd:element name="ItemizedDeductionsDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Itemized deductions D</Description>
						<LineNumber>4d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annulized Itemized Deductions D -->
			<xsd:element name="AnnualizedItemizedDedDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annulized itemized deductions D</Description>
						<LineNumber>6d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Return Standard Deduction D -->
			<xsd:element name="ReturnStandardDeductionDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Return standard deduction D</Description>
						<LineNumber>7d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Deduction Amount D -->
			<xsd:element name="InstallmentDeductionDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment deduction amount D</Description>
						<LineNumber>8d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Qualified Business Income Deduction D Amount -->
			<xsd:element name="QualifiedBusinessIncomeDedDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction D Amount</Description>
						<LineNumber>9d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Aggregate Deduction D Amount -->
			<xsd:element name="AggregateDeductionDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate deduction D amount</Description>
						<LineNumber>10d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Amount D -->
			<xsd:element name="NetIncomeDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income amount D</Description>
						<LineNumber>11d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Exemption Claimed Amt D -->
			<xsd:element name="ExemptionClaimedDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exemption claimed amt D</Description>
						<LineNumber>12d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Amt D -->
			<xsd:element name="TaxableIncomeDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income amt D</Description>
						<LineNumber>13d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Tax Amt D -->
			<xsd:element name="TentativeTaxDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative tax amt D</Description>
						<LineNumber>14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 15d Use value from line 36d Schedule AI, Part II (AnnualizedSelfEmploymentTxDAmt) -->
			<!-- Enter the combined total from line 36d if there are two F2210, Schedule AI, Part II -->

			<!-- Other Taxes D -->
			<xsd:element name="OtherTaxesDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other taxes D</Description>
						<LineNumber>16d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Before Credits D -->
			<xsd:element name="TaxBeforeCreditsDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax before credits D</Description>
						<LineNumber>17d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Allowed Credits D -->
			<xsd:element name="AllowedCreditsDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowed credits D</Description>
						<LineNumber>18d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tax Due Amount D -->
			<xsd:element name="NetTaxDueDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net tax due amount D</Description>
						<LineNumber>19d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applicable Tax Due Amount D -->
			<xsd:element name="ApplicableTaxDueDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicable tax due amount D</Description>
						<LineNumber>21d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- For 22d Use value from line 27c (AnnualizedIncomeInstallCAmt) -->

			<!-- Tax Due Amount D  -->
			<xsd:element name="TaxDueDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax due amount D</Description>
						<LineNumber>23d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Installment Tax Amount D -->
			<xsd:element name="InstallmentTaxDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Installment tax amount D</Description>
						<LineNumber>24d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Accumulated Adjusted Tax Amount D -->
			<xsd:element name="AccumulatedAdjustedTaxDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accumulated adjusted tax amount D</Description>
						<LineNumber>25d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Aggregate Tax Due Amount D -->
			<xsd:element name="AggregateTaxDueDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate tax due amount D</Description>
						<LineNumber>26d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annualized Income Installment Amount D -->
			<xsd:element name="AnnualizedIncomeInstallDAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annualized income installment amount D</Description>
						<LineNumber>27d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II Annualized Self-Employment Tax -->
			
			<xsd:element name="SEWorksheetByQtr" minOccurs="0" maxOccurs="2">
			<xsd:complexType>
				<xsd:sequence>

				<!-- Net Self-Employment Earnings A -->
				<xsd:element name="NetSelfEmploymentEarningsAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net self-employment earnings A</Description>
							<LineNumber>28a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SST/RRT Wages A -->
				<xsd:element name="SSTRRTWagesAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SST/RRT wages A</Description>
							<LineNumber>30a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Prorated Social Security Tax Limit A  -->
				<xsd:element name="NetProratedSSTLimitAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net prorated social security tax limit A</Description>
							<LineNumber>31a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized SST/RRT Wages A  -->
				<xsd:element name="AnnualizedSSTRRTWagesAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized SST/RRT wages A</Description>
							<LineNumber>33a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Net Self-Employment Earnings A -->
				<xsd:element name="AnnualizedNetSEEarningsAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized net self-employment earnings A</Description>
							<LineNumber>35a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized SE Tax A -->
				<xsd:element name="AnnualizedSelfEmploymentTxAAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized SE Tax A</Description>
							<LineNumber>36a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Self-Employment Earnings B -->
				<xsd:element name="NetSelfEmploymentEarningsBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net self-employment earnings B</Description>
							<LineNumber>28b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SST/RRT Wages B -->
				<xsd:element name="SSTRRTWagesBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SST/RRT wages B</Description>
							<LineNumber>30b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Prorated Social Security Tax Limit B  -->
				<xsd:element name="NetProratedSSTLimitBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net prorated social security tax limit B</Description>
							<LineNumber>31b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized SST/RRT Wages B  -->
				<xsd:element name="AnnualizedSSTRRTWagesBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized SST/RRT wages B</Description>
							<LineNumber>33b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Net Self-Employment Earnings B -->
				<xsd:element name="AnnualizedNetSEEarningsBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized net self-employment earnings B</Description>
							<LineNumber>35b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Self-Employment Tax B -->
				<xsd:element name="AnnualizedSelfEmploymentTxBAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized self-employment Tax B</Description>
							<LineNumber>36b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Self-Employment Earnings C -->
				<xsd:element name="NetSelfEmploymentEarningsCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net self-employment earnings C</Description>
							<LineNumber>28c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SST/RRT Wages C -->
				<xsd:element name="SSTRRTWagesCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SST/RRT wages C</Description>
							<LineNumber>30c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Prorated Social Security Tax Limit C  -->
				<xsd:element name="NetProratedSSTLimitCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net prorated social security tax limit C</Description>
							<LineNumber>31c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized SST/RRT Wages C  -->
				<xsd:element name="AnnualizedSSTRRTWagesCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized SST/RRT wages C</Description>
							<LineNumber>33c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Net Self-Employment Earnings C -->
				<xsd:element name="AnnualizedNetSEEarningsCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized net self-employment earnings C</Description>
							<LineNumber>35c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Self-Employment Tax C -->
				<xsd:element name="AnnualizedSelfEmploymentTxCAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized self-employment tax C</Description>
							<LineNumber>36c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Self-Employment Earnings D -->
				<xsd:element name="NetSelfEmploymentEarningsDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net self-employment earnings D</Description>
							<LineNumber>28d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SST/RRT Wages D -->
				<xsd:element name="SSTRRTWagesDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SST/RRT wages D</Description>
							<LineNumber>30d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Prorated Social Security Tax Limit D  -->
				<xsd:element name="NetProratedSSTLimitDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net prorated social security tax limit D</Description>
							<LineNumber>31d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized SST/RRT Wages D  -->
				<xsd:element name="AnnualizedSSTRRTWagesDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized SST/RRT wages D</Description>
							<LineNumber>33d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				

				<!-- Annualized Net Self-Employment Earnings D -->
				<xsd:element name="AnnualizedNetSEEarningsDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized net self-employment earnings D</Description>
							<LineNumber>35d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Annualized Self-Employment Tax D -->
				<xsd:element name="AnnualizedSelfEmploymentTxDAmt" type="USAmountType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Annualized self-employment tax D</Description>
							<LineNumber>36d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>

    </xsd:sequence>
 </xsd:complexType>

</xsd:schema>

