public/xsl/2025/IRS461.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 461</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ========================  IRS Form 461  ======================= -->
	<!-- =============================================================== -->

	<xsd:element name="IRS461">
		<xsd:annotation>
			<xsd:documentation>IRS Form 461</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS461Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS461">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment GeneralDependencyMedium GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS461Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 461</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I  Total Income/Loss Items -->

			<!-- This line 1 has been reserved for future use. -->

			<!-- Business Income Or Loss Amount -->
			<xsd:element name="BusinessIncomeLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Income Or Loss Amount</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Capital Gain Or Loss Amount -->
			<xsd:element name="CapitalGainLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capital Gain Or Loss Amount</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Gain Or Loss Amount -->
			<xsd:element name="OtherGainLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Gain Or Loss Amount</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rental Real Estate Income Or Loss Amount -->
			<xsd:element name="RentalRealEstateIncomeLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental Real Estate Income Or Loss Amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Farm Profit Or Loss Amount -->
			<xsd:element name="NetFarmProfitLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Farm Profit Or Loss Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- This line 7 has been reserved for future use. -->

			<!-- Other Income Amount -->
			<xsd:element name="OtherIncomeGainOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Income Amount</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Income Or Loss Amount -->
			<xsd:element name="TotalIncomeOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Income Or Loss Amount</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II  Adjustments for Amounts Not Attributable to Trade or Business -->

			<!-- Income Or Gain Amount -->
			<xsd:element name="IncomeOrGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income Or Gain Amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deduction Or Loss Amount -->
			<xsd:element name="DeductionOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deduction Or Loss Amount</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Gain Or Loss Amount -->
			<xsd:element name="TotalGainOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Gain Or Loss Amount</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III  Limitation on losses -->

			<!-- Adjusted Total Gain Or Loss Amount -->
			<xsd:element name="AdjustedTotalGainOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Total Gain Or Loss Amount</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Total Income Amount -->
			<xsd:element name="AdjustedTotalIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Total Income Amount</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Filing Status Threshold Code -->
			<xsd:element name="FilingStatusThresholdCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Filing Status Threshold Code</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="626000"/>
						<xsd:enumeration value="313000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Excess Business Loss Amount -->
			<xsd:element name="ExcessBusinessLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess Business Loss Amount</Description>
						<LineNumber>16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
