public/xsl/2025/IRS5471ScheduleI1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 5471 Schedule I-1</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
	<!-- =================================================================== -->
	<!-- =================== IRS Form 5471 Schedule I-1 ==================== -->
	<!-- =================================================================== -->
	<xsd:element name="IRS5471ScheduleI1">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5471 Schedule I-1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5471ScheduleI1Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5471ScheduleI1">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS5471ScheduleI1Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5471 Schedule I-1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="1">
				<!-- Person Name -->
				<xsd:element name="PersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person Filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business Filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="1">
				<!-- Social Security Number -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Employer Identification Number -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Foreign Corporation Name -->
			<xsd:element name="ForeignCorporationName" type="BusinessNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Foreign Corporation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Corporation Employer Identification Number -->
			<xsd:element name="ForeignCorporationEIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Corporation EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Entity Reference ID Number -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reference ID</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Separate Category Code -->
			<xsd:element name="SeparateCategoryCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Separate Category Code</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="PAS"/>
						<xsd:enumeration value="GEN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Gross Income Amount -->
			<xsd:element name="GrossIncomeAmt" type="ForeignAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Income Amount</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Effectively Connected Income Amount -->
			<xsd:element name="ECIAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Effectively Connected Income Amount</Description>
						<LineNumber>2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Subpart F Income Amount -->
			<xsd:element name="SubpartFIncomeAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subpart F Income Amount</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- High Tax Exception Income Amount -->
			<xsd:element name="HighTaxExceptionIncomeAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>High Tax Exception Income Amount</Description>
						<LineNumber>2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Related Party Dividends Amount -->
			<xsd:element name="RelatedPartyDividendsAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Related Party Dividends Amount</Description>
						<LineNumber>2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Oil And Gas Extraction Income Amount -->
			<xsd:element name="FrgnOilGasExtractionIncomeAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Oil And Gas Extraction Income Amount</Description>
						<LineNumber>2e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Income Exclusion Amount -->
			<xsd:element name="TotalIncomeExclusionAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Income Exclusion Amount</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gross Income Less Total Income Exclusion Amount -->
			<xsd:element name="GrossIncomeLessTotIncmExclAmt" type="ForeignAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Income Less Total Income Exclusion Amount</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allocable Deduction Amount -->
			<xsd:element name="AllocableDeductionAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allocable Deduction Amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tested Income Loss Group -->
			<xsd:element name="TestedIncomeLossGrp" type="CurrencyRateDollarType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tested Income Loss Group</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tested Foreign Income Taxes Group -->
			<xsd:element name="TestedForeignIncomeTaxesGrp" type="CurrencyRateDollarNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tested Foreign Income Taxes Group</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Pro Rata Share Qualified Business Asset Investment Group -->
			<xsd:element name="ProRataShareQBAIGrp" type="CurrencyRateDollarNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Qualified Business Asset Investment Group</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest Expense Amount -->
			<xsd:element name="InterestExpenseAmt" type="ForeignAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest Expense Amount</Description>
						<LineNumber>9a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Qualified Interest Expense Amount -->
			<xsd:element name="QualifiedInterestExpenseAmt" type="ForeignAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Interest Expense Amount</Description>
						<LineNumber>9b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tested Loss Qualified Business Asset Investment Amount -->
			<xsd:element name="TestedLossQBAIAmt" type="ForeignAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tested Loss Qualified Business Asset Investment Amount</Description>
						<LineNumber>9c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tested Interest Expense Group -->
			<xsd:element name="TestedInterestExpenseGrp" type="CurrencyRateDollarNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tested Interest Expense Group</Description>
						<LineNumber>9d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest Income Amount -->
			<xsd:element name="InterestIncomeAmt" type="ForeignAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest Income Amount</Description>
						<LineNumber>10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Qualified Interest Income Amount -->
			<xsd:element name="QualifiedInterestIncomeAmt" type="ForeignAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Interest Income Amount</Description>
						<LineNumber>10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Tested Interest Income Group -->
			<xsd:element name="TestedInterestIncomeGrp" type="CurrencyRateDollarNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tested Interest Income Group</Description>
						<LineNumber>10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type used for Line 6 -->
	<xsd:complexType name="CurrencyRateDollarType">
		<xsd:sequence>
			<!-- Functional Currency Amount -->
			<xsd:element name="FunctionalCurrencyAmt" type="ForeignAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Functional Currency Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Conversion Rate -->
			<xsd:element name="ConversionRt" type="LargeRatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Conversion Rate</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- U.S. Dollar Amount -->
			<xsd:element name="USDollarAmt" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>U.S. Dollar Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type used for Lines 7, 8, 9d and 10c -->
	<xsd:complexType name="CurrencyRateDollarNNType">
		<xsd:sequence>
			<!-- Functional Currency Amount -->
			<xsd:element name="FunctionalCurrencyAmt" type="ForeignAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Functional Currency Amount</Description>
						<LineNumber>7, 8, 9d or 10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Conversion Rate -->
			<xsd:element name="ConversionRt" type="LargeRatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Conversion Rate</Description>
						<LineNumber>7, 8, 9d or 10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- U.S. Dollar Amount -->
			<xsd:element name="USDollarAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>U.S. Dollar Amount</Description>
						<LineNumber>7, 8, 9d or 10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
