public/xsl/2025/IRS5695.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 5695 Residential Energy Credit</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!--  ================================================================== -->
	<!--  ======================== IRS Form 5695 =========================== -->
	<!--  ================================================================== -->

	<xsd:element name="IRS5695">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5695</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5695Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5695"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS5695Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5695</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="NameLine1Txt" type="NameLine1Type">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SSN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I - Residential Clean Energy Credit -->
			<xsd:element name="ResidentialCleanEnergyCrGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Residential Clean Energy Credit Group</Description>
					</xsd:documentation>
				</xsd:annotation>			
				<xsd:complexType>
					<xsd:sequence>
						<!-- Residential Clean Energy Home Address -->
						<xsd:element name="ResidentialCleanEgyHomeAddress" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Residential Clean Energy Home Address</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>					
						<!-- Solar Electric Property Cost Amount -->
						<xsd:element name="SolarElecPropCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Solar Electric Property Cost Amount</Description>
									<LineNumber>1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Solar Water Heating Property Cost Amount -->
						<xsd:element name="SolarWaterHtPropCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Solar Water Heating Property Cost Amount</Description>
									<LineNumber>2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Small Wind Property Cost Amount -->
						<xsd:element name="SmallWindPropCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Small Wind Property Cost Amount</Description>
									<LineNumber>3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Geothermal Heat Pump Property Cost Amount -->
						<xsd:element name="GeothrmlHtPumpPropCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Geothermal Heat Pump Property Cost Amount</Description>
									<LineNumber>4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Qualified Battery Storage Technology Indicator -->
						<xsd:element name="QlfyBatteryStorageTechInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Battery Storage Technology Indicator</Description>
									<LineNumber>5a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>						
						<!-- Qualified Battery Storage Technology Cost Amount -->
						<xsd:element name="QlfyBatteryStorageTechCostsAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Battery Storage Technology Cost Amount</Description>
									<LineNumber>5b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>						
						<!-- Total Energy Credits Amount -->
						<xsd:element name="TotalEnergyCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Energy Credits Amount</Description>
									<LineNumber>6a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Total Energy Credits Standard Percentage Credit Amount -->
						<xsd:element name="TotalEnergyCreditsStdPctCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Energy Credits Standard Percentage Credit Amount</Description>
									<LineNumber>6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Qualified Fuel Cell Property in US Indicator -->
						<xsd:element name="QlfyFuelCellPropertyInUSInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Fuel Cell Property in US Indicator</Description>
									<LineNumber>7a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Qualified Fuel Cell Property Home Address -->
						<xsd:element name="QlfyFuelCellPropertyHmAddress" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Fuel Cell Property Home Address</Description>
									<LineNumber>7b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Joint Occupancy Indicator -->
						<xsd:element name="JointOccupancyInd" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Joint Occupancy Indicator</Description>
									<LineNumber>7c</LineNumber>
							</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="CheckboxType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="JointOccupancyStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!-- Fuel Cell Property Cost Amount -->
						<xsd:element name="FuelCellPropCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Cost Amount</Description>
									<LineNumber>8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Fuel Cell Property Standard Percentage Credit Amount -->
						<xsd:element name="FuelCellPropStdPctCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Standard Percentage Credit Amount</Description>
									<LineNumber>9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Fuel Cell Property Kilowatt Capacity Number -->
						<xsd:element name="FuelCellPropKWCapNum" type="LargeRatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Kilowatt Capacity Number</Description>
									<LineNumber>10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Fuel Cell Property Kilowatt Capacity Amount -->
						<xsd:element name="FuelCellPropKWCapAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Kilowatt Capacity Amount</Description>
									<LineNumber>10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Fuel Cell Property Allowable Cost Amount -->
						<xsd:element name="FuelCellPropAllwblCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fuel Cell Property Allowable Cost Amount</Description>
									<LineNumber>11</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Prior Year Carryforward Residential Clean Energy Credit -->
						<xsd:element name="PYCfwdRsdntlCleanEnergyCrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Prior Year Carryforward Residential Clean Energy Credit</Description>
									<LineNumber>12</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Total of Energy Credits Amount -->
						<xsd:element name="TotalOfEnergyCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of Energy Credits Amount</Description>
									<LineNumber>13</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Tax less Credits Amount -->
						<xsd:element name="TaxLessCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax less Credits Amount</Description>
									<LineNumber>14</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Residential Clean Energy Credit Amount -->
						<xsd:element name="ResidentialCleanEnergyCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Residential Clean Energy Credit Amount</Description>
									<LineNumber>15</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Carryforward Residential Clean Energy Credit Amount -->
						<xsd:element name="CfwdRsdntlCleanEnergyCrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Carryforward Residential Clean Energy Credit Amount</Description>
									<LineNumber>16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>				
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
				        <xsd:attribute name="referenceDocumentName" type="StringType" fixed="ResidentialCleanEnergyHomeStatement"/>
				</xsd:complexType>
			</xsd:element>

			<!-- Part II - Energy Efficient Home Improvement Credit -->
			<xsd:element name="EgyEffcntHmImprvCrGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Energy Efficient Home Improvement Credit Group</Description>
					</xsd:documentation>
				</xsd:annotation>			
				<xsd:complexType>
					<xsd:sequence>
						<!-- Home Located in USA Indicator -->
						<xsd:element name="HomeLocatedInUSAInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Located in USA Indicator</Description>
									<LineNumber>17a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Original User Indicator -->
						<xsd:element name="OriginalUserInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Original User Indicator</Description>
									<LineNumber>17b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Five Year Expectation Indicator -->
						<xsd:element name="FiveYearUseExpectationInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Five Year Expectation Indicator</Description>
									<LineNumber>17c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>						
						<!-- Energy Efficient Home Improvement Credit Main Home US Address -->
						<xsd:element name="HomeAddress" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficient Home Improvement Credit Main Home US Address</Description>
									<LineNumber>17d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Improvement Related To Construction of Main Home Indicator -->
						<xsd:element name="ImprvRltdToConstMainHomeInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Improvement Related To Construction of Main Home Indicator</Description>
									<LineNumber>17e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Insulation or System Heat Gain Loss Cost Amount -->
						<xsd:element name="InsulationOrSysHtGnLossCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Insulation or System Heat Gain Loss Cost Amount</Description>
									<LineNumber>18a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Insulation or System Heat Standard Percentage Credit Amount -->
						<xsd:element name="InsulationOrSysHtStdPctCrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Insulation or System Heat Standard Percentage Credit Amount</Description>
									<LineNumber>18b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Exterior Door Energy Star Requirements Group-->
						<xsd:element name="ExteriorDoorEgyStarRqrGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exterior Door Energy Star Requirements Group</Description>
									<LineNumber>19a - h</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<!-- Most Expensive Exterior Door Cost Amount -->
									<xsd:element name="MostExpnsExtrDoorCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Exterior Door Cost Amount</Description>
												<LineNumber>19a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Qualifying Exterior Door - Qualified Manufacturer Identification Number (QMID)-->
									<xsd:element name="MostExpnsExtrDoorQMID" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Qualifying Exterior Door - Qualified Manufacturer Identification Number (QMID)</Description>
												<LineNumber>19b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="AlphaNumericType">
												<xsd:pattern value="[A-Z][0-9][A-Z][0-9]"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!-- Most Expensive Exterior Door Standard Percentage Credit Amount -->
									<xsd:element name="MostExpnsExtrDoorsStdPctCrAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Exterior Door Standard Percentage Credit Amount</Description>
												<LineNumber>19c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Other Exterior Door Energy Star Requirements Group -->
									<xsd:element name="OthExteriorDoorEgyStarRqrGrp" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Other Exterior Door Energy Star Requirements Group</Description>
												<LineNumber>19d - g</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<!-- Next Most Expensive Exterior Door(s) Group -->
												<xsd:element name="NextMostExpnsExtrDoorGrp" type="QMIDCostGrpType" maxOccurs="2">
													<xsd:annotation>
														<xsd:documentation>
															<Description>Next Most Expensive Exterior Door(s) Group</Description>
															<LineNumber>19d (i) - (ii)</LineNumber>
														</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<!--  Next Most Expensive Qualifying Exterior Door(s) Total Cost Amount -->									
												<xsd:element name="NextMostExpnsExtrDoorCostAmt" type="USAmountNNType">
													<xsd:annotation>
														<xsd:documentation>
															<Description>Next Most Expensive Qualifying Exterior Door(s) Total Cost Amount</Description>
															<LineNumber>19d</LineNumber>
														</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<!-- Other Qualifying Exterior Door Cost Amount -->
												<xsd:element name="OtherQlfyExtrDoorsCostAmt" type="USAmountNNType" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>
															<Description>Other Qualifying Exterior Door Cost Amount</Description>
															<LineNumber>19e</LineNumber>
														</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<!-- Total Other Qualifying Exterior Door Cost Amount -->
												<xsd:element name="TotalOtherQlfyExtrDoorsCostAmt" type="USAmountNNType">
													<xsd:annotation>
														<xsd:documentation>
															<Description>Total Other Qualifying Exterior Door Cost Amount</Description>
															<LineNumber>19f</LineNumber>
														</xsd:documentation>
													</xsd:annotation>
												</xsd:element>	
												<!-- Other Qualifying Exterior Door Standard Percentage Credit Amount -->
												<xsd:element name="OtherQlfyExtrDoorsStdPctCrAmt" type="USAmountNNType">
													<xsd:annotation>
														<xsd:documentation>
															<Description>Other Qualifying Exterior Door Standard Percentage Credit Amount</Description>
															<LineNumber>19g</LineNumber>
														</xsd:documentation>
													</xsd:annotation>
												</xsd:element>												
											</xsd:sequence>
										</xsd:complexType>						
									</xsd:element>
									<!-- Exterior Doors Total Credit Amount -->
									<xsd:element name="TotalExtrDoorsCreditAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Exterior Doors Total Credit Amount</Description>
												<LineNumber>19h</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>									
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Exterior Windows And Skylights Energy Star Requirements Group-->
						<xsd:element name="ExtrWndwSkyltEgyStarRqrGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Exterior Windows And Skylights Energy Star Requirements Group</Description>
									<LineNumber>20a - d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>							
							<xsd:complexType>
								<xsd:sequence>
									<!-- Most Expensive Qualifying Exterior Window(s) or Skylight(s) Group-->
									<xsd:element name="MostExpnsExtrWndwSkyltGrp" type="QMIDCostGrpType" maxOccurs="4">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Qualifying Exterior Window(s) or Skylight(s) Group</Description>
												<LineNumber>20a (i) - (iv)</LineNumber>
											</xsd:documentation>
										</xsd:annotation>										
									</xsd:element>
									<!-- Most Expensive Qualifying Exterior Window(s) or Skylight(s) Total Cost Amount -->
									<xsd:element name="MostExpnsExtrWndwSkyltCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Qualifying Exterior Window(s) or Skylight(s) Total Cost Amount</Description>
												<LineNumber>20a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Other Qualifying Exterior Windows or Skylights Cost Amount -->
									<xsd:element name="OthQlfyExtrWndwSkyltCostAmt" type="USAmountNNType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Other Qualifying Exterior Windows or Skylights Cost Amount</Description>
												<LineNumber>20b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Exterior Window or Skylight Cost Amount -->
									<xsd:element name="ExteriorWndwOrSkylightCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Exterior Window or Skylight Cost Amount</Description>
												<LineNumber>20c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Exterior Window or Skylight Standard Percentage Credit Amount -->
									<xsd:element name="ExtrWndwSkylightStdPctCrAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Exterior Window or Skylight Standard Percentage Credit Amount</Description>
												<LineNumber>20d</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>																	
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
															
						<!-- Qualified Energy Property Cost United States Home Indicator -->
						<xsd:element name="QlfyEnergyPropCostsUSHomeInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Energy Property Cost United States Home Indicator</Description>
									<LineNumber>21a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Original Service Placement Indicator -->
						<xsd:element name="OriginallyPlacedInServiceInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Original Service Placement Indicator</Description>
									<LineNumber>21b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Qualified Energy Property Address -->
						<xsd:element name="QualifiedEnergyPropertyAddress" type="USAddressType" minOccurs="0" maxOccurs="4">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Energy Property Address</Description>
									<LineNumber>21c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--  Central Air Conditioning Group -->
						<xsd:element name="CentralAirConditionerGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Central Air Conditioning Group</Description>
									<LineNumber>22a - d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>							
							<xsd:complexType>
								<xsd:sequence>
									<!-- Most Expensive Central Air Conditioner Qualified Manufacturer Identification Number (QMID)-->
									<xsd:element name="MostExpnsCentralAirCondQMID" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Central Air Conditioner Qualified Manufacturer Identification Number (QMID)</Description>
												<LineNumber>22a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="AlphaNumericType">
												<xsd:pattern value="[A-Z][0-9][A-Z][0-9]"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!-- Most Expensive Central Air Conditioner Cost Amount -->
									<xsd:element name="MostExpnsCentralAirCondCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Central Air Conditioner Cost Amount</Description>
												<LineNumber>22a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Other Central Air Conditioner Cost Amount -->
									<xsd:element name="OthCentralAirCondCostAmt" type="USAmountNNType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Other Central Air Conditioner Cost Amount</Description>
												<LineNumber>22b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Total Central Air Cost -->
									<xsd:element name="CentralAirCondCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Total Central Air Cost</Description>
												<LineNumber>22c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Central Air Cost Standard Percentage Credit Amount -->
									<xsd:element name="CentralAirCondCostStdPctCrAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Central Air Cost Standard Percentage Credit Amount</Description>
												<LineNumber>22d</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>															
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--  Water Heater Group -->
						<xsd:element name="WaterHeaterGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Water Heater Group</Description>
									<LineNumber>23a - d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<!--  Most Expensive Natural Gas, Propane Or Oil Water Heater(s) Group -->
									<xsd:element name="MostExpnsWaterHtrGrp"  type="QMIDCostGrpType" maxOccurs="2">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Natural Gas, Propane Or Oil Water Heater(s) Group</Description>
												<LineNumber>23a (i) - (ii)</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Most Expensive Water Heater(s) Cost Amount -->
									<xsd:element name="MostExpnsWaterHtCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Water Heater(s) Cost Amount</Description>
												<LineNumber>23a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Other Natural Gas Propane Or Oil Water Heaters Cost Amount -->
									<xsd:element name="OthNatGasPrpnOilWtrHtrCostAmt" type="USAmountNNType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Other Natural Gas Propane Or Oil Water Heaters Cost Amount</Description>
												<LineNumber>23b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Natural Gas Propane Or Oil Heater Cost Amount -->
									<xsd:element name="NatGasPrpnOilWtrHtrCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Natural Gas Propane Or Oil Heater Cost Amount</Description>
												<LineNumber>23c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Natural Gas Propane Or Oil Heater Standard Percentage Credit Amount -->
									<xsd:element name="NatGasPrpnOilWtrHtrStdPctCrAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Natural Gas Propane Or Oil Heater Standard Percentage Credit Amount</Description>
												<LineNumber>23d</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>										
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--  Furnace Or Hot Water Boiler Group -->
						<xsd:element name="FrncHotWtrBlrGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Furnace Or Hot Water Boiler Group</Description>
									<LineNumber>24a - d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<!-- Most Expensive Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Qualified Manufacturer Identification Number (QMID)-->
									<xsd:element name="MostExpnsFrncHotWtrBlrQMID" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Qualified Manufacturer Identification Number (QMID)</Description>
												<LineNumber>24a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="AlphaNumericType">
												<xsd:pattern value="[A-Z][0-9][A-Z][0-9]"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!-- Most Expensive Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Cost Amount -->
									<xsd:element name="MostExpnsFrncHotWtrBlrCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Most Expensive Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Cost Amount</Description>
												<LineNumber>24a</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Other Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Cost -->
									<xsd:element name="OthFrncHotWtrBlrCostAmt" type="USAmountNNType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Other Natural Gas, Propane, Or Oil Furnace Or Hot Water Boiler Cost</Description>
												<LineNumber>24b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!-- Natural Gas Propane Or Oil Hot Water Boiler Cost -->
									<xsd:element name="NatGasPrpnOilHotWtrBlrCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Natural Gas Propane Or Oil Hot Water Boiler Cost</Description>
												<LineNumber>24c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Natural Gas Propane Or Oil Hot Water Boiler Percentage Amount -->
									<xsd:element name="NatGasPrpnOilHotWtrBlrPctAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Natural Gas Propane Or Oil Hot Water Boiler Percentage Amount</Description>
												<LineNumber>24d</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>															
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Enabling Property Indicator -->
						<xsd:element name="PanelboardCktFeederInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Enabling Property Indicator</Description>
									<LineNumber>25a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>	
						<!-- Enabling Property Group -->
						<xsd:element name="EnablingPropertyGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Enabling Property Group</Description>
									<LineNumber>25b - e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<!-- Codes for Types of Enabled Property -->
									<xsd:element name="EnabledPropertyTypeCd" maxOccurs="7">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Codes for Types of Enabled Property</Description>
												<LineNumber>25b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
											<xsd:enumeration value="A"/>
											<xsd:enumeration value="B"/>
											<xsd:enumeration value="C"/>
											<xsd:enumeration value="D"/>
											<xsd:enumeration value="E"/>
											<xsd:enumeration value="F"/>
											<xsd:enumeration value="G"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!-- Panel or Circuit or Feeder Cost Amount -->
									<xsd:element name="PanelboardCktFeederCostAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Panel or Circuit or Feeder Cost Amount</Description>
												<LineNumber>25c</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>	
									<!-- Enabling Property Qualified Manufacturer Identification Number (QMID)-->
									<xsd:element name="QMID" minOccurs="0" maxOccurs="2">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Enabling Property Qualified Manufacturer Identification Number (QMID)</Description>
												<LineNumber>25d (i) - (ii)</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="AlphaNumericType">
												<xsd:pattern value="[A-Z][0-9][A-Z][0-9]"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!-- Panel or Circuit or Feeder Standard Percentage Credit Amount -->
									<xsd:element name="PanelboardCktFeederStdPctCrAmt" type="USAmountNNType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Panel or Circuit or Feeder Standard Percentage Credit Amount</Description>
												<LineNumber>25e</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>										
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>	
						<!-- Main Home Energy Audit Indicator -->
						<xsd:element name="MainHomeEgyAuditCostInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Main Home Energy Audit Indicator</Description>
									<LineNumber>26a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Main Home Energy Audit Cost Amount -->
						<xsd:element name="MainHomeEgyAuditCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Main Home Energy Audit Cost Amount</Description>
									<LineNumber>26b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>	
						<!-- Main Home Energy Audit Standard Percentage Credit Amount -->
						<xsd:element name="MainHomeEgyAuditStdPctCrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Main Home Energy Audit Standard Percentage Credit Amount</Description>
									<LineNumber>26c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Energy Efficient Improvements Credit Subtotal -->
						<xsd:element name="EgyEffcntImprvCreditSubtlAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficient Improvements Credit Subtotal</Description>
									<LineNumber>27</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>						
						<!-- Energy Efficient Improvements Allowable Cost Amount -->
						<xsd:element name="EnergyEffcntImprvAllwblCostAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficient Improvements Allowable Cost Amount</Description>
									<LineNumber>28</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Heat Pumps, Heat Pump Water Heaters, Biomass Stoves and Biomass Boilers Group -->
						<xsd:element name="HtPumpWtrHeaterBmssStoveBlrGrp" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Heat Pumps, Heat Pump Water Heaters, Biomass Stoves and Biomass Boilers Group</Description>
                                    <LineNumber>29a - h</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                            
                            <xsd:complexType>
                                <xsd:sequence>
                                    <!-- Most Expensive Electric or Natural Gas Heat Pump Group -->
                                    <xsd:element name="MostExpnsElecGasHtPumpGrp" type="QMIDCostGrpType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Most Expensive Electric or Natural Gas Heat Pump Group</Description>
                                                <LineNumber>29a</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Other Electric or Gas Heat Pump Cost Amount -->
                                    <xsd:element name="OthElecGasHtPumpCostAmt" type="USAmountNNType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Other Electric or Gas Heat Pump Cost Amount</Description>
                                                <LineNumber>29b</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Most Expensive Electric or Natural Gas Heat Pump Water Heater Group -->
                                    <xsd:element name="MostExpnsHtPumpWtrHtrGrp" type="QMIDCostGrpType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Most Expensive Electric or Natural Gas Heat Pump Water Heater Group</Description>
                                                <LineNumber>29c</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Electric or Gas Heat Pump Water Heater Cost Amount -->
                                    <xsd:element name="OthElecGasHtPumpWtrHtCostAmt" type="USAmountNNType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Electric or Gas Heat Pump Water Heater Cost Amount</Description>
                                                <LineNumber>29d</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Most Expensive Biomass Stove and Boiler Group -->
                                    <xsd:element name="MostExpnsBmssStoveBlrGrp" type="QMIDCostGrpType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Most Expensive Biomass Stove and Boiler Group</Description>
                                                <LineNumber>29e</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Other Biomass Stove and Boiler Cost Amount -->
                                    <xsd:element name="OthBmssStoveBlrCostAmt" type="USAmountNNType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Other Biomass Stove and Boiler Cost Amount</Description>
                                                <LineNumber>29f</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Heat Pump and Biomass Stove and Boiler Cost Amount -->
                                    <xsd:element name="HtPumpWtrHeaterBmssCostAmt" type="USAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Heat Pump and Biomass Stove and Boiler Cost Amount</Description>
                                                <LineNumber>29g</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Heat Pump and Biomass Stove and Boiler Standard Percentage Credit Amount -->
                                    <xsd:element name="HtPumpWtrHeaterBmssStdPctCrAmt" type="USAmountNNType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Heat Pump and Biomass Stove and Boiler Standard Percentage Credit Amount</Description>
                                                <LineNumber>29h</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>													
						<!--  Adjusted Credit Limit Amount -->
						<xsd:element name="AdjustedCreditLimitAmt"  minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted Credit Limit Amount</Description>
									<LineNumber>30</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="adjustedCreditLimitCd">
										    <xsd:annotation>
											<xsd:documentation>
												<Description>Adjusted Credit Limit Code</Description>
											</xsd:documentation>
										    </xsd:annotation>										
										    <xsd:simpleType>
											<xsd:restriction base="TextType">
										            <xsd:enumeration value="MORE THAN ONE MAIN HOME"/>
										        </xsd:restriction>
										    </xsd:simpleType>
										</xsd:attribute>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<!--  Taxes less Credits Amount -->
						<xsd:element name="TaxesLessCreditsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Taxes less Credits Amount</Description>
									<LineNumber>31</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--  Energy Efficient Home Improvement Credit Amount -->
						<xsd:element name="EgyEffcntHmImprvCrAmt"  type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Energy Efficient Home Improvement Credit Amount</Description>
									<LineNumber>32</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Joint Occupancy Indicator -->
						<xsd:element name="JointOccupancyInd" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Joint Occupancy Indicator</Description>
									<LineNumber>32a</LineNumber>
							</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="CheckboxType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="JointOccupancyStatement"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						
						<!-- Condominium Or Cooperative Indicator -->
                        			<xsd:element name="CondoOrCoooperativeInd" type="CheckboxType" minOccurs="0">
                            				<xsd:annotation>
                                				<xsd:documentation>
                                    					<Description>Condominium Or Cooperative Indicator</Description>
                                    					<LineNumber>32b</LineNumber>
                                				</xsd:documentation>
                            				</xsd:annotation>
                        			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="QMIDCostGrpType">
        <xsd:sequence>
            <!-- Qualified Manufacturer Identification Number (QMID) -->
            <xsd:element name="QMID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Qualified Manufacturer Identification Number (QMID)</Description>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:simpleType>
                    <xsd:restriction base="AlphaNumericType">
                        <xsd:pattern value="[A-Z][0-9][A-Z][0-9]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <!-- Cost Amount -->
            <xsd:element name="CostAmt">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Cost Amount</Description>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:simpleType>
                    <xsd:restriction base="USAmountNNType">
                        <xsd:maxInclusive value="99999999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
