public/xsl/2025/IRS5471ScheduleE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 5471 Schedule E</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
	<!-- =================================================================== -->
	<!-- ==================== IRS Form 5471 Schedule E ===================== -->
	<!-- =================================================================== -->
	<xsd:element name="IRS5471ScheduleE">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5471 Schedule E</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5471ScheduleEType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5471ScheduleE">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment EPOtherAdjustmentStatement BalanceAtBeginningOfYearExplanationStatement"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS5471ScheduleEType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5471 Schedule E</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="1">
				<!-- Person Name -->
				<xsd:element name="PersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person Filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business Filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="1">
				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Foreign Corporation Name -->
			<xsd:element name="ForeignCorporationName" type="BusinessNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Foreign Corporation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Corporation EIN -->
			<xsd:element name="ForeignCorporationEIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Corporation EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reference ID</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Separate Category Code -->
			<xsd:element name="SeparateCategoryCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Separate Category Code</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="PAS"/>
						<xsd:enumeration value="GEN"/>
						<xsd:enumeration value="901j"/>
						<xsd:enumeration value="951A"/>
						<xsd:enumeration value="FB"/>
						<xsd:enumeration value="RBT PAS"/>
						<xsd:enumeration value="RBT GEN"/>
						<xsd:enumeration value="RBT FB"/>
						<xsd:enumeration value="RBT 951A"/>
						<xsd:enumeration value="TOTAL"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Sanctioned Country Code -->
			<xsd:element name="SanctionedCountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sanctioned Country Code</Description>
						<LineNumber>b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Country Code for Treaty Country -->
			<xsd:element name="TreatyCountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Country Code for Treaty Country</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part I Taxes for Which a Foreign Tax Credit Is Allowed -->
			<!-- Section 1 Taxes Paid or Accrued Directly by Foreign Corporation -->
			<!-- Part I Taxes Foreign Tax Credit Allowed Group -->
			<xsd:element name="TxsForeignTaxCrAllowedGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 1 Taxes Paid or Accrued Directly by Foreign Corporation</Description>
						<LineNumber>Part I Section 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<!-- Payor Name -->
						<xsd:element name="PayorName" type="BusinessNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of Payor Entity</Description>
									<LineNumber>Part I Section 1 (a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Payor EIN -->
						<xsd:choice minOccurs="0">
							<!-- Payor EIN -->
							<xsd:element name="PayorEIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Payor EIN</Description>
										<LineNumber>Part I Section 1 (b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Foreign Entity Identification Group -->
							<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Entity Identification Group</Description>
										<LineNumber>Part I Section 1 (b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<!-- Unsuspended Taxes Indicator -->
						<xsd:element name="UnsuspendedTaxesInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Unsuspended Taxes Indicator</Description>
									<LineNumber>Part I Section 1 (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Country Or US Possession Code -->
						<xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Country Or US Possession Code</Description>
									<LineNumber>Part I Section 1 (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Tax Year End Date -->
						<xsd:element name="ForeignTaxYearEndDt" type="DateType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Tax Year End Date</Description>
									<LineNumber>Part I Section 1 (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- US Tax Year End Date -->
						<xsd:element name="USTaxYearEndDt" type="DateType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>US Tax Year End Date</Description>
									<LineNumber>Part I Section 1 (f)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Taxable Income Amount -->
						<xsd:element name="ForeignTaxableIncomeAmount" type="ForeignAmountType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Taxable Income Amount</Description>
									<LineNumber>Part I Section 1 (g)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Tax Paid US Source Income Indicator -->
						<xsd:element name="TaxPaidUSSourceIncomeInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax Paid US Source Income Indicator</Description>
									<LineNumber>Part I Section 1 (h)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Local Currency Code -->
						<xsd:element name="LocalCurrencyCd" type="CurrencyCodeType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Local Currency Code</Description>
									<LineNumber>Part I Section 1 (i)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Tax In Foreign Currency Amount -->
						<xsd:element name="TaxInForeignCurrencyAmt" type="ForeignAmountType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax In Foreign Currency Amount</Description>
									<LineNumber>Part I Section 1 (j)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Conversion Rate -->
						<xsd:element name="ConversionRt" type="LargeRatioType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Conversion Rate</Description>
									<LineNumber>Part I Section 1 (k)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Tax In US Dollars Amount -->
						<xsd:element name="TaxInUSDollarsAmt" type="USAmountType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax In US Dollars Amount</Description>
									<LineNumber>Part I Section 1 (l)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Tax In Functional Currency Amount -->
						<xsd:element name="TaxInFunctionalCurrencyAmt" type="ForeignAmountType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax In Functional Currency Amount</Description>
									<LineNumber>Part I Section 1 (m)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Total Tax In US Dollars Amount -->
			<xsd:element name="TotalTaxInUSDollarsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In US Dollars Amount</Description>
						<LineNumber>Part I Section 1 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax In Functional Currency Amount -->
			<xsd:element name="TotalTaxInFunctionalCurAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In Functional Currency Amount</Description>
						<LineNumber>Part I Section 1 Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 2 Taxes Deemed Paid by Foreign Corporation -->
			<!--Section 2 Taxes Deemed Paid Section 960b  Group-->
			<xsd:element name="TaxesDeemedPaidSection960bGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes Deemed Paid Section 960b Group</Description>
						<LineNumber>Part I Section 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<!-- Distributing Foreign Corporation Name -->
						<xsd:element name="DistributingForeignCorpName" type="BusinessNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Distributing Foreign Corporation Name</Description>
									<LineNumber>Part 1 Section 2(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="1">
							<!--Distributing Foreign Corporation EIN-->
							<xsd:element name="DistributingForeignCorpEIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Distributing Foreign Corporation EIN</Description>
										<LineNumber>Part 1 Section 2(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Foreign Entity Identification Group -->
							<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign Entity Identification Group</Description>
										<LineNumber>Part 1 Section 2(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<!-- Foreign Country Or US Possession Code -->
						<xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Country Or US Possession Code</Description>
									<LineNumber>Part 1 Section 2 (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- PTEP Group Code -->
						<xsd:element name="PTEPGroupCd" type="PTEPGroupCodeType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>PTEP Group Code</Description>
									<LineNumber>Part 1 Section 2 (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Annual PTEP Account Year -->
						<xsd:element name="AnnualPTEPAccountYr" type="YearType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Annual PTEP Account Year</Description>
									<LineNumber>Part 1 Section 2 (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Distribution PreviouslyTaxed Income Amount -->
						<xsd:element name="DistributionPrevTxdIncmAmt" type="ForeignAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Distribution PreviouslyTaxed Income Amount</Description>
									<LineNumber>Part 1 Section 2 (f)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Total PTEP In PTEP Group Amount -->
						<xsd:element name="TotalPTEPInPTEPGrpAmt" type="ForeignAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total PTEP In PTEP Group Amount</Description>
									<LineNumber>Part 1 Section 2 (g)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Total PTEP Group Taxes Respect PTEP Group Amount -->
						<xsd:element name="TotPTEPGrpTxsRespectPTEPGrpAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total PTEP Group Taxes Respect PTEP Group Amount</Description>
									<LineNumber>Part 1 Section 2 (h)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Foreign Income PTEP Not Previously Deemed Paid Amount -->
						<xsd:element name="FrgnIncmPTEPNotPrevDmdPdAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign Income PTEP Not Previously Deemed Paid Amount</Description>
									<LineNumber>Part 1 Section 2 (i)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Total Taxes Deemed Paid Section 960b Amount -->
			<xsd:element name="TotalTaxDeemedPdSection960bAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Taxes Deemed Paid Section 960b Amount</Description>
						<LineNumber>Part 1 Section 2 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part II  Election -->
			<!-- Section 986(a)(1)(D) Election Indicator -->
			<xsd:element name="Section986a1DElectionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 986(a)(1)(D) Election Indicator</Description>
						<LineNumber>Part II</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 986a1D Election Date -->
			<xsd:element name="Section986a1DElectionDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 986a1D Election Date</Description>
						<LineNumber>Part II</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part III Taxes Foreign Tax Credit Disallowed Group -->
			<!-- Taxes Foreign Tax Credit Disallowed Group -->
			<xsd:element name="TxsForeignTaxCrDisallowedGrp" type="TxsForeignTaxCrDisallowedGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes Foreign Tax Credit Disallowed Group</Description>
						<LineNumber>Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Functional Currency Disallowed Foreign Total Tax Amount -->
			<xsd:element name="FuncCurDsallwFrgnTotalTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Functional Currency Disallowed Foreign Total Tax Amount</Description>
						<LineNumber>Part III Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- US Dollar Disallowed Foreign Total Tax Amount -->
			<xsd:element name="USdollarDsallwFrgnTotalTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>US Dollar Disallowed Foreign Total Tax Amount</Description>
						<LineNumber>Part III Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Schedule E-1 Taxes Paid, Accrued, Or Deemed Paid on Accumulated Earnings and Profits (E&P) of Foreign Corporation -->
			<!-- Form5471 Schedule E Subpart F Income Group -->
			<xsd:element name="Frm5471SchESubpartFIncomeGrp" type="Form5471ScheduleE1Grp3Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form5471 Schedule E Subpart F Income Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Form5471 Schedule E Tested Income Group  -->
			<xsd:element name="Frm5471SchETestedIncomeGrp" type="Form5471ScheduleE1Grp3Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form5471 Schedule E Tested Income Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  Form5471 Schedule E Residual Income Group  -->
			<xsd:element name="Frm5471SchEResidualIncomeGrp" type="Form5471ScheduleE1Grp2Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form5471 Schedule E Residual Income Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Form5471 Schedule E Suspended Taxes Group  -->
			<xsd:element name="Frm5471SchESuspendedTaxesGrp" type="Form5471ScheduleE1Grp1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form5471 Schedule E Suspended Taxes Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Reclassified Section 965a PTEP Group  -->
			<xsd:element name="CFCReclassifiedSect965aPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Reclassified Section 965a PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Reclassified Section 965b PTEP Group  -->
			<xsd:element name="CFCReclassifiedSect965bPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Reclassified Section 965b PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(ii)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC General Section 959c1 PTEP Group  -->
			<xsd:element name="CFCGeneralSection959c1PTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC General Section 959c1 PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(iii)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Reclassified Section 951A  PTEP Group  -->
			<xsd:element name="CFCReclassifiedSect951APTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Reclassified Section 951A  PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(iv)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Reclassified Section 245Ad PTEP Group  -->
			<xsd:element name="CFCReclsSect245AdPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Reclassified Section 245Ad PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(v)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Section 965a PTEP Group  -->
			<xsd:element name="CFCSection965aPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Section 965a PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(vi)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Section 965b PTEP Group  -->
			<xsd:element name="CFCSection965bPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Section 965b PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(vii)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Section 951A  PTEP Group  -->
			<xsd:element name="CFCSection951APTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Section 951A  PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(viii)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Section 245Ad PTEP Group  -->
			<xsd:element name="CFCSection245AdPTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Section 245Ad PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(ix)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--  CFC Section 951a1A  PTEP Group  -->
			<xsd:element name="CFCSection951a1APTEPGrp" type="Form5471ScheduleE1Grp4Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Section 951a1A  PTEP Group</Description>
						<LineNumber>Schedule E-1 Lines 1a - 16, Column (e)(x)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--  Taxes Foreign Tax Credit Disallowed Group Type  -->
	<xsd:complexType name="TxsForeignTaxCrDisallowedGrpType">
		<xsd:sequence>
			<!-- Payor Name -->
			<xsd:element name="PayorName" type="BusinessNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Payor Name</Description>
						<LineNumber>Part III (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="1">
				<!-- Payor EIN -->
				<xsd:element name="PayorEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Payor EIN</Description>
							<LineNumber>Part III (b)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Entity Identification Group -->
				<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Entity Identification Group</Description>
							<LineNumber>Part III (b)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Section 901j) Tax Amount -->
			<xsd:element name="Section901jTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 901j) Tax Amount</Description>
						<LineNumber>Part III (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 901k Section 901l Tax Amount -->
			<xsd:element name="Section901kSection901lTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 901k Section 901l Tax Amount</Description>
						<LineNumber>Part III (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 901m Tax Amount -->
			<xsd:element name="Section901mTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 901m Tax Amount</Description>
						<LineNumber>Part III (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- US Taxes Amount -->
			<xsd:element name="USTaxesAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>US Taxes Amount</Description>
						<LineNumber>Part III (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Suspended Taxes Amount -->
			<xsd:element name="SuspendedTaxesAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Suspended Taxes Amount</Description>
						<LineNumber>Part III (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Tax Amount -->
			<xsd:element name="OtherTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Tax Amount</Description>
						<LineNumber>Part III (h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax Amount -->
			<xsd:element name="TotalTaxAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax Amount</Description>
						<LineNumber>Part III (i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Form 5471 Schedule E-1 Group1 Type -->
	<xsd:complexType name="Form5471ScheduleE1Grp1Type">
		<xsd:sequence>
			<!-- Beginning Year Balance Amount -->
			<xsd:element name="BeginningYearBalanceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning Year Balance Amount</Description>
						<LineNumber>Schedule E-1 Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Beginning Balance Adjustment Amount -->
			<xsd:element name="BeginningBalanceAdjustmentAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning Balance Adjustment Amount</Description>
						<LineNumber>Schedule E-1 Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Beginning Balance Amount -->
			<xsd:element name="AdjustedBeginningBalanceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Beginning Balance Amount</Description>
						<LineNumber>Schedule E-1 Line 1c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Foreign Tax Credit Amount -->
			<xsd:element name="AdjustedForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Foreign Tax Credit Amount</Description>
						<LineNumber>Schedule E-1 Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Reduction Taxes Unsuspended Rule Amount -->
			<xsd:element name="ReductionTxsUnsuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Taxes Unsuspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Disallowed Deduction Taxes Suspended Rules Amount -->
			<xsd:element name="DsallwDedTxsSuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disallowed Deduction Taxes Suspended Rules Amount</Description>
						<LineNumber>Schedule E-1 Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax In US Dollars Amount -->
			<xsd:element name="TotalTaxInUSDollarsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In US Dollars Amount</Description>
						<LineNumber>Schedule E-1 Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EP Carryover Nonrecognition Transactions Amount -->
			<xsd:element name="EPCyovNonrecognitionTransAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EP Carryover Nonrecognition Transactions Amount</Description>
						<LineNumber>Schedule E-1 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax Deemed Paid Section 960b Amount - Schedule E-1 Line 6 -->
			<!-- Total Other Adjustments Amount -->
			<xsd:element name="TotalOtherAdjustmentsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other Adjustments Amount</Description>
						<LineNumber>Schedule E-1 Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Current Accumulated EP Amount -->
			<xsd:element name="TotalCurrentAccumulatedEPAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Accumulated EP Amount</Description>
						<LineNumber>Schedule E-1 Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Taxes Deemed Paid Amount - Schedule E-1 Line 9 -->
			<!-- Actual Distribution Amount -->
			<xsd:element name="ActualDistributionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Actual Distribution Amount</Description>
						<LineNumber>Schedule E-1 Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Earnings Invested US Property Reclassified Amount -->
			<xsd:element name="EarnInvstUSPropReclassifiedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings Invested US Property Reclassified Amount</Description>
						<LineNumber>Schedule E-1 Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Adjustments Total Amount -->
			<xsd:element name="OtherAdjustmentsTotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Adjustments Total Amount</Description>
						<LineNumber>Schedule E-1 Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Taxes Paid Or Accrued Amount - Schedule E-1 Line 13 -->
			<!-- Reduction Tested Income Taxes Not Deemed Paid Amount - Schedule E-1 Line 14 -->
			<!-- Reduction Other Taxes Not Deemed Paid Amount - Schedule E-1 Line 15 -->
			<!-- Balance Beginning Next Year Amount -->
			<xsd:element name="BalanceBeginningNextYearAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Other Taxes Not Deemed Paid Amount</Description>
						<LineNumber>Schedule E-1 Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Form 5471 Schedule E1 Group2 Type  -->
	<xsd:complexType name="Form5471ScheduleE1Grp2Type">
		<xsd:sequence>
			<!-- Beginning Year Balance Amount - Schedule E-1 Line 1a -->
			<!-- Beginning Balance Adjustment Amount - Schedule E-1 Line 1b -->
			<!-- Adjusted Beginning Balance Amount - Schedule E-1 Line 1c -->
			<!-- Adjusted Foreign Tax Credit Amount - Schedule E-1 Line 2-->
			<!-- Reduction Taxes Unsuspended Rule Amount -->
			<xsd:element name="ReductionTxsUnsuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Taxes Unsuspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Disallowed Deduction Taxes Suspended Rule Amount -->
			<xsd:element name="DsallwDedTxsSuspendedRuleAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disallowed Deduction Taxes Suspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax In US Dollars Amount -->
			<xsd:element name="TotalTaxInUSDollarsAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In US Dollars Amount</Description>
						<LineNumber>Schedule E-1 Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EP Carryover Nonrecognition Transactions Amount -->
			<xsd:element name="EPCyovNonrecognitionTransAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EP Carryover Nonrecognition Transactions Amount</Description>
						<LineNumber>Schedule E-1 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax Deemed Paid Section 960b Amount - Schedule E-1 Line 6 -->
			<!-- Total Other Adjustments Amount -->
			<xsd:element name="TotalOtherAdjustmentsAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other Adjustments Amount</Description>
						<LineNumber>Schedule E-1 Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Current Accumulated EP Amount -->
			<xsd:element name="TotalCurrentAccumulatedEPAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Accumulated EP Amount</Description>
						<LineNumber>Schedule E-1 Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Taxes Deemed Paid Amount - Schedule E-1 Line 9 -->
			<!-- Actual Distribution Amount - Schedule E-1 Line 10 -->
			<!-- Earnings Invested US Property Reclassified Amount -->
			<xsd:element name="EarnInvstUSPropReclassifiedAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings Invested US Property Reclassified Amount</Description>
						<LineNumber>Schedule E-1 Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Adjustments Total Amount -->
			<xsd:element name="OtherAdjustmentsTotalAmt" type="ForeignAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Adjustments Total Amount</Description>
						<LineNumber>Schedule E-1 Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Taxes Paid Or Accrued Amount -->
			<xsd:element name="BalanceTxsPaidOrAccruedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Balance Taxes Paid Or Accrued Amount</Description>
						<LineNumber>Schedule E-1 Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Reduction Tested Income Taxes Not Deemed Paid Amount - Schedule E-1 Line 14 -->
			<!-- Reduction Other Taxes Not Deemed Paid Amount -->
			<xsd:element name="RedOtherTxsNotDeemedPdAmt" type="USAmountNonPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Other Taxes Not Deemed Paid Amount</Description>
						<LineNumber>Schedule E-1 Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Beginning Next Year Amount - Schedule E-1 Line 16 -->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Form 5471 Schedule E1 Group3 Type  -->
	<xsd:complexType name="Form5471ScheduleE1Grp3Type">
		<xsd:sequence>
			<!-- Beginning Year Balance Amount - Schedule E-1 Line 1a -->
			<!-- Beginning Balance Adjustment Amount - Schedule E-1 Line 1b -->
			<!-- Adjusted Beginning Balance Amount - Schedule E-1 Line 1c -->
			<!-- Adjusted Foreign Tax Credit Amount - Schedule E-1 Line 2-->
			<!-- Reduction Taxes Unsuspended Rule Amount -->
			<xsd:element name="ReductionTxsUnsuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Taxes Unsuspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Disallowed Deduction Taxes Suspended Rule Amount -->
			<xsd:element name="DsallwDedTxsSuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disallowed Deduction Taxes Suspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax In US Dollars Amount -->
			<xsd:element name="TotalTaxInUSDollarsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In US Dollars Amount</Description>
						<LineNumber>Schedule E-1 Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EP Carryover Nonrecognition Transactions Amount -->
			<xsd:element name="EPCyovNonrecognitionTransAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EP Carryover Nonrecognition Transactions Amount</Description>
						<LineNumber>Schedule E-1 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax Deemed Paid Section 960b Amount - Schedule E-1 Line 6-->
			<!-- Total Other Adjustments Amount -->
			<xsd:element name="TotalOtherAdjustmentsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other Adjustments Amount</Description>
						<LineNumber>Schedule E-1 Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Current Accumulated EP Amount -->
			<xsd:element name="TotalCurrentAccumulatedEPAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Accumulated EP Amount</Description>
						<LineNumber>Schedule E-1 Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Taxes Deemed Paid Amount -->
			<xsd:element name="TaxesDeemedPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes Deemed Paid Amount</Description>
						<LineNumber>Schedule E-1 Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Actual Distribution Amount - Schedule E-1 Line 10 -->
			<!-- Earnings Invested US Property Reclassified Amount -->
			<xsd:element name="EarnInvstUSPropReclassifiedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings Invested US Property Reclassified Amount</Description>
						<LineNumber>Schedule E-1 Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Adjustments Total Amount -->
			<xsd:element name="OtherAdjustmentsTotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Adjustments Total Amount</Description>
						<LineNumber>Schedule E-1 Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Taxes Paid Or Accrued Amount -->
			<xsd:element name="BalanceTxsPaidOrAccruedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Balance Taxes Paid Or Accrued Amount</Description>
						<LineNumber>Schedule E-1 Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Reduction Tested Income Taxes Not Deemed Paid Amount -Schedule E-1 Line 14 -->
			<!-- Reduction Other Taxes Not Deemed Paid Amount -->
			<xsd:element name="RedOtherTxsNotDeemedPdAmt" type="USAmountNonPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Other Taxes Not Deemed Paid Amount</Description>
						<LineNumber>Schedule E-1 Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Beginning Next Year Amount - Schedule E-1 Line 16 -->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Form 5471 Schedule E1 Group4 Type-->
	<xsd:complexType name="Form5471ScheduleE1Grp4Type">
		<xsd:sequence>
			<!-- Beginning Year Balance Amount -->
			<xsd:element name="BeginningYearBalanceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning Year Balance Amount</Description>
						<LineNumber>Schedule E-1 Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Beginning Balance Adjustment Amount -->
			<xsd:element name="BeginningBalanceAdjustmentAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning Balance Adjustment Amount</Description>
						<LineNumber>Schedule E-1 Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Beginning Balance Amount -->
			<xsd:element name="AdjustedBeginningBalanceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Beginning Balance Amount</Description>
						<LineNumber>Schedule E-1 Line 1c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Foreign Tax Credit Amount -->
			<xsd:element name="AdjustedForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Foreign Tax Credit Amount</Description>
						<LineNumber>Schedule E-1 Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Reduction Taxes Unsuspended Rule Amount -->
			<xsd:element name="ReductionTxsUnsuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Taxes Unsuspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Disallowed Deduction Taxes Suspended Rule Amount -->
			<xsd:element name="DsallwDedTxsSuspendedRuleAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disallowed Deduction Taxes Suspended Rule Amount</Description>
						<LineNumber>Schedule E-1 Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Tax In US Dollars Amount -->
			<xsd:element name="TotalTaxInUSDollarsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Tax In US Dollars Amount</Description>
						<LineNumber>Schedule E-1 Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EP Carryover Nonrecognition Transactions Amount -->
			<xsd:element name="EPCyovNonrecognitionTransAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EP Carryover Nonrecognition Transactions Amount</Description>
						<LineNumber>Schedule E-1 Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Taxes Deemed Paid Section 960b Amount -->
			<xsd:element name="TotalTaxDeemedPdSection960bAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Taxes Deemed Paid Section 960b Amount</Description>
						<LineNumber>Schedule E-1 Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Other Adjustments Amount -->
			<xsd:element name="TotalOtherAdjustmentsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other Adjustments Amount</Description>
						<LineNumber>Schedule E-1 Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Current Accumulated EP Amount -->
			<xsd:element name="TotalCurrentAccumulatedEPAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Accumulated EP Amount</Description>
						<LineNumber>Schedule E-1 Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Taxes Deemed Paid Amount - Schedule E-1 Line 9 -->
			<!-- Actual Distribution Amount -->
			<xsd:element name="ActualDistributionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Actual Distribution Amount</Description>
						<LineNumber>Schedule E-1 Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Earnings Invested US Property Reclassified Amount -->
			<xsd:element name="EarnInvstUSPropReclassifiedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings Invested US Property Reclassified Amount</Description>
						<LineNumber>Schedule E-1 Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Adjustments Total Amount -->
			<xsd:element name="OtherAdjustmentsTotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Adjustments Total Amount</Description>
						<LineNumber>Schedule E-1 Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Balance Taxes Paid Or Accrued Amount - Schedule E-1 Line 13 -->
			<!-- Reduction Tested Income Taxes Not Deemed Paid Amount - 14 -->
			<!-- Reduction Other Taxes Not Deemed Paid Amount - Schedule E-1 Line 15 -->
			<!-- Balance Beginning Next Year Amount -->
			<xsd:element name="BalanceBeginningNextYearAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction Other Taxes Not Deemed Paid Amount</Description>
						<LineNumber>Schedule E-1 Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
