public/xsl/2025/IRS7204.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:annotation>
        <xsd:documentation>
            <Description>IRS e-file Schema - Form 7204 - Consent To Extend the Time To Assess Tax Related to Contested Foreign Income Taxes - Provisional Foreign Tax Credit Agreement</Description>
            <TaxYear>2025</TaxYear>
            <MaturityLevel>Final Release</MaturityLevel>
            <ReleaseDate>February 19 2026</ReleaseDate>
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
    
    <!-- ============================================= -->
    <!-- =============== IRS Form 7204 =============== -->
    <!-- ============================================= -->
    
    <xsd:element name="IRS7204">
        <xsd:annotation>
            <xsd:documentation>IRS Form 7204 - Consent To Extend the Time To Assess Tax Related to Contested Foreign Income Taxes - Provisional Foreign Tax Credit Agreement</xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="IRS7204Type">
                    <xsd:attributeGroup ref="DocumentAttributes">
                        <xsd:annotation>
                            <xsd:documentation>Common return document attributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attributeGroup>
                    
                    <xsd:attribute name="documentName" type="TextType" fixed="IRS7204">
                        <xsd:annotation>
                            <xsd:documentation>IRS internal use only. To avoid errors within the return, do not include the attribute name or value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentId" type="IdListType">
                        <xsd:annotation>
                            <xsd:documentation>List of document IDs of forms, schedules, supporting info. etc. attached to this form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentName" type="TextType" fixed="BinaryAttachment GeneralDependencySmall"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="IRS7204Type">
        <xsd:sequence>
            <xsd:choice>
                <!-- Foreign Tax Credit Accrual Basis Indicator -->
                <xsd:element name="ClmForeignTaxCrAccrualBasisInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Tax Credit Accrual Basis Indicator</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Foreign Tax Credit Cash Basis Indicator -->
                <xsd:element name="ClmForeignTaxCrCashBasisInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Foreign Tax Credit Cash Basis Indicator</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- US Tax Year End Date -->
            <xsd:element name="USTaxYearEndDt" type="DateType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>US Tax Year End Date</Description>
                        <LineNumber>1</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Description of Contested Foreign Income Tax Liability -->
            <xsd:element name="ContestDesc" type="ShortExplanationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Description of Contested Foreign Income Tax Liability</Description>
                        <LineNumber>6a</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Payor Entity Name -->
            <xsd:element name="PayorName" type="BusinessNameType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Payor Entity Name</Description>
                        <LineNumber>6b</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:choice>
                <!-- Payor Entity EIN -->
                <xsd:element name="PayorEIN" type="EINType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Payor Entity EIN</Description>
                            <LineNumber>6b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Payor Reference ID Number -->
                <xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Payor Reference ID Number</Description>
                            <LineNumber>6b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Contested Foreign Income Tax Reference ID Number -->
            <xsd:element name="ContestedFrgnIncmTxRefIdNum">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Contested Foreign Income Tax Reference ID Number</Description>
                        <LineNumber>6c</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:simpleType>
                    <xsd:restriction base="TextType">
                        <xsd:pattern value="[1-9][0-9]{3}((0[1-9])|(1[0-2]))[A-Z]{2}([0-9]{3}[1-9]|[0-9]{2}[1-9]0|[0-9][1-9]00|[1-9]000)"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <!-- Tax Paid Country Code -->
            <xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Tax Paid Country Code</Description>
                        <LineNumber>6d</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Contested Foreign Income Tax Liablity Remittance Group -->
            <xsd:element name="ContestedFrgnIncmTaxLiabRmtGrp" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Contested Foreign Income Tax Liablity Remittance Group</Description>
                        <LineNumber>6e</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice>
                            <!-- US Income Remitted Amount -->
                            <xsd:element name="USRemittanceAmt" type="USAmountNNType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>US Income Remitted Amount</Description>
                                        <LineNumber>6e</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            
                            <!-- Foreign Income Remitted Amount -->
                            <xsd:element name="ForeignRemittanceAmt" type="ForeignAmountNNType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Foreign Income Remitted Amount</Description>
                                        <LineNumber>6e</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                        
                        <!-- Income Remitted Date -->
                        <xsd:element name="RemittanceDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Income Remitted Date</Description>
                                    <LineNumber>6e</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:choice minOccurs="0">
                <!-- Attorney Or Agent Indicator -->
                <xsd:element name="AttorneyOrAgentInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Attorney Or Agent Indicator</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Trustee Indicator -->
                <xsd:element name="TrusteeInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Trustee Indicator</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Executor, Administrator Or Other Fiduciary Indicator -->
                <xsd:element name="ExecutorAdminOtherFiduciaryInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Executor, Administrator Or Other Fiduciary Indicator</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
