public/xsl/2025/IRS7205.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:annotation>
        <xsd:documentation>
            <Description>IRS e-file Schema - Form 7205 - Energy Efficient Commercial Buildings Deduction</Description>
            <TaxYear>2025</TaxYear>
            <MaturityLevel>Final Release</MaturityLevel>
            <ReleaseDate>February 19 2026</ReleaseDate>
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
    
    <!-- ============================================= -->
    <!-- =============== IRS Form 7205 =============== -->
    <!-- ============================================= -->
    
    <xsd:element name="IRS7205">
        <xsd:annotation>
            <xsd:documentation>IRS Form 7205 - Energy Efficient Commercial Buildings Deduction</xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="IRS7205Type">
                    <xsd:attributeGroup ref="DocumentAttributes">
                        <xsd:annotation>
                            <xsd:documentation>Common return document attributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attributeGroup>
                    
                    <xsd:attribute name="documentName" type="TextType" fixed="IRS7205">
                        <xsd:annotation>
                            <xsd:documentation>IRS internal use only. To avoid errors within the return, do not include the attribute name or value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentId" type="IdListType">
                        <xsd:annotation>
                            <xsd:documentation>List of document IDs of forms, schedules, supporting info. etc. attached to this form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentName" type="TextType" fixed="BinaryAttachment GeneralDependencySmall"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="IRS7205Type">
        <xsd:sequence>
            <xsd:choice>
                <!-- Building owner claiming deduction -->
                <xsd:element name="BuildingOwnerInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Building owner claiming deduction</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Designer claiming deduction of energy efficient property (EEP) -->
                <xsd:element name="EEPDesignerInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Designer claiming deduction of energy efficient property (EEP)</Description>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- =============== Part I Building and EEP Information =============== -->
            
            <!-- Energy Building Deduction Group -->
            <xsd:element name="EnergyBuildingDeductionGrp" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Energy Building Deduction Group</Description>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- Building US Address -->
                        <xsd:element name="BuildingUSAddress" type="USAddressType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Building US Address</Description>
                                    <LineNumber>Part I Line 1(a)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Date building was placed in service -->
                        <xsd:element name="EEPPlacedInServiceDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Date building was placed in service</Description>
                                    <LineNumber>Part I Line 1(b)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- EECBP system and computed energy savings or energy use intensity reduction rate -->
                        <xsd:element name="EECBPEgySavIntensityRedRt" type="SmallRatioType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>EECBP system and computed energy savings or energy use intensity reduction rate</Description>
                                    <LineNumber>Part I Line 1(c)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Interim lighting rule was used -->
                        <xsd:element name="IncreasedDeductionAmtMetInd" type="CheckboxType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Interim lighting rule was used</Description>
                                    <LineNumber>Part I Line 1(d)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- EEBRP was installed under a Qualified Retrofit Plan -->
                        <xsd:element name="EEBRPQlfyRetrofitPlanInd" type="CheckboxType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>EEBRP was installed under a Qualified Retrofit Plan</Description>
                                    <LineNumber>Part I Line 1(e)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="PotPerSqFtAmt" type="USDecimalAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <LineNumber>Part I Line 1(f)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Building square footage -->
                        <xsd:element name="BuildingSquareFootageNum" type="IntegerNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Building square footage</Description>
                                    <LineNumber>Part I Line 1(g)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Total potential section 179D deduction amount -->
                        <xsd:element name="PotentialSect179DDedAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Total potential section 179D deduction amount</Description>
                                    <LineNumber>Part I Line 1(h)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- =============== Part II Computation of Energy Efficient Commercial Buildings Deduction Amount =============== -->
                        
                        <!-- Total square foot amount claimed in prior years -->
                        <xsd:element name="PriorYearTotalSqFtClaimedAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Total square foot amount claimed in prior years</Description>
                                    <LineNumber>Part II Line 2 (a)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Square foot claimed for tax year amount. -->
                        <xsd:element name="CYSqFtClaimedAmt" type="USDecimalAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Square foot claimed for tax year amount.</Description>
                                    <LineNumber>Part II Line 2 (b)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:choice>
                            <!-- Potential section 179D group -->
                            <xsd:element name="Potential179DGrp">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Potential section 179D group</Description>
                                        <LineNumber>Part II Line 2 (c) - 2 (d)</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                                
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <!-- Current tax year square foot is greater or equal to total potential square foot indicator -->
                                        <xsd:element name="CYSqFtGrtrEqualPotPerSqFtInd" type="CheckboxType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Current tax year square foot is greater or equal to total potential square foot indicator</Description>
                                                    <LineNumber>Part II Line 2 (c)</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        
                                        <!-- Potential Section 179D deduction amount or enter zero -->
                                        <xsd:element name="PotSect179DDedOrEnterZeroAmt" type="USDecimalAmountNNType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Potential Section 179D deduction amount or enter zero</Description>
                                                    <LineNumber>Part II Line 2 (d)</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            
                            <!-- Building square footage group -->
                            <xsd:element name="BuildingSquareFootageGrp">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Building square footage group</Description>
                                        <LineNumber>Part II Line 2 (e) - 2 (f)</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                                
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <!-- Current tax year square foot less square footage total potential indicator -->
                                        <xsd:element name="CYSqFtLessThanPotPerSqFtInd" type="CheckboxType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Current tax year square foot less square footage total potential indicator</Description>
                                                    <LineNumber>Part II Line 2 (e)</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        
                                        <!-- Current year square foot multiplied by building square foot. -->
                                        <xsd:element name="CYSqFootTimesBldgSqFtAmt" type="USAmountNNType">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <Description>Current year square foot multiplied by building square foot.</Description>
                                                    <LineNumber>Part II Line 2 (f)</LineNumber>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                        
                        <!-- Energy efficient commercial building costs -->
                        <xsd:element name="EEPCostsAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Energy efficient commercial building costs</Description>
                                    <LineNumber>Part II Line 2 (g)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Enter the greater of specified columns -->
                        <xsd:element name="GreaterThanPotSect179DDedAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Enter the greater of specified columns</Description>
                                    <LineNumber>Part II Line 2 (h)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Enter the lesser of specified columns -->
                        <xsd:element name="LesserThanPotSect179DDedAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Enter the lesser of specified columns</Description>
                                    <LineNumber>Part II Line 2 (i)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Designing Section 179D deduction amount -->
                        <xsd:element name="Sect179DDedAllocDesignerAmt" type="USAmountNNType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Designing Section 179D deduction amount</Description>
                                    <LineNumber>Part II Line 2 (j)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Section 179D deduction for the building -->
                        <xsd:element name="Sect179DDedBuildingAmt" type="USAmountNNType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Section 179D deduction for the building</Description>
                                    <LineNumber>Part II Line 2 (k)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- =============== Part III Certification Information for Each Property Listed in Part I =============== -->
                        
                        <!-- Name of qualified individual completing certification -->
                        <xsd:element name="QualifiedIndividualNm" type="PersonNameType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Name of qualified individual completing certification</Description>
                                    <LineNumber>Part III Line 4 (a)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- Date of certification -->
                        <xsd:element name="CertificationDt" type="DateType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Date of certification</Description>
                                    <LineNumber>Part III Line 4 (b)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:choice>
                            <!-- Employer of qualified individual (business) -->
                            <xsd:element name="QlfyIndivBusinessEmplrName" type="BusinessNameType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Employer of qualified individual (business)</Description>
                                        <LineNumber>Part III Line 4 (c)</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>

                            <!-- Employer of qualified individual (person) -->
                            <xsd:element name="QlfyIndivPersonEmplrName" type="PersonNameType">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <Description>Employer of qualified individual (person)</Description>
                                        <LineNumber>Part III Line 4 (c)</LineNumber>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                        
                        <!-- Address of qualified individual -->
                        <xsd:element name="QualifiedIndividualUSAddress" type="USAddressType">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Address of qualified individual</Description>
                                    <LineNumber>Part III Line 4 (d)</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <!-- =============== Part IV Designer Allocation Information for Each Property Listed in Part I (to be completed by Designer only) =============== -->
                        
                        <!-- Designer allocation information group -->
                        <xsd:element name="DesignerAllocationInfoPropGrp" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <Description>Designer allocation information group</Description>
                                    <LineNumber>Part IV</LineNumber>
                                </xsd:documentation>
                            </xsd:annotation>
                            
                            <xsd:complexType>
                                <xsd:sequence>
                                    <!-- Building owner's name -->
                                    <xsd:element name="BuildingOwnerName" type="BusinessNameType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Building owner's name</Description>
                                                <LineNumber>Part IV Line 5 (a)</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Allocation date -->
                                    <xsd:element name="AllocationDt" type="DateType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Allocation date</Description>
                                                <LineNumber>Part IV Line 5 (b)</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Name of building owner's authorized representative completing allocation -->
                                    <xsd:element name="AuthorizedRepNm" type="PersonNameType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Name of building owner's authorized representative completing allocation</Description>
                                                <LineNumber>Part IV Line 5 (c)</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    
                                    <!-- Address of building owner's authorized representative -->
                                    <xsd:element name="AuthorizedRepUSAddress" type="USAddressType">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <Description>Address of building owner's authorized representative</Description>
                                                <LineNumber>Part IV Line 5 (d)</LineNumber>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Total deduction amount -->
            <xsd:element name="EnergyEffcntCmrclBldgDedAmt" type="USAmountNNType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Total deduction amount</Description>
                        <LineNumber>Part II Line 3</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
