public/xsl/2025/IRS8829.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Individual Income Tax Schema - IRS Form 8829 Expenses for Business Use of Your Home</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- ========================= IRS Form 8829 ========================== -->
	<!-- ================================================================== -->

	<xsd:element name="IRS8829">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8829</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8829Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8829">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
					<xsd:annotation>
						<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
					</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>	
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS8829Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8829</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Name of Proprietor -->
			<xsd:element name="ProprietorNm" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Proprietor</Description>
						<LineNumber/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- SSN of Proprietor -->
			<xsd:element name="SSN" type="SSNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>SSN of Proprietor</Description>
						<LineNumber/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part I  Part of Your Home Used for Business -->
			<!-- Business Use Square Feet -->
			<xsd:element name="BusinessUseSquareFeetCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Use Square Feet</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Total Home Square Feet -->
			<xsd:element name="TotalAreaOfHomeCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Home Square Feet</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Business Square Feet Percent -->
			<xsd:element name="BusinessSquareFeetPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Square Feet Percent</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Business Use Hours -->
			<xsd:element name="BusinessUseHoursCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Use Hours</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Total Hours Available -->
			<xsd:element name="TotalHoursAvailableCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Hours Available</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Business Hours Percent -->
			<xsd:element name="BusinessHoursPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Hours Percent</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Business Percentage  -->
			<xsd:element name="BusinessPct" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Percentage</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="RatioType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="SpecialComputationForCertainDaycareFacilitiesStatement">
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Part II Figure Your Allowable Deduction -->
			<!-- Tentative Profit/Loss Schedule C -->
			<xsd:element name="HomeBusinessGainOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative Profit/Loss Schedule C</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Casualty Losses Direct -->
			<xsd:element name="CasualtyLossesDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Casualty Losses Direct</Description>
						<LineNumber>9a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Casualty Losses Indirect -->
			<xsd:element name="CasualtyLossesIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Casualty Losses Indirect</Description>
						<LineNumber>9b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Deductible Mortgage Interest Direct -->
			<xsd:element name="DeductibleMortgageIntDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deductible Mortgage Interest Direct</Description>
						<LineNumber>10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Deductible Mortgage Interest Indirect -->
			<xsd:element name="DeductibleMortgageIntIndrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deductible Mortgage Interest Indirect</Description>
						<LineNumber>10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Real Estate Taxes Direct -->
			<xsd:element name="RealEstateTaxesDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Real Estate Taxes Direct</Description>
						<LineNumber>11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Real Estate Taxes Indirect -->
			<xsd:element name="RealEstateTaxesIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Real Estate Taxes Indirect</Description>
						<LineNumber>11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Direct Deducted Subtotal -->
			<xsd:element name="DirectDeductedExpnssSubtlAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct Deducted Subtotal</Description>
						<LineNumber>12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Indirect Deducted Subtotal -->
			<xsd:element name="IndirectDeductedExpnssSubtlAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indirect Deducted Subtotal</Description>
						<LineNumber>12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable Indirect Deducted Expenses -->
			<xsd:element name="AllowableIndrDeductedExpnssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable Indirect Deducted Expenses</Description>
						<LineNumber>13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Deductible Net -->
			<xsd:element name="DirectAndIndirectExpnsSubtlAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deductible Net</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Reduced Profit/Loss -->
			<xsd:element name="HomeBusinessIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduced Profit/Loss</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Deductible Mortgage Interest Direct -->
			<xsd:element name="ExcessMortgageIntDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Deductible Mortgage Interest Direct</Description>
						<LineNumber>16a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Deductible Mortgage Interest Indirect -->
			<xsd:element name="ExcessMortgageIntIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Deductible Mortgage Interest Indirect</Description>
						<LineNumber>16b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Excess RealEstate Taxes Direct Amount -->
			<xsd:element name="ExcessRealEstateTxsDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess RealEstate Taxes Direct Amount</Description>
						<LineNumber>17a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Excess RealEstate Taxes Indirect Amount -->
			<xsd:element name="ExcessRealEstateTxsIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess RealEstate Taxes Indirect Amount</Description>
						<LineNumber>17b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Insurance Direct -->
			<xsd:element name="InsuranceDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Insurance Direct</Description>
						<LineNumber>18a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Insurance Indirect -->
			<xsd:element name="InsuranceIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Insurance Indirect</Description>
						<LineNumber>18b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rent Direct -->
			<xsd:element name="RentDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rent Direct</Description>
						<LineNumber>19a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rent Indirect -->
			<xsd:element name="RentIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rent Indirect</Description>
						<LineNumber>19b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Repairs/Maint. Direct -->
			<xsd:element name="RepairsAndMaintDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Repairs/Maint. Direct</Description>
						<LineNumber>20a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Repairs/Maint. Indirect -->
			<xsd:element name="RepairsAndMaintIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Repairs/Maint. Indirect</Description>
						<LineNumber>20b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Utilities Direct -->
			<xsd:element name="UtilitiesDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Utilities Direct</Description>
						<LineNumber>21a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Utilities Indirect -->
			<xsd:element name="UtilitiesIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Utilities Indirect</Description>
						<LineNumber>21b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Expenses Direct -->
			<xsd:element name="OtherExpensesDirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Expenses Direct</Description>
						<LineNumber>22a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Expenses Indirect -->
			<xsd:element name="OtherExpensesIndirectAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Expenses Indirect</Description>
						<LineNumber>22b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Direct Non-Deducted Subtotal -->
			<xsd:element name="DirectNondeductedSubtotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct Non-Deducted Subtotal</Description>
						<LineNumber>23a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Indirect Non-Deducted Subtotal -->
			<xsd:element name="IndirectNondeductedSubtotalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indirect Non-Deducted Subtotal</Description>
						<LineNumber>23b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable Indirect Non-Deducted Expenses -->
			<xsd:element name="AllwblIndrNondeductedExpnssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable Indirect Non-Deducted Expenses</Description>
						<LineNumber>24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Operating Expenses Carryover -->
			<xsd:element name="OperatingExpensesCarryoverAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Operating Expenses Carryover</Description>
						<LineNumber>25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Deductible Net -->
			<xsd:element name="NondeductibleNetExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Deductible Net</Description>
						<LineNumber>26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable Operating Expenses -->
			<xsd:element name="AllowableOperatingExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable Operating Expenses</Description>
						<LineNumber>27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Casualty Loss and Depreciation Limit -->
			<xsd:element name="CsltyLossesAndDeprecLimitAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Casualty Loss and Depreciation Limit</Description>
						<LineNumber>28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Non-Deductible Casualty Loss -->
			<xsd:element name="ExcessCasualtyLossesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-Deductible Casualty Loss</Description>
						<LineNumber>29</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Line 30: Use Value of Line 42, AllowableHomeDepreciationAmt -->
			<!-- Excess Casualty Losses &amp; Deprec. Carryover -->
			<xsd:element name="CyovExCsltyLossesAndDeprecAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess Casualty Losses &amp; Deprec. Carryover</Description>
						<LineNumber>31</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Casualty Losses and Depreciation Net -->
			<xsd:element name="CasualtyLossesAndDeprecNetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Casualty Losses and Depreciation Net</Description>
						<LineNumber>32</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable Casualty Losses and Depreciation -->
			<xsd:element name="AllwblExCsltyLossesDeprecAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable Casualty Losses and Depreciation</Description>
						<LineNumber>33</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Allowable Expenses -->
			<xsd:element name="TotalAllowableExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Allowable Expenses</Description>
						<LineNumber>34</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Form 4684 Casualty Losses -->
			<xsd:element name="CasualtyLossPortionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 4684 Casualty Losses</Description>
						<LineNumber>35</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Schedule C Allowable Expenses -->
			<xsd:element name="AllowableHomeBusExpnssSchCAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Schedule C Allowable Expenses</Description>
						<LineNumber>36</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part III Depreciation of Your Home -->
			<!-- Home Adjusted Basis or Fair Market -->
			<xsd:element name="HomeAdjBasisOrFairMarketAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Home Adjusted Basis or Fair Market</Description>
						<LineNumber>37</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="CostOrOtherBasisOfAdditionsAndImprovementsSchedule">
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Land Value -->
			<xsd:element name="ValueOfLandAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Land Value</Description>
						<LineNumber>38</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Building Value -->
			<xsd:element name="BasisOfBuildingAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Building Value</Description>
						<LineNumber>39</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Building Value-Business -->
			<xsd:element name="BusinessBasisOfBuildingAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Building Value-Business</Description>
						<LineNumber>40</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Home Depreciation Percent -->
			<xsd:element name="DepreciationPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Home Depreciation Percent</Description>
						<LineNumber>41</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Allowable Home Depreciation -->
			<xsd:element name="AllowableHomeDepreciationAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowable Home Depreciation</Description>
						<LineNumber>42</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DepreciationComputationSchedule IRS4562">
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Part IV Carryover of Unallowed Expenses to the next year -->
			<!-- Unallowed Operating Expenses -->
			<xsd:element name="OperatingExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unallowed Operating Expenses</Description>
						<LineNumber>43</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Unallowed Excess Casualty Losses and Depreciation -->
			<xsd:element name="ExcessCsltyLossesAndDeprecAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unallowed Excess Casualty Losses and Depreciation</Description>
						<LineNumber>44</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
