public/xsl/2025/IRS8283.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8283</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8283 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8283">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8283</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8283Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8283">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>Dependency document IDs attachment for this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment DeductionsTakenUnderSection170Stmt DoneesSignatureUnavailableStmt">
						<xsd:annotation>
							<xsd:documentation>Dependency document names attachment for this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8283Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8283</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:choice minOccurs="0">

				<xsd:sequence>
					<!-- Original noncash person name -->
					<xsd:element name="OriginalNoncashPersonNm" type="PersonNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Original noncash person name</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Original noncash SSN -->
					<xsd:element name="OriginalNoncashSSN" type="SSNType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Original noncash SSN</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				
				<xsd:sequence>
					<!-- Original noncash business name -->
					<xsd:element name="OriginalNoncashBusinessName" type="BusinessNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Original noncash business name</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Original noncash EIN -->
					<xsd:element name="OriginalNoncashEIN" type="EINType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Original noncash EIN</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>

			</xsd:choice>

			<!-- Pass-through entity made the noncash charitable contribution -->
			<xsd:element name="FamilyPassThroughEntityInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-through entity made the noncash charitable contribution</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<!-- Section A.  Donated Property of $5,000 or Less and Certain Publicly Traded Securities -->
			
			<!-- Information on donated property -->
			<xsd:element name="InformationOnDonatedProperty" type="DonatedPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Information on donated property</Description>
						<LineNumber>Section A Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section B. Donated Property Over $5,000 -->

			<!-- Part I: Information on Donated Property -->

			<!-- Property Type - Art $20,000 or More -->
			<xsd:element name="ArtWorthAtLeast20000DollarsInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - art $20,000 or more</Description>
						<LineNumber>Section B Part I Line 2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Property Type - Qualified Conservation Contribution -->
			<xsd:element name="QualifiedConservationContriInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - qualified conservation contribution</Description>
						<LineNumber>Section B Part I Line 2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Property type - certified historic structure -->
			<xsd:element name="CertifiedHistoricStructureInd"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - certified historic structure</Description>
						<LineNumber>Section B Part I Line 2b1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="nationalParkServiceNum">
								<xsd:simpleType>
									<xsd:restriction base="IntegerNNType">
										<xsd:totalDigits value="5"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
					
			<!-- Property Type - Art Less Than $20,000 -->
			<xsd:element name="ArtWorthLssThan20000DollarsInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - art less than $20,000</Description>
						<LineNumber>Section B Part I Line 2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Property Type - Other Real Estate -->
			<xsd:element name="OtherRealEstateInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - other real estate</Description>
						<LineNumber>Section B Part I Line 2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			
			<!-- Property type - equipment -->
			<xsd:element name="EquipmentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - equipment</Description>
						<LineNumber>Section B Part I Line 2e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
						
			<!-- Property Type - Securities -->
			<xsd:element name="SecuritiesInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - securities</Description>
						<LineNumber>Section B Part I Line 2f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Property Type - Collectibles -->
			<xsd:element name="CollectiblesInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - collectibles</Description>
						<LineNumber>Section B Part I Line 2g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Property Type - Intellectual Property -->
			<xsd:element name="IntellectualPropertyInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - intellectual property</Description>
						<LineNumber>Section B Part I Line 2h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Property Type - Vehicles -->
			<xsd:element name="VehicleInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicles</Description>
						<LineNumber>Section B Part I Line 2i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Clothing Household Items Indicator -->
			<xsd:element name="ClothingHouseholdItemsInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Clothing household items indicator</Description>
						<LineNumber>Section B Part I Line 2j</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Property type - digital assets -->
			<xsd:element name="DigitalAssetsInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - digital assets</Description>
						<LineNumber>Section B Part I Line 2k</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Property Type - Other -->
			<xsd:element name="OtherInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property type - other</Description>
						<LineNumber>Section B Part I Line 2l</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			

			<!-- Section B Part I Line 3 Property Information -->
			
			<!-- Property Information -->
			<xsd:element name="PropertyInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property information</Description>
						<LineNumber>Section B Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PropertyInformationType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ContemporaneousWrittenAcknowledgmentStatement ContributionsOfMotorVehiclesBoatsAndAirplanesStatement"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Part III: Taxpayer (Donor) Statement -->

			<!-- Property Identifying Letter and Description -->
			<xsd:element name="PropertyIdLetterAndDescGrp" type="PropertyIdLetterAndDescGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property identifying letter and description</Description>
						<LineNumber>Section B Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part IV: Declaration of Appraiser -->

			<!-- Name Of Appraiser -->
			<xsd:element name="AppraiserName" type="PersonFullNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of appraiser</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Title Of Appraiser -->
			<xsd:element name="AppraiserTitleTxt" type="PersonTitleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Title of appraiser</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date Signed By Appraiser -->
			<xsd:element name="AppraiserSignedDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date Signed by appraiser</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Address Of Appraiser - choice between US Address or Foreign Address -->
			<xsd:choice minOccurs="0">

				<!-- US Address of Appraiser -->
				<xsd:element name="AppraiserUSAddress" type="OtherUSAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of appraiser</Description>
							<LineNumber>Section B Part IV</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Appraiser -->
				<xsd:element name="AppraiserForeignAddress" type="OtherForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of appraiser</Description>
							<LineNumber>Section B Part IV</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>
			
			<!-- Choice between Appraiser SSN or Appraiser EIN -->
			<xsd:choice minOccurs="0">

				<!-- Appraiser SSN -->
				<xsd:element name="AppraiserSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Appraiser SSN</Description>
							<LineNumber>Section B Part IV</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Appraiser EIN -->
				<xsd:element name="AppraiserEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Appraiser EIN</Description>
							<LineNumber>Section B Part IV</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>							

			<!-- Part V:  Donee Acknowledgment -->

			<!-- Date Received -->
			<xsd:element name="ReceivedDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date received</Description>
						<LineNumber>Section B Part V</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Use Property For Unrelated Use -->
			<xsd:element name="UsePropertyForUnrelatedUseInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Use property for unrelated use</Description>
						<LineNumber>Section B Part V</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Donee Name -->
			<xsd:element name="DoneeName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee name</Description>
						<LineNumber>Section B Part V</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Donee EIN -->
			<xsd:element name="DoneeEIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donee EIN</Description>
						<LineNumber>Section B Part V</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Address of Donee - choice between US Address or Foreign Address -->
			<xsd:choice minOccurs="0">

				<!-- US Address of Donee -->
				<xsd:element name="DoneeUSAddress" type="OtherUSAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of donee</Description>
							<LineNumber>Section B Part V</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Donee -->
				<xsd:element name="DoneeForeignAddress" type="OtherForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of donee</Description>
							<LineNumber>Section B Part V</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Donated Property Recurring Type -->
	<xsd:complexType name="DonatedPropertyType">
		<xsd:sequence>

			<!-- Letter(s) (leftmost table column) that Identifies the Property -->
			<xsd:element name="PropertyId" type="PropertyIdentifierType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Letter(s) (leftmost table column) that identifies the property</Description>
						<LineNumber>Section A identifier column</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Name of Donee Organization -->
			<xsd:element name="DoneeOrganizationName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of donee organization</Description>
						<LineNumber>Section A Line 1 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Address of Donee Organization - choice between US Address or Foreign Address -->
			<xsd:choice minOccurs="0">

				<!-- US Address of Donee Organization -->
				<xsd:element name="DoneeOrganizationUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of donee organization</Description>
							<LineNumber>Section A Line 1 Column (a)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Donee Organization -->
				<xsd:element name="DoneeOrganizationFrgnAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of donee organization</Description>
							<LineNumber>Section A Line 1 Column (a)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Donated Property Vehicle Checkbox -->
			<xsd:element name="DonatedPropertyVehicleInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donated property vehicle checkbox</Description>
						<LineNumber>Section A Line 1 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ContributionsOfMotorVehiclesBoatsAndAirplanesStatement ContemporaneousWrittenAcknowledgmentStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
				
			<!-- Vehicle Identification Number -->
			<xsd:element name="VIN" type="VINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle identification number</Description>
						<LineNumber>Section A Line 1 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Description of Donated Property -->
			<xsd:element name="DonatedPropertyDesc" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of donated property</Description>
						<LineNumber>Section A Line 1 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Donor Line Detail -->
			<xsd:element name="DonorLineDetail" type="DonorLineDetailType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donor line detail</Description>
						<LineNumber>Section A Line 1 Columns (d) - (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValueAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value</Description>
						<LineNumber>Section A Line 1 Column (h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="scheduleK1Cd">
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="From Schedule K-1 (Form 1065 or 1120S)"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="FairMarketValueStatement QualifiedConservationContributionStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Method Used to Determine the Fair Market Value -->
			<xsd:element name="FairMarketValueMethodDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Method used to determine the fair market value</Description>
						<LineNumber>Section A Line 1 Column (i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PropertyInformationType">
		<xsd:sequence>

			<!-- Letter(s) (leftmost table column) that Identifies the Property -->
			<xsd:element name="PropertyId" type="PropertyIdentifierType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Letter(s) (leftmost table column) that identifies the property</Description>
						<LineNumber>Section B Part I identifier column</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Description of Donated Property -->
			<xsd:element name="DonatedPropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of Donated Property</Description>
						<LineNumber>Section B Part I Line 3 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- If Tangible Property was Donated, Give a Brief Summary of the Overall Phyisical Condition at the Time of the Gift -->
			<xsd:element name="DonatedPropertyPhysicalCondTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>If tangible property was donated, give a brief summary of the overall phyisical condition at the time of the gift</Description>
						<LineNumber>Section B Part I Line 3 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Appraised Fair Market Value -->
			<xsd:element name="AppraisedFairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Appraised fair market value</Description>
						<LineNumber>Section B Part I Line 3 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date Acquired by Donor -->
			<xsd:element name="DonorAcquiredDt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date acquired by donor</Description>
						<LineNumber>Section B Part I Line 3 Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DateAcquiredByDonorType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonableCauseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- How Acquired by Donor -->
			<xsd:element name="DonorAcquisitionDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>How acquired by donor</Description>
						<LineNumber>Section B Part I Line 3 Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ShortDescriptionType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonableCauseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Donor's Cost or Adjusted Basis -->
			<xsd:element name="DonorCostOrAdjustedBasisAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donor's Cost or Adjusted Basis</Description>
						<LineNumber>Section B Part I Line 3 Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonableCauseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- For Bargain Sales, Enter Amount Received -->
			<xsd:element name="BargainSalesReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>For bargain sales, enter amount received</Description>
						<LineNumber>Section B Part I Line 3 Column (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified conservation contribution relevant basis -->
			<xsd:element name="QlfyCnsvrContriRelevantBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified conservation contribution relevant basis</Description>
						<LineNumber>Section B Part I Line 3 Column (h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Claimed as a Deduction -->
			<xsd:element name="DeductionClaimedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount claimed as a deduction</Description>
						<LineNumber>Section B Part I Line 3 Column (i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section B Part II Partial Interests and Restricted Use Property -->

			<!-- Total Amount Claimed as a Deduction for the Property Listed in Part I for this Tax Year -->
			<xsd:element name="TotalDeductionClaimedThisTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount claimed as a deduction for the property listed in Part I for this tax year</Description>
						<LineNumber>Section B Part II Line 4b(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Amount Claimed as a Deduction for the Property Listed in Part I for Any Prior Tax Year -->
			<xsd:element name="TotalDeductionClaimedPrTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount claimed as a deduction for the property listed in Part I for any prior tax year</Description>
						<LineNumber>Section B Part II Line 4b(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Name of Each Organization to which Any Such Contribution was Made in a Prior Year -->
			<xsd:element name="OrganizationNm" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of each organization to which any such contribution was made in a prior year</Description>
						<LineNumber>Section B Part II Line 4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Address of Organization - choice between US Address or Foreign Address -->
			<xsd:choice minOccurs="0">

				<!-- US Address of Each Organization to which Any Such Contribution was Made in a Prior Year -->
				<xsd:element name="OrganizationUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of each organization to which any such contribution was made in a prior year</Description>
							<LineNumber>Section B Part II Line 4c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Each Organization to which Any Such Contribution was Made in a Prior Year -->
				<xsd:element name="OrganizationForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of each organization to which any such contribution was made in a prior year</Description>
							<LineNumber>Section B Part II Line 4c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- For Tangible Property, Enter the Place where the Property is Located -->
			<xsd:element name="TangiblePropertyLocationTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>For tangible property, enter the place where the property is located</Description>
						<LineNumber>Section B Part II Line 4d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Name of Person - choice between Business Name or Person Name -->
			<xsd:choice minOccurs="0">


				<!-- Business Name of Any Person, Other than the Donee Organization, Having Actual Possession of the Property -->
				<xsd:element name="PersonPossessingPropBusName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business Name of any person, other than the donee organization, having actual possession of the property</Description>
							<LineNumber>Section B Part II Line 4e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Name of Any Person, Other than the Donee Organization, Having Actual Possession of the Property -->
				<xsd:element name="PersonPossessingPropPersonNm" type="NameLine1Type">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of any person, other than the donee organization, having actual possession of the property</Description>
							<LineNumber>Section B Part II Line 4e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Is there a Restriction, Temporary or Permanent, on the Donee's Right to Use or Dispose of the Donated Property -->
			<xsd:element name="DonatedPropertyRestrictionInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Is there a restriction, temporary or permanent, on the donee's right to use or dispose of the donated property</Description>
						<LineNumber>Section B Part II Line 5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RestrictedUseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Did You Give Anyone the Right to the Income from the Donated Property -->
			<xsd:element name="DonatedPropertyRightsGivenInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did you give anyone the right to the income from the donated property</Description>
						<LineNumber>Section B Part II Line 5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RestrictedUseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Is there a Restriction Limiting the Donated Property for a Particular Use? -->
			<xsd:element name="DonatedPropertyLimitingRstrInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is there a restriction limiting the donated property for a particular use</Description>
						<LineNumber>Section B Part II Line 5c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RestrictedUseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

	<!-- Donated Property Identifying Letter and Description Type -->
	<xsd:complexType name="PropertyIdLetterAndDescGrpType">
		<xsd:sequence>

			<!-- Letter(s) (leftmost table column) that identifies the property -->
			<xsd:element name="PropertyId" type="PropertyIdentifierType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Letter(s) (leftmost table column) that identifies the property</Description>
						<LineNumber>Section B Part III identifier column</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Property Item Description -->
			<xsd:element name="DonatedPropertyDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property item description</Description>
						<LineNumber>Section B Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Property Identifier Type (for table row identification in Section A & B) -->
	<xsd:simpleType name="PropertyIdentifierType">
		<xsd:restriction base="TextType">
			<xsd:maxLength value="3"/>
			<xsd:pattern value="[A-Z]+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Date Acquired By Donor Type - YearMonthType or "VARIOUS" (for DateAcquiredByDonor in Section A & B) -->
	<xsd:simpleType name="DateAcquiredByDonorType">
		<xsd:union memberTypes="YearMonthType">
			<xsd:simpleType>
				<xsd:restriction base="TextType">
					<xsd:enumeration value="VARIOUS"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<!-- Donor Line Detail Type -->
	<xsd:complexType name="DonorLineDetailType">
		<xsd:sequence>

			<!-- Date of the Contribution -->
			<xsd:element name="ContributionDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of the contribution</Description>
						<LineNumber>Section A Line 1 Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date Acquired by Donor -->
			<xsd:element name="DonorAcquiredDt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date acquired by donor</Description>
						<LineNumber>Section A Line 1 Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DateAcquiredByDonorType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonableCauseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- How Acquired by Donor -->
			<xsd:element name="DonorAcquisitionDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>How acquired by donor</Description>
						<LineNumber>Section A Line 1 Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Donor's Cost or Adjusted Basis -->
			<xsd:element name="DonorCostOrAdjustedBasisAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Donors cost or adjusted basis</Description>
						<LineNumber>Section A Line 1 Column (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonableCauseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
