public/xsl/2025/IRS8586.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8586</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8586 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8586">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8586</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8586Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8586">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8586Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8586</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Buildings Placed in Service After 2007 -->

			<!-- Number of Forms 8609-A Attached After 2007 -->
			<xsd:element name="Forms8609AAttachedAftr2007Cnt" type="NumberOfAttachedFormsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of forms 8609-A attached after 2007</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has There Been a Decrease in the Qualified Basis of any Building(s) After 2007 -->
			<xsd:element name="DecrQlfyBssOfBldgsAF2007Ind" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has there been a decrease in the qualified basis of any building(s) after 2007</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Decrease in the Qualified Basis of Building After 2007 -->
			<xsd:element name="DecrInQlfyBasisOfBldgsAF2007" type="DecrInQlfyBasisOfBldgsAF2007Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Decrease in the qualified basis of building after 2007</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit After 2007 -->
			<xsd:element name="CurrentYearCreditAftr2007Amt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit after 2007</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8609A"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Low-Income Housing Credits After 2007 -->
			<xsd:element name="LowIncomeHousingCrAF2007Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Low-income housing credits after 2007</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 10 and 11 -->
			<xsd:element name="LowIncmHsnCrPlusCurYrCrAF07Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Low income housing credit after 2007 plus current year credit after 2007 (Add lines 3 and 4)</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Allocated to Beneficiaries -->
			<xsd:element name="AllocToBeneficiariesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount allocated to beneficiaries</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estates And Trusts Result -->
			<xsd:element name="EstatesAndTrustsResultAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estates And Trusts Result</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>

	<!-- Number of Attached Forms Type -->
	<xsd:simpleType name="NumberOfAttachedFormsType">
		<xsd:restriction base="IntegerType">
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- ===== Type for Decrease in The Qualified Basis of Building After 2007 ===== -->

	<xsd:complexType name="DecrInQlfyBasisOfBldgsAF2007Type">
		<xsd:sequence>

			<!-- Decrease in the Qualified Basis of Building After 2007 -->
			<xsd:element name="BIN" type="BINType" minOccurs="0" maxOccurs="4">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Decrease in the qualified basis of building after 2007</Description>
						<LineNumber>2(1), 2(ii), 2(iii), 2(iv)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>

		<xsd:attribute name="referenceDocumentId" type="IdListType"/>
		<xsd:attribute name="referenceDocumentName" type="StringType" fixed="MultipleBuildingProjectSchedule"/>

	</xsd:complexType>

</xsd:schema>
