public/xsl/2025/IRS8992ScheduleA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 8992 Schedule A</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =========================================================== -->
	<!-- ================ IRS Form 8992 Schedule A ================= -->
	<!-- =========================================================== -->

	<xsd:element name="IRS8992ScheduleA">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8992 Schedule A</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8992ScheduleAType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8992ScheduleA">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8992ScheduleAType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8992 Schedule A</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:choice minOccurs="0">
				<!-- Shareholder Business Name -->
				<xsd:element name="ShareholderBusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder Business Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Shareholder Person Name -->
				<xsd:element name="ShareholderPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder Person Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<xsd:choice minOccurs="0">
				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<xsd:element name="USShrCalcGILTIGrp" type="USShrCalcGILTIGrpType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>U.S. Shareholder Calculation of GILTI Group</Description>
						<LineNumber>Schedule A, Columns (a) - (l)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Net Tested Income Amount -->
			<xsd:element name="TotalNetTestedIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Net Tested Income Amount</Description>
						<LineNumber>Schedule A Line 1, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Net Tested Loss Amount -->
			<xsd:element name="TotalNetTestedLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Net Tested Loss Amount</Description>
						<LineNumber>Schedule A Line 1, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of CFC Tested Income Amount -->
			<xsd:element name="TotProRataShrCFCTestedIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of CFC Tested Income Amount</Description>
						<LineNumber>Schedule A Line 1, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of Net Tested Loss Amount -->
			<xsd:element name="TotProRataShrNetTestedLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of Net Tested Loss Amount</Description>
						<LineNumber>Schedule A Line 1, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of QBAI Amount -->
			<xsd:element name="TotalProRataShareQBAIAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of QBAI Amount</Description>
						<LineNumber>Schedule A Line 1, Column (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of Tested Loss QBAI Amount -->
			<xsd:element name="TotProRataShrTestedLossQBAIAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of Tested Loss QBAI Amount</Description>
						<LineNumber>Schedule A Line 1, Column (h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of Tested Interest Income -->
			<xsd:element name="TotProRataShrTestedIntIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of Tested Interest Income</Description>
						<LineNumber>Schedule A Line 1, Column (i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pro Rata Share Of Tested Interest Expense -->
			<xsd:element name="TotProRataShrTestedIntExpnsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pro Rata Share Of Tested Interest Expense</Description>
						<LineNumber>Schedule A Line 1, Column (j)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total GILTI Allocation Ratio -->
			<xsd:element name="TotalGILTIAllocationRt" type="Decimal4RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total GILTI Allocation Ratio</Description>
						<LineNumber>Schedule A Line 1, Column (k)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total GILTI Allocated To Tested Income CFCs -->
			<xsd:element name="TotGILTIAllocTestedIncmCFCAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total GILTI Allocated To Tested Income CFCs</Description>
						<LineNumber>Schedule A Line 1, Column (l)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type used for 8992 Schedule A Columns (a) - (k) -->
	<xsd:complexType name="USShrCalcGILTIGrpType">
		<xsd:sequence>

			<!-- Controlled Foreign Corporation Name -->
			<xsd:element name="CFCName" type="BusinessNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Controlled Foreign Corporation Name</Description>
						<LineNumber>Schedule A, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
						<LineNumber>Schedule A, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Reference ID Number -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reference ID Number</Description>
				  		<LineNumber>Schedule A, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tested Income Amount -->
			<xsd:element name="NetTestedIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Tested Income Amount</Description>
						<LineNumber>Schedule A, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Tested Loss Amount -->
			<xsd:element name="NetTestedLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Tested Loss Amount</Description>
						<LineNumber>Schedule A, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pro Rata Share Of CFC Tested Income Amount -->
			<xsd:element name="ProRataShareCFCTestedIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Of CFC Tested Income Amount</Description>
						<LineNumber>Schedule A, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pro Rata Share Of Net Tested Loss Amount -->
			<xsd:element name="ProRataShrNetTestedLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Of Net Tested Loss Amount</Description>
						<LineNumber>Schedule A, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pro Rata Share Of QBAI (Qualified Business Asset Investment) Amount -->
			<xsd:element name="ProRataShareQBAIAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Of QBAI Amount</Description>
						<LineNumber>Schedule A, Column (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pro Rata Share Of Tested Loss QBAI Amount -->
			<xsd:element name="ProRataShrTestedLossQBAIAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Of Tested Loss QBAI Amount</Description>
						<LineNumber>Schedule A, Column (h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Pro Rata Share Of Tested Interest Income Amount -->
			<xsd:element name="ProRataShrTestedIntIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description> Pro Rata Share Of Tested Interest Income Amount</Description>
						<LineNumber>Schedule A, Column (i)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pro Rata Share Of Tested Interest Expense Amount -->
			<xsd:element name="ProRataShrTestedIntExpenseAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pro Rata Share Of Tested Interest Expense Amount</Description>
						<LineNumber>Schedule A, Column (j)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- GILTI Allocation Ratio -->
			<xsd:element name="GILTIAllocationRt" type="Decimal4RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>GILTI Allocation Ratio</Description>
						<LineNumber>Schedule A, Column (k)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- GILTI Allocated To Tested Income CFCs Amount -->
			<xsd:element name="GILTIAllocTestedIncmCFCAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>GILTI Allocated To Tested Income CFCs Amount</Description>
						<LineNumber>Schedule A, Column (l)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

