public/xsl/2025/IRS8865ScheduleG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8865 Schedule G</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- ==================== IRS Form 8865 Schedule G ===================== -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8865ScheduleG">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8865 Schedule G</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8865ScheduleGType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8865ScheduleG">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment IRS8865ScheduleH"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8865ScheduleGType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8865 Schedule G</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:choice minOccurs="0">
				<!-- Filer Name -->
				<xsd:element name="FilerName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Filer Person Name -->
				<xsd:element name="FilerPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer Person Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<xsd:choice minOccurs="0">
				<!-- Filer SSN -->
				<xsd:element name="FilerSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Filer EIN -->
				<xsd:element name="FilerEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>

			<!-- Foreign Partnership Name -->
			<xsd:element name="ForeignPartnershipName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Partnership Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Successor Partnership Indicator -->
			<xsd:element name="SuccessorPartnershipInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Successor Partnership Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:choice minOccurs="0">
				<!-- Foreign Partnership EIN -->
				<xsd:element name="ForeignPartnershipEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Partnership Missing EIN Reason Code -->
				<xsd:element name="FrgnPrtshpMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign Partnership Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			
			<!-- Foreign Entity Reference ID Number -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Reference ID Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:choice minOccurs="0">
				<!-- Transferor Person Name -->
				<xsd:element name="TransferorPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Transferor Person Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Transferor Business Name -->
				<xsd:element name="TransferorBusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Transferor Business Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Successor U.S. Transferor Indicator -->
			<xsd:element name="SuccessorUSTransferorInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Successor U.S. Transferor Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year Gain Deferral Contribution Indicator -->
			<xsd:element name="TYGainDeferralContributionInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Year Gain Deferral Contribution Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annual Reporting Indicator -->
			<xsd:element name="AnnualReportingInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annual Reporting Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="Section721CPropertyGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Section721CPropertyGrp</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Part I  Section 721(c) Property -->

						<!-- Line number -->
						<xsd:element name="LineNum">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Line number</Description>
									<LineNumber>Part I, Column 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="4"/>
									<xsd:pattern value="[0-9]+"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Tax year of contribution -->
						<xsd:element name="ContributionYr" type="YearType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax year of contribution</Description>
									<LineNumber>Part I, Column 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Description of property -->
						<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Description of property</Description>
									<LineNumber>Part I, Column 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Recovery period -->
						<xsd:element name="RecoveryPeriodDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Recovery period</Description>
									<LineNumber>Part I, Column 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Section 197(f)(9) property -->
						<xsd:element name="Section197f9PropertyInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Section 197(f)(9) property</Description>
									<LineNumber>Part I, Column 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Effectively connected income property -->
						<xsd:element name="ECIPropertyInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Effectively connected income property</Description>
									<LineNumber>Part I, Column 5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Fair market value -->
						<xsd:element name="FairMarketValueAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Fair market value</Description>
									<LineNumber>Part I, Column 6(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted basis -->
						<xsd:element name="AdjustedBasisAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted basis</Description>
									<LineNumber>Part I, Column 6(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Built-in gain -->
						<xsd:element name="BuiltInGainAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Built-in gain</Description>
									<LineNumber>Part I, Column 6(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Acceleration (including partial acceleration event) -->
						<xsd:element name="AccelerationEventInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Acceleration (including partial acceleration event)</Description>
									<LineNumber>Part I, Column 7(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Termination -->
						<xsd:element name="TerminationEventInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Termination</Description>
									<LineNumber>Part I, Column 7(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Successor -->
						<xsd:element name="SuccessorEventInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Successor</Description>
									<LineNumber>Part I, Column 7(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Tax disposition of a portion of partnership interest -->
						<xsd:element name="TxDisposPrtnPrtshpIntEvtInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Tax disposition of a portion of partnership interest</Description>
									<LineNumber>Part I, Column 7(d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Section 367 transfer -->
						<xsd:element name="Sect367TransferEvtInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Section 367 transfer</Description>
									<LineNumber>Part I, Column 7(e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Part II  Remaining Built-in Gain, Remedial Income, and Gain Recognition -->

						<!-- Remaining built-in gain at beginning of tax year -->
						<xsd:element name="RemainingBuiltInGainBOYAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Remaining built-in gain at beginning of tax year</Description>
									<LineNumber>Part II, Column (a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Remaining built-in gain at end of tax year -->
						<xsd:element name="RemainingBuiltInGainEOYAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Remaining built-in gain at end of tax year</Description>
									<LineNumber>Part II, Column (b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Remedial income allocated to U.S. transferor -->
						<xsd:element name="RmdlIncmAllocUSTrnsfrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Remedial income allocated to U.S. transferor</Description>
									<LineNumber>Part II, Column (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gain recognized due to acceleration event -->
						<xsd:element name="GainRcgnzByAccelerationAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gain recognized due to acceleration event</Description>
									<LineNumber>Part II, Column (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gain recognized due to section 367 transfer -->
						<xsd:element name="GainRcgnzBySect367TrnsfrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gain recognized due to section 367 transfer</Description>
									<LineNumber>Part II, Column (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Part III  Allocation Percentages of Partnership Items With Respect to Section 721(c) Property -->

						<!-- Percentage of income for U.S. transferor -->
						<xsd:element name="USTransferorIncomePct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of income for U.S. transferor</Description>
									<LineNumber>Part III, Column 1(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of income for related domestic partners -->
						<xsd:element name="RelatedDomesticPartnerIncmPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of income for related domestic partners</Description>
									<LineNumber>Part III, Column 1(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of income for related foreign partners -->
						<xsd:element name="RelatedForeignPartnerIncomePct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of income for related foreign partners</Description>
									<LineNumber>Part III, Column 1(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of gain for U.S. transferor -->
						<xsd:element name="USTransferorGainPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of gain for U.S. transferor</Description>
									<LineNumber>Part III, Column 2(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of gain for related domestic partners -->
						<xsd:element name="RelatedDomesticPartnerGainPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of gain for related domestic partners</Description>
									<LineNumber>Part III, Column 2(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of gain for related foreign partners -->
						<xsd:element name="RelatedForeignPartnerGainPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of gain for related foreign partners</Description>
									<LineNumber>Part III, Column 2(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of deduction for U.S. transferor -->
						<xsd:element name="USTransferorDedPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of deduction for U.S. transferor</Description>
									<LineNumber>Part III, Column 3(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of deduction for related domestic partners -->
						<xsd:element name="RelatedDomesticPartnerDedPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of deduction for related domestic partners</Description>
									<LineNumber>Part III, Column 3(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of deduction for related foreign partners -->
						<xsd:element name="RelatedForeignPartnerDedPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of deduction for related foreign partners</Description>
									<LineNumber>Part III, Column 3(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of loss for U.S. transferor -->
						<xsd:element name="USTransferorLossPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of loss for U.S. transferor</Description>
									<LineNumber>Part III, Column 4(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of loss for related domestic partners -->
						<xsd:element name="RelatedDomesticPartnerLossPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of loss for related domestic partners</Description>
									<LineNumber>Part III, Column 4(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of loss for related foreign partners -->
						<xsd:element name="RelatedForeignPartnerLossPct" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of loss for related foreign partners</Description>
									<LineNumber>Part III, Column 4(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Part IV  Allocation of Items to U.S. Transferor With Respect to Section 721(c) Property -->

						<!-- Income per books amount -->
						<xsd:element name="IncomePerBooksAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Income per books amount</Description>
									<LineNumber>Part IV, Column 1(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Income per tax return amount -->
						<xsd:element name="IncomePerTaxReturnAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Income per tax return amount</Description>
									<LineNumber>Part IV, Column 1(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gain per books amount -->
						<xsd:element name="GainPerBooksAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gain per books amount</Description>
									<LineNumber>Part IV, Column 2(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gain per tax return amount -->
						<xsd:element name="GainPerTaxReturnAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gain per tax return amount</Description>
									<LineNumber>Part IV, Column 2(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Deduction per books amount -->
						<xsd:element name="DeductionPerBooksAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Deduction per books amount</Description>
									<LineNumber>Part IV, Column 3(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Deduction per tax return amount -->
						<xsd:element name="DeductionPerTaxReturnAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Deduction per tax return amount</Description>
									<LineNumber>Part IV, Column 3(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Loss per books amount -->
						<xsd:element name="LossPerBooksAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Loss per books amount</Description>
									<LineNumber>Part IV, Column 4(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Loss per tax return amount -->
						<xsd:element name="LossPerTaxReturnAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Loss per tax return amount</Description>
									<LineNumber>Part IV, Column 4(b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Tiered partnership rules apply to this partnership indicator -->
			<xsd:element name="TieredPrtshpRlsApplyInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tiered partnership rules apply to this partnership indicator</Description>
						<LineNumber>Part I, Yes or No</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total remaining built-in gain at beginning of tax year -->
			<xsd:element name="TotRemainingBuiltInGainBOYAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total remaining built-in gain at beginning of tax year</Description>
						<LineNumber>Part II, Column (a) Total</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total remaining built-in gain at end of tax year -->
			<xsd:element name="TotRemainingBuiltInGainEOYAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total remaining built-in gain at end of tax year</Description>
						<LineNumber>Part II, Column (b) Total</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total remedial income allocated to U.S. transferor -->
			<xsd:element name="TotRmdlIncmAllocUSTrnsfrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total remedial income allocated to U.S. transferor</Description>
						<LineNumber>Part II, Column (c) Total</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total gain recognized due to acceleration event -->
			<xsd:element name="TotGainRcgnzByAccelerationAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total gain recognized due to acceleration event</Description>
						<LineNumber>Part II, Column (d) Total</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total gain recognized due to section 367 transfer -->
			<xsd:element name="TotGainRcgnzBySect367TrnsfrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total gain recognized due to section 367 transfer</Description>
						<LineNumber>Part II, Column (e) Total</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part V  Additional Information -->

			<!-- Section 721(c) acceleration event indicator -->
			<xsd:element name="Sect721cAccelerationEventInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) acceleration event indicator</Description>
						<LineNumber>Part V Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 721(c) termination event indicator -->
			<xsd:element name="Section721cTerminationEventInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) termination event indicator</Description>
						<LineNumber>Part V Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 721(c) successor event indicator -->
			<xsd:element name="Section721cSuccessorEventInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) successor event indicator</Description>
						<LineNumber>Part V Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 721(c) disposition a portion of partnership interest event indicator -->
			<xsd:element name="S721cDisposPrtnPrtshpIntEvtInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) disposition a portion of partnership interest event indicator</Description>
						<LineNumber>Part V Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 721(c) and Sections 367 transfer event indicator -->
			<xsd:element name="Sect721cSect367TransferEvtInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) and Sections 367 transfer event indicator</Description>
						<LineNumber>Part V Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Additional Section 721(c) property contribution indicator -->
			<xsd:element name="AddnlSect721cPropContriInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional Section 721(c) property contribution indicator</Description>
						<LineNumber>Part V Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gain deferral method applied indicator -->
			<xsd:element name="GainDeferralMethodAppliedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain deferral method applied indicator</Description>
						<LineNumber>Part V Line 6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Copy of waiver of treaty benefits filed indicator -->
			<xsd:element name="CopyWaiverTreatyBenefitsFldInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Copy of waiver of treaty benefits filed indicator</Description>
						<LineNumber>Part V Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 721(c) effectively connected income from property indicator -->
			<xsd:element name="Section721cECIPropertyInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 721(c) effectively connected income from property indicator</Description>
						<LineNumber>Part V Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part VI  Supplemental Information -->

			<!-- Supplemental information -->
			<xsd:element name="SupplementalInfoTxt" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental information</Description>
						<LineNumber>Part VI</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
