public/xsl/2025/IRS8933ScheduleE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:annotation>
        <xsd:documentation>
            <Description>IRS e-file Schema - Form 8933 Schedule E - Election Certification</Description>
            <TaxYear>2025</TaxYear>
            <MaturityLevel>Final Release</MaturityLevel>
            <ReleaseDate>February 19 2026</ReleaseDate>
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:include schemaLocation="../../Common/efileTypes.xsd"/>
    
    <!-- ======================================================== -->
    <!-- =============== IRS Form 8933 Schedule E =============== -->
    <!-- ======================================================== -->
    
    <xsd:element name="IRS8933ScheduleE">
        <xsd:annotation>
            <xsd:documentation>IRS Form 8933 Schedule E - Election Certification</xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="IRS8933ScheduleEType">
                    <xsd:attributeGroup ref="DocumentAttributes">
                        <xsd:annotation>
                            <xsd:documentation>Common return document attributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attributeGroup>
                    
                    <xsd:attribute name="documentName" type="TextType" fixed="IRS8933ScheduleE">
                        <xsd:annotation>
                            <xsd:documentation>IRS internal use only. To avoid errors within the return, do not include the attribute name or value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentId" type="IdListType">
                        <xsd:annotation>
                            <xsd:documentation>List of document IDs of forms, schedules, supporting info. etc. attached to this form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    
                    <xsd:attribute name="referenceDocumentName" type="TextType" fixed="GeneralDependencySmall"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="IRS8933ScheduleEType">
        <xsd:sequence>
            <!-- =============== Part I =============== -->
            <!-- =============== Section 1 =============== -->
            <xsd:choice>
				<xsd:sequence>
					<!-- Facility owner person name -->
					<xsd:element name="FacilityOwnerPersonNm" type="PersonNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Facility owner person name</Description>
								<LineNumber>Part I, Section 1, Line 1</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
            
					<!-- Facility owner SSN -->
					<xsd:element name="FacilityOwnerSSN" type="SSNType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Facility owner SSN</Description>
								<LineNumber>Part I, Section 1, Line 2</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				
				<xsd:sequence>
					<!-- Facility owner business name -->
					<xsd:element name="FacilityOwnerBusinessName" type="BusinessNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Facility owner business name</Description>
								<LineNumber>Part I, Section 1, Line 1</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
            
					<!-- Facility owner EIN -->
					<xsd:element name="FacilityOwnerEIN" type="EINType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Facility owner EIN</Description>
								<LineNumber>Part I, Section 1, Line 2</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			
            <xsd:choice>
                <!-- Facility owner U.S. address -->
                <xsd:element name="FacilityOwnerUSAddress" type="USAddressType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Facility owner U.S. address</Description>
                            <LineNumber>Part I, Section 1, Line 3</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Facility owner foreign address -->
                <xsd:element name="FacilityOwnerForeignAddress" type="ForeignAddressType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Facility owner foreign address</Description>
                            <LineNumber>Part I, Section 1, Line 3</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Location of capture facility -->
            <xsd:element name="FacilityUSAddress" type="USAddressType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Location of capture facility</Description>
                        <LineNumber>Part I, Section 1, Line 4</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Placed-in-service date -->
            <xsd:element name="FacilityPlacedInServiceDt" type="DateType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Placed-in-service date</Description>
                        <LineNumber>Part 1, Section I, Line 5</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Type of industrial facility -->
            <xsd:element name="FacilityTypeDesc" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Type of industrial facility</Description>
                        <LineNumber>Part 1, Section I, Line 6</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
				<xsd:simpleType>
                    <xsd:restriction base="TextType">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <!-- Facility IRS-issued regristration number -->
            <xsd:element name="FacilityIRSIssdRegistrationNum" type="FacilityIRSIssdRegistrationNumType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Facility IRS-issued regristration number</Description>
                        <LineNumber>Part 1, Section I, Line 7a</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Facility EPA e-GGRT ID number(s) -->
            <xsd:element name="FacilityEPAeGGRTIdNum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Facility EPA e-GGRT ID number(s)</Description>
                        <LineNumber>Part 1, Section I, Line 7b</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:simpleType>
                    <xsd:restriction base="TextType">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <!-- =============== Section 2 =============== -->
            <xsd:choice>
				<xsd:sequence>
					<!-- Claimant person name -->
					<xsd:element name="ClaimantPersonNm" type="PersonNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Claimant person name</Description>
								<LineNumber>Part I, Section 2, Line 8</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
            
					<!-- Claimant social security number (SSN) -->
					<xsd:element name="ClaimantSSN" type="SSNType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Claimant social security number (SSN)</Description>
								<LineNumber>Part I, Section 2, Line 9</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				
				<xsd:sequence>	
					<!-- Claimant business name -->
					<xsd:element name="ClaimantBusinessName" type="BusinessNameType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Claimant business name</Description>
								<LineNumber>Part I, Section 2, Line 8</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
            
					<!-- Claimant Employer identification number (EIN) -->
					<xsd:element name="ClaimantEIN" type="EINType">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Claimant Employer identification number (EIN)</Description>
								<LineNumber>Part I, Section 2, Line 9</LineNumber>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				
            </xsd:choice>
			
            <xsd:choice>
                <!-- Claimant U.S. address -->
                <xsd:element name="ClaimantUSAddress" type="USAddressType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Claimant U.S. address</Description>
                            <LineNumber>Part I, Section 2, Line 10</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Claimant foreign address -->
                <xsd:element name="ClaimantForeignAddress" type="ForeignAddressType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Claimant foreign address</Description>
                            <LineNumber>Part I, Section 2, Line 10</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Do you attest tht the credit claimant isn't a subcontractor? -->
            <xsd:element name="AttestCrCImntNotSbcntrctInd" type="BooleanType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Do you attest tht the credit claimant isn't a subcontractor?</Description>
                        <LineNumber>Part I, Section 2, Line 11</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:choice>
                <!-- Credit claimant disposed of qualified carbon oxide in storage and didn't use it as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5) -->
                <xsd:element name="DisposQlfyCrbnOxdNotUsedInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit claimant disposed of qualified carbon oxide in storage and didn't use it as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 12a</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit claimant disposed of qualified carbon oxide in secure storage and used it as a tertiary injectant or natural gas recovery project -->
                <xsd:element name="DisposQlfyCrbnOxdUsedInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit claimant disposed of qualified carbon oxide in secure storage and used it as a tertiary injectant or natural gas recovery project</Description>
                            <LineNumber>Part I, Section 2, Line 12b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Check if credit claimant utilized qualified carbon oxide in 45Q(f)(5) -->
                <xsd:element name="UtilizedtQlfyCrbnOxd45Qf5Ind" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Check if credit claimant utilized qualified carbon oxide in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 12c</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Location of disposal site -->
            <xsd:element name="LocationAddressInUS" type="USAddressType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Location of disposal site</Description>
                        <LineNumber>Part I, Section 2, Line 13</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Disposal site IRS-issued registration number -->
            <xsd:element name="DispSiteIRSIssdRegistrationNum" minOccurs="0" type="FacilityIRSIssdRegistrationNumType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Disposal site IRS-issued registration number</Description>
                        <LineNumber>Part I, Section 2, Line 14a</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Disposal site EPA e-GGRT ID number(s) -->
            <xsd:element name="DispSiteEPAeGGRTIdNum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Disposal site EPA e-GGRT ID number(s)</Description>
                        <LineNumber>Part I, Section 2, Line 14b</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
                
                <xsd:simpleType>
                    <xsd:restriction base="TextType">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:choice>
                <!-- Qualified carbon oxide captured placed in service at a facility on specified date, disposed of and not used as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5) -->
                <xsd:element name="CrbnOxdOnAftrSpcfdDtINotUsednd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured placed in service at a facility on specified date, disposed of and not used as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 15a</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Qualified carbon oxide captured placed in service at a facility on specified date, disposed of and used as a tertiary injectant or natural gas recovery project -->
                <xsd:element name="CrbnOxdOnAftrSpcfdDtUsedInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured placed in service at a facility on specified date, disposed of and used as a tertiary injectant or natural gas recovery project</Description>
                            <LineNumber>Part I, Section 2, Line 15b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Qualified carbon oxide captured placed in service at a facility on specified date, and utilized section in 45Q(f)(5) -->
                <xsd:element name="CrbnOxdOnAftrSpcfdDtUtlzInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured placed in service at a facility on specified date, and utilized section in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 15c</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Qualified carbon oxide captured or direct air capture (DAC) facility during the specified year period beginning on the date the equipment was originally placed in service, disposed of and not used as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5) -->
                <xsd:element name="CrbnOxdDACSpcfdDtNotUsedInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured or direct air capture (DAC) facility during the specified year period beginning on the date the equipment was originally placed in service, disposed of and not used as a tertiary injectant or natural gas recovery project, nor utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 15d</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Qualified carbon oxide captured or DAC facility, during the specified year period beginning on the date the equipment was originally placed in service, disposed of and used as a tertiary injectant or natural gas recovery project -->
                <xsd:element name="CrbnOxdDACAftrSpcfdDtUsedInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured or DAC facility, during the specified year period beginning on the date the equipment was originally placed in service, disposed of and used as a tertiary injectant or natural gas recovery project</Description>
                            <LineNumber>Part I, Section 2, Line 15e</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Qualified carbon oxide captured placed in service at a facility after during the specified year period beginning on the date the equipment was originally placed in service, and utilized in 45Q(f)(5) -->
                <xsd:element name="CrbnOxdDACAftrSpcfdDtUtlzInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Qualified carbon oxide captured placed in service at a facility after during the specified year period beginning on the date the equipment was originally placed in service, and utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 15f</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- Electing to claim the credit rates for equipment placed in service prior to date -->
            <xsd:element name="ElectClaimCrRtEquipmentInd" type="CheckboxType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Electing to claim the credit rates for equipment placed in service prior to date</Description>
                        <LineNumber>Part I, Section 2, Line 16</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:choice>
                <!-- Credit rate or dollar amount that applies to the year. $XX.XX  for tax year -->
                <xsd:element name="SpcfdCrRt20InfltnOldEquipInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. $XX.XX  for tax year</Description>
                            <LineNumber>Part I, Section 2, Line 17a</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. $XX.XX  for tax year -->
                <xsd:element name="SpcfdCrRt10InfltnOldEquipInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. $XX.XX  for tax year</Description>
                            <LineNumber>Part I, Section 2, Line 17b</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment and carbon oxide disposed of and not used in EOR. See Notice 2018-93 in later  years -->
                <xsd:element name="SpcfdDolNewEquipNotUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment and carbon oxide disposed of and not used in EOR. See Notice 2018-93 in later  years</Description>
                            <LineNumber>Part I, Section 2, Line 17c</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5). See Notice 2018-93 in later years -->
                <xsd:element name="SpcfdDolNewEquipUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5). See Notice 2018-93 in later years</Description>
                            <LineNumber>Part I, Section 2, Line 17d</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment placed in service after specified year and carbon oxide disposed of and not used in EOR -->
                <xsd:element name="SpcfdDolEquipNotUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment placed in service after specified year and carbon oxide disposed of and not used in EOR</Description>
                            <LineNumber>Part I, Section 2, Line 17e</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment placed in service after specified year and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5) -->
                <xsd:element name="SpcfdDolEquipUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for equipment placed in service after specified year and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 17f</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for DAC equipment placed in service after specified year and carbon oxide disposed of and not used in EOR -->
                <xsd:element name="SpcfdDolDACEquipNotUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for DAC equipment placed in service after specified year and carbon oxide disposed of and not used in EOR</Description>
                            <LineNumber>Part I, Section 2, Line 17g</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <!-- Credit rate or dollar amount that applies to the year. Specified dollar amount for DAC equipment placed in service after specified year and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5) -->
                <xsd:element name="SpcfdDolDACEquipUsedEORInd" type="CheckboxType">
                    <xsd:annotation>
                        <xsd:documentation>
                            <Description>Credit rate or dollar amount that applies to the year. Specified dollar amount for DAC equipment placed in service after specified year and carbon oxide disposed of and used in EOR or utilized in 45Q(f)(5)</Description>
                            <LineNumber>Part I, Section 2, Line 17h</LineNumber>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            
            <!-- =============== Part II =============== -->
            
            <!-- Metric tons of carbon oxide captured by the electing taxpayer and disposed of by the credit claimant and not used as a tertiary injectant or natural gas recovery project, nor utilized it in 45Q(f)(5) -->
            <xsd:element name="MtrcTonsCrClmntNotUsedUtlzQty" type="LargeRatioType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Metric tons of carbon oxide captured by the electing taxpayer and disposed of by the credit claimant and not used as a tertiary injectant or natural gas recovery project, nor utilized it in 45Q(f)(5)</Description>
                        <LineNumber>Part II, Line 1</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Metric tons of carbon oxide captured by the electing taxpayer and disposed of by the credit claimant and used as a tertiary injectant or natural gas recovery project -->
            <xsd:element name="MtrcTonsCrClmntUsedQty" type="LargeRatioType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Metric tons of carbon oxide captured by the electing taxpayer and disposed of by the credit claimant and used as a tertiary injectant or natural gas recovery project</Description>
                        <LineNumber>Part II, Line 2</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Metric tons of the electing taxpayer's carbon oxide, carbon dioxide equivalent, utilized in the credit claimant's facility and determined by an LCA -->
            <xsd:element name="MtrcTonsCrClmntFcltyLCAQty" type="LargeRatioType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Metric tons of the electing taxpayer's carbon oxide, carbon dioxide equivalent, utilized in the credit claimant's facility and determined by an LCA</Description>
                        <LineNumber>Part II, Line 3</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Metric tons of carbon oxide listed, allowed by electing taxpayer to be claimed by the credit claimant. Electing taxpayer adds amount to Form 8933 -->
            <xsd:element name="TotMtrcTonsClmCrClmntQty" type="LargeRatioType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Metric tons of carbon oxide listed, allowed by electing taxpayer to be claimed by the credit claimant. Electing taxpayer adds amount to Form 8933</Description>
                        <LineNumber>Part II, Line 4</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Credit rate from specified Part and line -->
            <xsd:element name="CreditRateAmt" type="USDecimalAmountNNType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Credit rate from specified Part and line</Description>
                        <LineNumber>Part II, Line 5</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Credit allowed by electing taxpayer to be claimed by the credit claimant. Credit claimant adds amount to its Form 8933 -->
            <xsd:element name="COSCAllwClmCrClmntAmt" type="USDecimalAmountNNType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Credit allowed by electing taxpayer to be claimed by the credit claimant. Credit claimant adds amount to its Form 8933</Description>
                        <LineNumber>Part II, Line 6</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Metric tons of carbon oxide not allowed by electing taxpayer to be claimed by the credit claimant -->
            <xsd:element name="MtrcTonsNotAllwClmCrClmntQty" type="LargeRatioType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Metric tons of carbon oxide not allowed by electing taxpayer to be claimed by the credit claimant</Description>
                        <LineNumber>Part II, Line 7</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <!-- Credit retained by the electing taxpayer -->
            <xsd:element name="COSCRetainedAmt" type="USDecimalAmountNNType">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Credit retained by the electing taxpayer</Description>
                        <LineNumber>Part II, Line 8</LineNumber>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
