public/xsl/2025/IRS8995.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8995</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- =======================  IRS Form 8995  ======================= -->
	<!-- =============================================================== -->

	<xsd:element name="IRS8995">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8995</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8995Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS8995">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8995Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8995</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="QualifiedBusinessIncomeDedGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>QualifiedBusinessIncomeDedGrpType</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>

						<xsd:choice minOccurs="0">
						  <!-- Trade Or Business Name -->
							<xsd:element name="TradeOrBusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Trade Or Business Name</Description>
										<LineNumber>Lines 1(i) - 1(v), Column (a)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						  <!-- Person Name -->
							<xsd:element name="PersonNm" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Person Name</Description>
										<LineNumber>Lines 1(i) - 1(v), Column (a)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<xsd:choice minOccurs="0">
							<!-- EIN -->
							<xsd:element name="EIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>EIN</Description>
										<LineNumber>Lines 1(i) - 1(v), Column (b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Missing EIN Reason Code -->
							<xsd:element name="MissingEINReasonCd">
							  <xsd:annotation>
							  	<xsd:documentation>
							  		<Description>Missing EIN Reason Code</Description>
							  		<LineNumber>Lines 1(i) - 1(v), Column (b)</LineNumber>
							  	</xsd:documentation>
						  	</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="APPLD FOR"/>
									<xsd:enumeration value="FOREIGNUS"/>
								</xsd:restriction>
							</xsd:simpleType>
							</xsd:element>
							<!-- SSN -->
							<xsd:element name="SSN" type="SSNType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>SSN</Description>
										<LineNumber>Lines 1(i) - 1(v), Column (b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<!-- Qualified Business Income Or Loss Amount -->
						<xsd:element name="QlfyBusinessIncomeOrLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Business Income Or Loss Amount</Description>
									<LineNumber>Lines 1(i) - 1(v), Column (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Total Qualified Business Income Or Loss Amount -->
			<xsd:element name="TotQlfyBusinessIncomeOrLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified Business Income Or Loss Amount</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Business Net Loss Carryforward Amount -->
			<xsd:element name="PYQlfyBusinessNetLossCfwdAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Net Loss Carryforward Amount</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Business Income Amount -->
			<xsd:element name="TotQualifiedBusinessIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified Business Income Amount</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Business Income Component Amount -->
			<xsd:element name="QBIComponentAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Component Amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified REIT Dividends And PTP Income Or Loss Amount -->
			<xsd:element name="QlfyREITDivPTPIncomeLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified REIT Dividends And PTP Income Or Loss Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified REIT Dividends And PTP Loss Carryforward Amount -->
			<xsd:element name="PYQlfyREITDivPTPLossCfwdAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified REIT Dividends And PTP Loss Carryforward Amount</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified REIT Dividends And PTP Income Amount -->
			<xsd:element name="TotQlfyREITDivPTPIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified REIT Dividends And PTP Income Amount</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- REIT And PTP Component Amount -->
			<xsd:element name="REITPTPComponentAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>REIT And PTP Component Amount</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Business Income Deduction Before Income Limitation Amount -->
			<xsd:element name="QBIDedBfrIncomeLimitationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction Before Income Limitation Amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Before Qualified Business Income Deduction Amount -->
			<xsd:element name="TaxableIncomeBeforeQBIDedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Income Before Qualified Business Income Deduction Amount</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Capital Gain Amount -->
			<xsd:element name="NetCapitalGainAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Capital Gain Amount</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Taxable Income Amount -->
			<xsd:element name="AdjustedTaxableIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income Amount</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Income Limitation Amount -->
			<xsd:element name="IncomeLimitationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income Limitation Amount</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Business Income Deduction Amount -->
			<xsd:element name="QualifiedBusinessIncomeDedAmt" type="USAmountNNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Business Income Deduction Amount</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Business Loss Carryforward Amount -->
			<xsd:element name="TotQlfyBusLossCarryforwardAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified Business Loss Carryforward Amount</Description>
						<LineNumber>16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified REIT Dividends And PTP Loss Carryforward Amount -->
			<xsd:element name="TotQlfyREITDivPTPLossCfwdAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified REIT Dividends And PTP Loss Carryforward Amount</Description>
						<LineNumber>17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
