public/xsl/2025/IRS8992.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8992</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =========================================================== -->
	<!-- =====================  IRS Form 8992  ===================== -->
	<!-- =========================================================== -->

	<xsd:element name="IRS8992">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8992</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8992Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS8992">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment IRS8992ScheduleA IRS8992ScheduleB"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8992Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8992</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:choice minOccurs="0">
				<!-- Shareholder Business Name -->
				<xsd:element name="ShareholderBusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder Business Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Shareholder Person Name -->
				<xsd:element name="ShareholderPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder Person Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<xsd:choice minOccurs="0">
				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Part I  Net Controlled Foreign Corporation (CFC) Tested Income -->

			<!-- Sum of Pro Rata Share of Net Tested Income Amount -->
			<xsd:element name="SumProRataShrNetTestedIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of Pro Rata Share of Net Tested Income Amount</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum of Pro Rata Share of Net Tested Loss Amount -->
			<xsd:element name="SumProRataShrNetTestedLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of Pro Rata Share of Net Tested Loss Amount</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Controlled Foreign Corporation Tested Income Amount -->
			<xsd:element name="NetCFCTestedIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Controlled Foreign Corporation Tested Income Amount</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II  Calculation of Global Intantible Low-Taxed Income (GILTI) -->

			<!-- Part II Line 1 - Use value from Part I Line 3 -->

			<!-- Deemed Tangible Income Return Amount -->
			<xsd:element name="DeemedTangibleIncomeReturnAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deemed Tangible Income Return Amount</Description>
						<LineNumber>Part II Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum of Pro Rata Share of Tested Interest Expense -->
			<xsd:element name="TotProRataShrTestedIntExpnsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of Pro Rata Share of Tested Interest Expense</Description>
						<LineNumber>Part II Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum of Pro Rata Share of Tested Interest Income -->
			<xsd:element name="TotProRataShrTestedIntIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of Pro Rata Share of Tested Interest Income</Description>
						<LineNumber>Part II Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Specified Interest Expense Amount -->
			<xsd:element name="SpecifiedInterestExpenseAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Specified Interest Expense Amount</Description>
						<LineNumber>Part II Line 3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Deemed Tangible Income Return Amount -->
			<xsd:element name="NetDTIRAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Deemed Tangible Income Return Amount</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Global Intantible Low-Taxed Income Received Amount -->
			<xsd:element name="GILTIReceivedAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Global Intantible Low-Taxed Income Received Amount</Description>
						<LineNumber>Part II Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
