public/xsl/2025/IRS8881.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8881</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8881============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8881">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8881</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8881Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8881">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8881Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form8881</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I -->
			
			<!-- Section 1 -->
			
			<!-- Number of qualified employees -->
			<xsd:element name="QualifiedEmployeeCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of qualified employees</Description>
						<LineNumber>Line A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Qualified startup costs incurred during the tax year. -->
			<xsd:element name="QualifiedStartupCostsIncurdAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified startup costs incurred during the tax year.</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified startup costs incurred percentage amount -->
			<xsd:element name="QlfyStartupCostsIncurdPctAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified startup costs incurred percentage amount</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountNNType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ControlledGroupMemberStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>		
			</xsd:element>
			
			<!-- Number of Employees Eligible to Participate in a Pension Plan -->
			<xsd:element name="PensionPlanEligibleEmplCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of employees eligible to participate in a pension plan</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:maxInclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Pension Plan Employees Base Calculated Amount -->
			<xsd:element name="PensionPlanEmplBaseCalcAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pension plan employees base calculated amount</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Pension Plan Employee Limited Calculation Amount -->
			<xsd:element name="PensionPlanEmplLimitedCalcAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pension plan employee limited calculation amount</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Smaller Startup Cost Employer Ltd Calculation Amount -->
			<xsd:element name="SmllrStartupCostEmplLtdCalcAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller startup cost employer Ltd calculation amount</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Section 2 -->

			<!-- Number of employees from preceding tax year -->
			<xsd:element name="PrecedingTaxYrEmployeeCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of employees from preceding tax year</Description>
						<LineNumber>Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Employer contributions made to the plan -->
			<xsd:element name="SmllEmplrContriToPnsnPlanAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Employer contributions made to the plan</Description>
						<LineNumber>Line 6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Employee contributions eligible for the credit -->
			<xsd:element name="EligibleCreditEmplContriAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Employee contributions eligible for the credit</Description>
						<LineNumber>Line 6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add specified lines -->
			<xsd:element name="TotSmllEmplrCrEmplContriAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add specified lines</Description>
						<LineNumber>Line 6d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net preceding years pension plan eligible employees -->
			<xsd:element name="NetPrecedingTaxYrEmployeeCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net preceding years pension plan eligible employees</Description>
						<LineNumber>Line 6e(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Multiply specified line by specified percent -->
			<xsd:element name="NetPrecTaxYrEmplCntByPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply specified line by specified percent</Description>
						<LineNumber>Line 6e(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply specified lines -->
			<xsd:element name="MultNetPrecTYEmplByCntPctAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply specified lines</Description>
						<LineNumber>Line 6e(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated small employer pension plan setup costs -->
			<xsd:element name="NetEligibleCreditEmplContriAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated small employer pension plan setup costs</Description>
						<LineNumber>Line 6e(4)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Phaseout eligible credit employee contribution amount -->
			<xsd:element name="PhaseoutEligCrEmplContriAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phaseout eligible credit employee contribution amount</Description>
						<LineNumber>Line 6f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Additional credit for employer contributions by certain eligible employers amount -->
			<xsd:element name="AddnlCrEmplrContriEligEmplrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional credit for employer contributions by certain eligible employers amount</Description>
						<LineNumber>Line 6g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Section 3 -->

			<!-- Startup Costs Partnership S-Corporation Credit Amount -->
			<xsd:element name="StartupCostsPrtshpSCorpCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Startup costs partnership s-corporation credit amount</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Pension Plan Startup Costs Credit Amount -->
			<xsd:element name="PensionPlanStartupCostsCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pension Plan Startup Costs Credit Amount</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Part II -->
			
			<!-- Auto Enrollment Option For Retirement Savings Credit Amount -->
			<xsd:element name="AutoEnrlmtOptForRetireSavCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Auto enrollment option for retirement savings credit amount</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Auto Enrollment Partnership S-Corporation Credit Amount -->
			<xsd:element name="AutoEnrlmtPrtshpSCorpCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Auto enrollment partnership s-corporation credit amount</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Small Employer Auto Enrollment Credit Amount-->
			<xsd:element name="SmllEmplrAutoEnrlmtCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Small employer auto enrollment credit amount</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Part III -->

			<!-- Number of military spouse employees participating in an eligible plan -->
			<xsd:element name="MilSpsEmplPrtcptEligPlanCnt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of military spouse employees participating in an eligible plan</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerNNType">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Military spouse employees particpating in an eligible plan amount -->
			<xsd:element name="MilSpsEmplPrtcptEligPlanAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Military spouse employees particpating in an eligible plan amount</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Contributions paid by employer for each military spouse emloyee -->
			<xsd:element name="EmplrContriPaidMilSpsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Contributions paid by employer for each military spouse emloyee</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated credit for small employer military spouse retirement plan from partnerships and S corporations -->
			<xsd:element name="MilSpsRetirePrtshpSCorpCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated credit for small employer military spouse retirement plan from partnerships and S corporations</Description>
						<LineNumber>Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Military spouse participation credit amount -->
			<xsd:element name="MilSpsParticipationCrAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Military spouse participation credit amount</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
