public/xsl/2025/IRS8990.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8990</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- ========================== IRS Form 8990 ========================== -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8990">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8990</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8990Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS8990">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8990Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8990</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Foreign Entity Name -->
			<xsd:element name="ForeignEntityName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:choice minOccurs="0">
				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason Code -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason Code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="TextType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>

			<!-- Reference ID Number -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reference ID Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- CFC Group Member Indicator -->
			<xsd:element name="CFCGroupElectionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CFC Group Member Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Form Filed By Specified Group Parent Indicator -->
			<xsd:element name="FrmFldBySpcfdGrpParentInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form Filed By Specified Group Parent Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Safe Harbor Election Indicator -->
			<xsd:element name="SafeHarborElectionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Safe Harbor Election Indicator</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part I  Computation of Allowable Business Interest Expense -->

			<!-- Section I - Business Interest Expense -->

			<!-- Current Year Business Interest Expense Before 163(j) Limitation Amounts -->
			<xsd:element name="CYBusIntExpnsBfr163jLmtAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current Year Business Interest Expense Before 163(j) Limitation Amount</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryforward Previously Disallowed Interest Expense Amount -->
			<xsd:element name="CfwdPrevDsallwIntExpenseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryforward Previously Disallowed Interest Expense Amount</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 3: Use value from Schedule A, Line 44, Column (h) -->

			<!-- Floor Plan Financing Interest Expense Amount -->
			<xsd:element name="FlrPlanFinancingIntExpnsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Floor Plan Financing Interest Expense Amount</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Allowable Business Interest Expense Amount -->
			<xsd:element name="TotalAllowableBusIntExpnsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Allowable Business Interest Expense Amount</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Taxable Income Amount -->
			<xsd:element name="TaxableIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable Income Amount</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section II - Adjusted Taxable Income -->

			<!-- Loss Or Deduction Not Allocable Amount -->
			<xsd:element name="LossDeductionNotAllocableAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loss Or Deduction Not Allocable Amount</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business Interest Expense Not Pass-Through Amount -->
			<xsd:element name="BusInterestExpnsNotPassThruAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business Interest Expense Not Pass-Through Amount</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 172 Net Operating Loss Taken Amount -->
			<xsd:element name="Sect172NOLTakenAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 172 Net Operating Loss Taken Amount</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 199A Qualified Business Income Deduction Amount -->
			<xsd:element name="Sect199AQlfyBusIncomeDedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 199A Qualified Business Income Deduction Amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deduction allowable for depreciation, amortization, or depletion attributable to a trade or business. -->
			<xsd:element name="DeprecAmortzDpltnDedTakenAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deduction allowable for depreciation, amortization, or depletion attributable to a trade or business.</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			

			<!-- Pass-Through Entity Loss Or Deduction Amounts -->
			<xsd:element name="PassThroughEntityLossDedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-Through Entity Loss Or Deduction Amounts</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Taxable Income Other Additions Amounts -->
			<xsd:element name="AdjTxblIncomeOtherAdditionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income Other Additions Amount</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 14: Use value from Schedule A, Line 44, Column (f) -->

			<!-- Line 15: Use value from Schedule A, Line 44, Column (c) -->

			<!-- Total Additions Amount -->
			<xsd:element name="TotalAdditionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Additions Amount</Description>
						<LineNumber>16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Income Or Gain Not Allocable To Trade Or Business Amount -->
			<xsd:element name="IncmGainNotAllcblTradeBusAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income Or Gain Not Allocable To Trade Or Business Amount</Description>
						<LineNumber>17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Not Pass-Through Entity Business Interest Income Amount -->
			<xsd:element name="NotPassThruEntBusIntIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Not Pass-Through Entity Business Interest Income Amount</Description>
						<LineNumber>18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pass-Through Entity Income Or Gain Amount -->
			<xsd:element name="PassThroughEntityIncomeGainAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-Through Entity Income Or Gain Amount</Description>
						<LineNumber>19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Taxable Income Other Reductions Amount -->
			<xsd:element name="AdjTxblIncmOtherReductionsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income Other Reductions Amount</Description>
						<LineNumber>20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Reductions Amount -->
			<xsd:element name="TotalReductionsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Reductions Amount</Description>
						<LineNumber>21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Taxable Income Amount -->
			<xsd:element name="AdjustedTaxableIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income Amount</Description>
						<LineNumber>22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section III - Business Interest Income -->

			<!-- Current Year Business Interest Income Amount -->
			<xsd:element name="CYBusinessInterestIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current Year Business Interest Income Amount</Description>
						<LineNumber>23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Pass-Through Entity Excess Business Interest Income Amount -->
			<xsd:element name="TotPassThruEntExBusIntIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Pass-Through Entity Excess Business Interest Income Amount</Description>
						<LineNumber>24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Business Interest Income Amount -->
			<xsd:element name="TotalBusinessInterestIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Business Interest Income Amount</Description>
						<LineNumber>25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section IV - 163(j) Limitation Calculations -->

			<!-- Adjusted Taxable Income Specified Percentage Amount -->
			<xsd:element name="AdjTaxableIncomeApplcblPctAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Taxable Income Specified Percentage Amount</Description>
						<LineNumber>26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 27: Use value from Part I Section III Line 25 -->

			<!-- Line 28: Use value from Part I Section I Line 4 -->

			<!-- Total Business Interest Expense Limitation Amount -->
			<xsd:element name="TotalBusIntExpnsLimitationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Business Interest Expense Limitation Amount</Description>
						<LineNumber>29</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Current Year Business Interest Expense Deduction Amount -->
			<xsd:element name="TotCYBusinessIntExpnsDedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Year Business Interest Expense Deduction Amount</Description>
						<LineNumber>30</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Disallowed Business Interest Expense Amount -->
			<xsd:element name="DisallowedBusInterestExpnsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disallowed Business Interest Expense Amount</Description>
						<LineNumber>31</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II  Partnership Pass-Through Items -->

			<!-- Line 32: Use value from Part I Section IV Line 31 -->

			<!-- Partnership Excess Taxable Income Interest Expense Amounts -->
			<xsd:element name="PrtshpExTxblIncmIntExpnsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership Excess Taxable Income Interest Expense Amount</Description>
						<LineNumber>33</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Partnership Excess Taxable Income Calculation Amount -->
			<xsd:element name="PrtshpExcessTxblIncomeCalcAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership Excess Taxable Income Calculation Amount</Description>
						<LineNumber>34</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Partnership Excess Taxable Income Ratio -->
			<xsd:element name="PrtshpExcessTaxableIncomeRt" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership Excess Taxable Income Ratio</Description>
						<LineNumber>35</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Partnership Excess Taxable Income Amount -->
			<xsd:element name="TotPrtshpExcessTxblIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Partnership Excess Taxable Income Amount</Description>
						<LineNumber>36</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Partnership Excess Business Interest Income Amount -->
			<xsd:element name="PrtshpExcessBusInterestIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership Excess Business Interest Income Amount</Description>
						<LineNumber>37</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III  S Corporation Pass-Through Items -->

			<!-- S Corporation Excess Taxable Income Interest Expense Amount -->
			<xsd:element name="SCorpExTxblIncmIntExpnsAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>S Corporation Excess Taxable Income Interest Expense Amount</Description>
						<LineNumber>38</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- S Corporation Excess Taxable Income Calculation Amount -->
			<xsd:element name="SCorpExcessTxblIncomeCalcAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>S Corporation Excess Taxable Income Calculation Amount</Description>
						<LineNumber>39</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- S Corporation Excess Taxable Income Ratio -->
			<xsd:element name="SCorpExcessTaxableIncomeRt" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>S Corporation Excess Taxable Income Ratio</Description>
						<LineNumber>40</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total S Corporation Excess Taxable Income Amount -->
			<xsd:element name="TotSCorpExcessTxblIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total S Corporation Excess Taxable Income Amount</Description>
						<LineNumber>41</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- S Corporation Excess Business Interest Income Amount -->
			<xsd:element name="SCorpExcessBusInterestIncmAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>S Corporation Excess Business Interest Income Amount</Description>
						<LineNumber>42</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- SCHEDULE A - Summary of Partner’s Allocable Partnership Interest -->

			<xsd:element name="PartnerAllocablePrtshpIntGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>PartnerAllocablePrtshpIntGrpType</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Partnership Name -->
						<xsd:element name="PartnershipName" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Partnership Name</Description>
									<LineNumber>43(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<xsd:choice>
							<!-- Partnership Employer Identification Number -->
							<xsd:element name="PartnershipEIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Partnership Employer Identification Number</Description>
										<LineNumber>43(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Missing EIN Reason Code -->
							<xsd:element name="MissingEINReasonCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Missing EIN Reason Code</Description>
										<LineNumber>43(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="APPLD FOR"/>
										<xsd:enumeration value="FOREIGNUS"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>

						<!-- Current Year Excess Business Interest Expense Amount -->
						<xsd:element name="CYExcessBusinessIntExpenseAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description> Current Year Excess Business Interest Expense Amount</Description>
									<LineNumber>43(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Prior Year Excess Business Interest Expense Carryforward Amount -->
						<xsd:element name="PYExcessBusIntExpnsCfwdAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Prior Year Excess Business Interest Expense Carryforward Amount</Description>
									<LineNumber>43(d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Excess Business Interest Expense Amount -->
						<xsd:element name="TotExcessBusInterestExpenseAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Excess Business Interest Expense Amount</Description>
									<LineNumber>43(e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Current Year Excess Taxable Income Amount -->
						<xsd:element name="CYExcessTaxableIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Excess Taxable Income Amount</Description>
									<LineNumber>43(f)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Current Year Excess Business Interest Income Amount -->
						<xsd:element name="CYExcessBusinessIntIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Excess Business Interest Income Amount</Description>
									<LineNumber>43(g)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Excess Business Interest Expense Paid Or Accrued Amount -->
						<xsd:element name="ExcessBusIntExpnsPaidAccrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Excess Business Interest Expense Paid Or Accrued Amount</Description>
									<LineNumber>43(h)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Current Year Excess Business Interest Expense Carryforward Amount -->
						<xsd:element name="CYExcessBusIntExpnsCfwdAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Excess Business Interest Expense Carryforward Amount</Description>
									<LineNumber>43(i)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Total Current Year Partner's Excess Taxable Income Amount -->
			<xsd:element name="TotCYPrtnrExcessTxblIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Year Partner's Excess Taxable Income Amount</Description>
						<LineNumber>44(f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Current Year Partner's Excess Business Interest Income Amount -->
			<xsd:element name="TotCYPrtnrExcessBusIntIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Year Partner's Excess Business Interest Income Amount</Description>
						<LineNumber>44(g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Partner's Excess Business Interest Expense Paid Or Accrued Amount -->
			<xsd:element name="TotPrtnrExBusIntExpnsPdAccrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Partner's Excess Business Interest Expense Paid Or Accrued Amount</Description>
						<LineNumber>44(h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- SCHEDULE B - Summary of Shareholder's Excess Taxable Income and Excess Business Interest Income -->

			<xsd:element name="ShrExTxblIncmBusIntIncmGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>ShrExTxblIncmBusIntIncmGrpType</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- S Corporation Name -->
						<xsd:element name="SCorporationName" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>S Corporation Name</Description>
									<LineNumber>45(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<xsd:choice>
							<!-- S Corporation Employer Identification Number -->
							<xsd:element name="SCorporationEIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>S Corporation Employer Identification Number</Description>
										<LineNumber>45(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Missing EIN Reason Code -->
							<xsd:element name="MissingEINReasonCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Missing EIN Reason Code</Description>
										<LineNumber>45(b)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="APPLD FOR"/>
										<xsd:enumeration value="FOREIGNUS"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>

						<!-- Current Year Excess Taxable Income Amount -->
						<xsd:element name="CYExcessTaxableIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Excess Taxable Income Amount</Description>
									<LineNumber>45(c )</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Current Year Excess Business Interest Income Amount -->
						<xsd:element name="CYExcessBusinessIntIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Excess Business Interest Income Amount</Description>
									<LineNumber>45(d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Total Current Year S Corporation Shareholder's Excess Taxable Income Amount -->
			<xsd:element name="TotCYSCorpShrExcessTxblIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Year S Corporation Shareholder's Excess Taxable Income Amount</Description>
						<LineNumber>46(c )</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Current Year S Corporation Excess Business Interest Income Amount -->
			<xsd:element name="TotCYSCorpExcessBusIntIncmAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Current Year S Corporation Excess Business Interest Income Amount</Description>
						<LineNumber>46(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
