public/xsl/2025/IRS8995AScheduleD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8995-A Schedule D</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =================== IRS Form 8995-A Schedule D ==================== -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8995AScheduleD">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8995-A Schedule D</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8995AScheduleDType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS8995AScheduleD">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8995AScheduleDType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8995-A Schedule D</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Group for Lines 1a - 6, Columns A, B, C, . . . -->
			<xsd:element name="PatronAgricHortCoopGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>PatronAgricHortCoopGrpType</xsd:documentation>
					</xsd:annotation>
					<xsd:sequence>

						<xsd:choice>
						  <!-- Trade Or Business Name -->
							<xsd:element name="TradeOrBusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Trade Or Business Name</Description>
										<LineNumber>1a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						  <!-- Person Name -->
							<xsd:element name="PersonNm" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Person Name</Description>
										<LineNumber>1a</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<xsd:choice minOccurs="0">
							<!-- EIN -->
							<xsd:element name="EIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>EIN</Description>
										<LineNumber>1b</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Missing EIN Reason Code -->
							<xsd:element name="MissingEINReasonCd">
								<xsd:annotation>
								  	<xsd:documentation>
								  		<Description>Missing EIN Reason Code</Description>
											<LineNumber>1b</LineNumber>
								  	</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="APPLD FOR"/>
										<xsd:enumeration value="FOREIGNUS"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- SSN -->
							<xsd:element name="SSN" type="SSNType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>SSN</Description>
										<LineNumber>1b</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<!-- Qualified Business Income Allocable To Qualified Cooperative Payments Amount -->
						<xsd:element name="QBIAllcblQlfyCoopPymtAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Qualified Business Income Allocable To Qualified Cooperative Payments Amount</Description>
									<LineNumber>2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- QBI Allocable To Qualified Cooperative Payments Percentage Amount -->
						<xsd:element name="QBIAllcblQlfyCoopPymtPctAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>QBI Allocable To Qualified Cooperative Payments Percentage Amount</Description>
									<LineNumber>3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- W-2 Wages Allocable To Qualified Cooperative Payments Amount -->
						<xsd:element name="W2WageAllcblQlfyCoopPymtAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>W-2 Wages Allocable To Qualified Cooperative Payments Amount</Description>
									<LineNumber>4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- W-2 Wages Allocable To Qualified Cooperative Payments Percentage Amount -->
						<xsd:element name="W2WageAllcblQlfyCoopPymtPctAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>W-2 Wages Allocable To Qualified Cooperative Payments Percentage Amount</Description>
									<LineNumber>5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Patron Reduction Amount -->
						<xsd:element name="PatronReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Patron Reduction Amount</Description>
									<LineNumber>6</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
