public/xsl/2025/IRS8997.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8997</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- =======================  IRS Form 8997  ======================= -->
	<!-- =============================================================== -->

	<xsd:element name="IRS8997">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8997</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8997Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS8997">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8997Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8997</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I  Total QOF investment holdings at beginning of tax year -->

			<xsd:element name="TotQOFInvstHoldBOYGrp" type="TotQOFInvstHoldBOYGrpType" minOccurs="0" maxOccurs="unbounded">
 				<xsd:annotation>
					<xsd:documentation>
						<LineNumber>Part I, Columns (a) - (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Beginning-Of-Year Short-Term Deferred Gain Remaining QOF Amount -->
			<xsd:element name="TotBOYSTDefrdGainRmngQOFAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Beginning-Of-Year Short-Term Deferred Gain Remaining QOF Amount</Description>
						<LineNumber>Part I, Line 2 Total from Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Beginning-Of-Year Long-Term Deferred Gain Remaining QOF Amount -->
			<xsd:element name="TotBOYLTDefrdGainRmngQOFAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Beginning-Of-Year Long-Term Deferred Gain Remaining QOF Amount</Description>
						<LineNumber>Part I, Line 2 Total from Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II  Current tax year capital gains deferred by investing in QOF -->

			<xsd:element name="CapGainDefrdInvstQOFCurrTYGrp" type="CapGainDefrdInvstQOFCurrTYGrpType" minOccurs="0" maxOccurs="unbounded">
 				<xsd:annotation>
					<xsd:documentation>
						<LineNumber>Part II, Columns (a) - (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Short-Term Deferred Gain Remaining Amount -->
			<xsd:element name="TotShortTermDefrdGainRmngAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Short-Term Deferred Gain Remaining Amount</Description>
						<LineNumber>Part II, Line 2 Total from Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Long-Term Deferred Gain Remaining Amount -->
			<xsd:element name="TotLongTermDefrdGainRmngAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Long-Term Deferred Gain Remaining Amount</Description>
						<LineNumber>Part II, Line 2 Total from Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Applicablility of Special Rules Regarding the Waiver of Certain Treaty Benefits -->
			<xsd:element name="FrgnEligTxpyrTYAfterMarchInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicablility of Special Rules Regarding the Waiver of Certain Treaty Benefits</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Waiver of Treaty Benefits on Future Inclusions by a Foreign Eligible Taxypayer -->
			<xsd:element name="WvrTrtyBnftFutureInclusionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Waiver of Treaty Benefits on Future Inclusions by a Foreign Eligible Taxypayer</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III  Inclusion Events and Certain Other Transfers During the Current Tax Year -->

			<xsd:element name="InclsnEvtOthTrnsfrDurCurrTYGrp" type="InclsnEvtOthTrnsfrDurCurrTYGrpType" minOccurs="0" maxOccurs="unbounded">
 				<xsd:annotation>
					<xsd:documentation>
						<LineNumber>Part III, Columns (a) - (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Previouly Deferred Short-Term Gain Amount -->
			<xsd:element name="TotPrevDefrdShortTermGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Previouly Deferred Short-Term Gain Amount</Description>
						<LineNumber>Part III, Line 2 Total from Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Previouly Deferred long-Term Gain Amount -->
			<xsd:element name="TotPrevDefrdLongTermGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Previouly Deferred long-Term Gain Amount</Description>
						<LineNumber>Part III, Line 2 Total from Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Form 1099-B Not Received Indicator -->
			<xsd:element name="Form1099BNotReceivedInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Form 1099-B Not Received Indicator</Description>
						<LineNumber>Part III, Checkbox</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part IV  Total QOF Investments Due to Deferrals at Year End -->

			<xsd:element name="TotQOFInvstHoldEOYGrp" type="QOFInvestmentGrpType" minOccurs="0" maxOccurs="unbounded">
 				<xsd:annotation>
					<xsd:documentation>
						<LineNumber>Part IV, Columns (a) - (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total End-Of-Year Short-Term Deferred Gain Invested Amount -->
			<xsd:element name="TotEOYSTDefrdGainInvstAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total End-Of-Year Short-Term Deferred Gain Invested Amount</Description>
						<LineNumber>Part IV, Line 2 Total from Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total End-Of-Year Long-Term Deferred Gain Invested Amount -->
			<xsd:element name="TotEOYLTDefrdGainInvstAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total End-Of-Year Long-Term Deferred Gain Invested Amount</Description>
						<LineNumber>Part IV, Line 2 Total from Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Part I Table, Columns (a) - (f) -->
	<xsd:complexType name="TotQOFInvstHoldBOYGrpType">
		<xsd:sequence>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
						<LineNumber>Part I, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Investment Acquired Date -->
			<xsd:element name="InvestmentAcquiredDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Investment Acquired Date</Description>
						<LineNumber>Part I, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- QOF Investment Description -->
			<xsd:element name="QOFInvestmentDesc" type="LineExplanationType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>QOF Investment Description</Description>
						<LineNumber>Part I, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Special Gain Code -->
			<xsd:element name="SpecialGainCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special Gain Code</Description>
						<LineNumber>Part I, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:pattern value="[A-HJ-Z]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Short-Term Deferred Gain Remaining QOF Amount -->
			<xsd:element name="ShortTermDefrdGainRmngQOFAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short-Term Deferred Gain Remaining QOF Amount</Description>
						<LineNumber>Part I, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Long-Term Deferred Gain Remaining QOF Amount -->
			<xsd:element name="LongTermDefrdGainRmngQOFAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Long-Term Deferred Gain Remaining QOF Amount</Description>
						<LineNumber>Part I, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Part II Table, Columns (a) - (f) -->
	<xsd:complexType name="CapGainDefrdInvstQOFCurrTYGrpType">
		<xsd:sequence>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
						<LineNumber>Part II, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Investment Acquired Date -->
			<xsd:element name="InvestmentAcquiredDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Investment Acquired Date</Description>
						<LineNumber>Part II, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Interest Acquired Description -->
			<xsd:element name="InterestAcquiredDesc" type="LineExplanationType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest Acquired Description</Description>
						<LineNumber>Part II, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Special Gain Code -->
			<xsd:element name="SpecialGainCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special Gain Code</Description>
						<LineNumber>Part II, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:pattern value="[A-HJ-Z]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Short-Term Deferred Gain Remaining Amount -->
			<xsd:element name="ShortTermDefrdGainRmngAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short-Term Deferred Gain Remaining Amount</Description>
						<LineNumber>Part II, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Long-Term Deferred Gain Remaining Amount -->
			<xsd:element name="LongTermDefrdGainRmngAmt" type="USAmountPosType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Long-Term Deferred Gain Remaining Amount</Description>
						<LineNumber>Part II, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Part III Table, Columns (a) - (f) -->
	<xsd:complexType name="InclsnEvtOthTrnsfrDurCurrTYGrpType">
		<xsd:sequence>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
						<LineNumber>Part III, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Event Date -->
			<xsd:element name="EventDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Event Date</Description>
						<LineNumber>Part III, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Event Description -->
			<xsd:element name="EventDesc" type="LineExplanationType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Event Description</Description>
						<LineNumber>Part III, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Special Gain Code -->
			<xsd:element name="SpecialGainCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special Gain Code</Description>
						<LineNumber>Part III, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:pattern value="[A-HJ-Z]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Previously Deferred Short-Term Gain Amount -->
			<xsd:element name="PrevDefrdShortTermGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Deferred Short-Term Gain Amount</Description>
						<LineNumber>Part III, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Previously Deferred Long-Term Gain Amount -->
			<xsd:element name="PrevDefrdLongTermGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Previously Deferred Long-Term Gain Amount</Description>
						<LineNumber>Part III, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Part IV Table, Columns (a) - (f) -->
	<xsd:complexType name="QOFInvestmentGrpType">
		<xsd:sequence>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
						<LineNumber>Part IV, Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Investment Acquired Date -->
			<xsd:element name="InvestmentAcquiredDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Investment Acquired Date</Description>
						<LineNumber>Part IV, Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Interest Acquired Description -->
			<xsd:element name="InterestAcquiredDesc" type="LineExplanationType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest Acquired Description</Description>
						<LineNumber>Part IV, Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Special Gain Code -->
			<xsd:element name="SpecialGainCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Special Gain Code</Description>
						<LineNumber>Part IV, Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:pattern value="[A-HJ-Z]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Short-Term Deferred Gain Invested Amount -->
			<xsd:element name="ShortTermDefrdGainInvstAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Short-Term Deferred Gain Invested Amount</Description>
						<LineNumber>Part IV, Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Long-Term Deferred Gain Invested Amount -->
			<xsd:element name="LongTermDefrdGainInvstAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Long-Term Deferred Gain Invested Amount</Description>
						<LineNumber>Part IV, Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
