public/xsl/2025/IRS8582.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 8582</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!--==================================================================-->
	<!--============================ IRS8582 ============================-->
	<!--==================================================================-->
	<xsd:element name="IRS8582">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8582</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8582Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8582">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS8582Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS8582</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Part I Tax Year Passive Activity Loss -->
			<!-- Rental Realty Income Amount -->
			<xsd:element name="RentalRealtyIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental Realty Income Amount</Description>
						<LineNumber>1a</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Rental Realty Loss Amount -->
			<xsd:element name="RentalRealtyLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental Realty Loss Amount</Description>
						<LineNumber>1b</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Prior Year Unallowed Rental Loss Amount -->
			<xsd:element name="PYUnallowedRentalLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Prior Year Unallowed Rental Loss Amount</Description>
						<LineNumber>1c</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Net Rental Realty Amount -->
			<xsd:element name="NetRentalRealtyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Rental Realty Amount</Description>
						<LineNumber>1d</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Other Activity Income Amount -->
			<xsd:element name="OtherActivityIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Activity Income Amount</Description>
						<LineNumber>2a</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Other Activity Loss Amount -->
			<xsd:element name="OtherActivityLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other Activity Loss Amount</Description>
						<LineNumber>2b</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Prior Year Unallowed Other Loss Amount -->
			<xsd:element name="PriorYearUnallowedOtherLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Prior Year Unallowed Other Loss Amount</Description>
						<LineNumber>2c</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Net Other Activity Amount -->
			<xsd:element name="NetOtherActivityAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Other Activity Amount</Description>
						<LineNumber>2d</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Total Passive Activity Amount -->
			<xsd:element name="TotalPassiveActivityAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Passive Activity Amount</Description>
						<LineNumber>3</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part II Special Allowance for Rental Real Estate Activities with Active Participation -->
			<!--Rental Realty Loss Limit Amount -->
			<xsd:element name="RentalRealtyLossLimitAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental Realty Loss Limit Amount</Description>
						<LineNumber>4</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Maximum Allowed Income Amount -->
			<xsd:element name="MaximumAllowedIncomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maximum Allowed Income Amount</Description>
						<LineNumber>5</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Modified Adjusted Gross Income Amount -->
			<xsd:element name="ModifiedAGIAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Modified Adjusted Gross Income Amount</Description>
						<LineNumber>6</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Modified Adjusted Gross Income Difference Amount -->
			<xsd:element name="ModifiedAGIDifferenceAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Modified Adjusted Gross Income Difference Amount</Description>
						<LineNumber>7</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Percent Net Special Allowance Amount -->
			<xsd:element name="PercentNetSpecialAllowanceAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Percent Net Special Allowance Amount</Description>
						<LineNumber>8</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Allowed Rental Realty Loss Amount -->
			<xsd:element name="AllowedRentalRealtyLossAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allowed Rental Realty Loss Amount</Description>
						<LineNumber>9</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III Total Losses Allowed -->
			<!--Total Income Amount -->
			<xsd:element name="TotalIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Income Amount</Description>
						<LineNumber>10</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Total Losses Allowed Amount -->
			<xsd:element name="TotalLossesAllowedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Losses Allowed Amount</Description>
						<LineNumber>11</LineNumber>						
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Worksheets -->
			<!-- Part IV Passive Rental Real Estate Activities -->
			<xsd:element name="ParentWrkshtRentalActGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WrkshtRentalActGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Passive Activity Name -->
									<xsd:element name="PassiveActivityNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Passive Activity Name</Description>
												<LineNumber>Part IV</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
											<xsd:maxLength value="30" />
										</xsd:restriction>
										</xsd:simpleType>										
									</xsd:element>
									<!--Current Year Net Income Amount -->
									<xsd:element name="CurrentYearNetIncomeAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Current Year Net Income Amount</Description>
												<LineNumber>Part IV-(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Current Year Net Loss Amount -->
									<xsd:element name="CurrentYearNetLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Current Year Net Loss Amount</Description>
												<LineNumber>Part IV-(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Prior Year Rental Unallowed Amount -->
									<xsd:element name="PriorYearRentalUnallowedAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Prior Year Rental Unallowed Amount</Description>
												<LineNumber>Part IV-(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Overall Gaining Amount -->
									<xsd:element name="OverallGainAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Overall Gaining Amount</Description>
												<LineNumber>Part IV-(d)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Overall Loss Amount -->
									<xsd:element name="OverallLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Overall Loss Amount</Description>
												<LineNumber>Part IV-(e)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Current Year Net Income Amount -->
						<xsd:element name="TotalCurrentYearNetIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Current Year Net Income Amount</Description>
									<LineNumber>Part IV-(a)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Current Year Net Loss Amount -->
						<xsd:element name="TotalCurrentYearNetLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Current Year Net Loss Amount</Description>
									<LineNumber>Part IV-(b)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Prior Year Rental Unallowed Amount -->
						<xsd:element name="TotalPriorYrRentalUnallowedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Prior Year Rental Unallowed Amount</Description>
									<LineNumber>Part IV-(c)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part V Passive Rental Real Estate with no Active Participation -->
			<xsd:element name="ParentWrkshtPassiveGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WrkshtPassiveGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Non Participate Activity Name -->
									<xsd:element name="NonParticipateActivityNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Non Participate Activity Name</Description>
												<LineNumber>Part V</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30" />
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--Current Year Net Income Amount -->
									<xsd:element name="CurrentYearNetIncomeAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Current Year Net Income Amount</Description>
												<LineNumber>Part V-(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Current Year Net Loss Amount -->
									<xsd:element name="CurrentYearNetLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Current Year Net Loss Amount</Description>
												<LineNumber>Part V-(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Prior Year Unallowed Losses Amount -->
									<xsd:element name="PriorYearUnallowedLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Prior Year Unallowed Losses Amount</Description>
												<LineNumber>Part V-(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Overall Gain Amount -->
									<xsd:element name="OverallGainAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Overall Gain Amount</Description>
												<LineNumber>Part V-(d)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Overall Loss Amount -->
									<xsd:element name="OverallLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Overall Loss Amount</Description>
												<LineNumber>Part V-(e)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Other Current Year Income Amount -->
						<xsd:element name="TotalOtherCurrentYearIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Other Current Year Income Amount</Description>
									<LineNumber>Part V-(a)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Other Current Year Loss Amount -->
						<xsd:element name="TotalOtherCurrentYearLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Other Current Year Loss Amount</Description>
									<LineNumber>Part V-(b)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Other Processing Year Unallowed Amount -->
						<xsd:element name="TotalOtherPYUnallowedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Other Processing Year Unallowed Amount</Description>
									<LineNumber>Part V-(c)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!--Part VI Allocate Special Allowance-->
			<xsd:element name="ParentWrkshtAllowanceGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WrkshtAllowanceGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Special Allowance Activity Name -->
									<xsd:element name="SpecialAllowanceActivityNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Special Allowance Activity Name</Description>
												<LineNumber>Part VI</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--Reporting Form Or Schedule Name -->
									<xsd:element name="ReportingFormOrScheduleNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Reporting Form Or Schedule Name</Description>
												<LineNumber>Part VI</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--F8582 Worksheet Losses Amount -->
									<xsd:element name="F8582WrkshtLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>F8582 Worksheet Losses Amount</Description>
												<LineNumber>Part VI-(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Losses Percentage -->
									<xsd:element name="LossesPct" type="RatioType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Losses Percentage</Description>
												<LineNumber>Part VI-(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Special Allowance Amount -->
									<xsd:element name="SpecialAllowanceAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Special Allowance Amount</Description>
												<LineNumber>Part VI-(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Net Special Allowance Amount -->
									<xsd:element name="NetSpecialAllowanceAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Net Special Allowance Amount</Description>
												<LineNumber>Part VI-(d)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Loss Amount -->
						<xsd:element name="TotalLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Loss Amount</Description>
									<LineNumber>Part VI-(a)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Special Allowance Amount -->
						<xsd:element name="TotalSpecialAllowanceAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Special Allowance Amount</Description>
									<LineNumber>Part VI-(c)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Net Special Allowance Amount -->
						<xsd:element name="TotalNetSpecialAllowanceAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Net Special Allowance Amount</Description>
									<LineNumber>Part VI-(d)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!--Part VII Allocation of Unallowed Losses.-->
			<xsd:element name="ParentWrkshtLossGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WrkshtLossGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Unallowed Loss Activity Name -->
									<xsd:element name="UnallowedLossActivityNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Unallowed Loss Activity Name</Description>
												<LineNumber>Part VII</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--Reporting Form Or Schedule Name -->
									<xsd:element name="ReportingFormOrScheduleNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Reporting Form Or Schedule Name</Description>
												<LineNumber>Part VII</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="15"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--F8582 Worksheet Losses Amount -->
									<xsd:element name="F8582WrkshtLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>F8582 Worksheet Losses Amount</Description>
												<LineNumber>Part VII-(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Losses Percentage -->
									<xsd:element name="LossesPct" type="RatioType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Losses Percentage</Description>
												<LineNumber>Part VII-(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Prior Year Unallowed Losses Amount -->
									<xsd:element name="PriorYearUnallowedLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Prior Year Unallowed Losses Amount</Description>
												<LineNumber>Part VII-(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Allocation Loss Amount -->
						<xsd:element name="TotalAllocationLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Allocation Loss Amount</Description>
									<LineNumber>Part VII-(a)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Loss Amount -->
						<xsd:element name="TotalLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Loss Amount</Description>
									<LineNumber>Part VII-(c)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!--Part VIII Allowed Losses.-->
			<xsd:element name="ParentWrkshtListActivityGrp" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WrkshtListActivityGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Allowed Loss Activity Name -->
									<xsd:element name="AllowedLossActivityNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Allowed Loss Activity Name</Description>
												<LineNumber>Part VIII</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--Reporting Form Or Schedule Name -->
									<xsd:element name="ReportingFormOrScheduleNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Reporting Form Or Schedule Name</Description>
												<LineNumber>Part VIII</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="15"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--F8582 Worksheet Losses Amount -->
									<xsd:element name="F8582WrkshtLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>F8582 Worksheet Losses Amount</Description>
												<LineNumber>Part VIII-(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Prior Year Unallowed Losses Amount -->
									<xsd:element name="PriorYearUnallowedLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Prior Year Unallowed Losses Amount</Description>
												<LineNumber>Part VIII-(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--F8582 Worksheet Allowed Losses Amount -->
									<xsd:element name="F8582WrkshtAllowedLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>F8582 Worksheet Allowed Losses Amount</Description>
												<LineNumber>Part VIII-(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Loss Amount -->
						<xsd:element name="TotalLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Loss Amount</Description>
									<LineNumber>Part VIII-(a)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Unallowed Loss Amount -->
						<xsd:element name="TotalUnallowedLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Unallowed Loss Amount</Description>
									<LineNumber>Part VIII-(b)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Allowed Loss Amount -->
						<xsd:element name="TotalAllowedLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Allowed Loss Amount</Description>
									<LineNumber>Part VIII-(c)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!--Part IX Activities With Losses Reported on Two or More Forms or Schedules.-->
			<xsd:element name="ParentWrkshtLossActivityGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<!--Multiple Loss Activity Name -->
						<xsd:element name="MultipleLossActivityNm" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Multiple Loss Activity Name</Description>
									<LineNumber>Part IX</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="WrkshtLossActivityGrp" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<!--Reporting Form Or Schedule Name -->
									<xsd:element name="ReportingFormOrScheduleNm" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Reporting Form Or Schedule Name</Description>
												<LineNumber>Part IX-1</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="TextType">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<!--Net Loss Amount -->
									<xsd:element name="NetLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Net Loss Amount</Description>
												<LineNumber>Part IX-1a(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Net Income Amount -->
									<xsd:element name="NetIncomeAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Net Income Amount</Description>
												<LineNumber>Part IX-1b(a)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Net Income Loss Amount -->
									<xsd:element name="NetIncomeLossAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Net Income Loss Amount</Description>
												<LineNumber>Part IX-1c(b)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Losses Percentage -->
									<xsd:element name="LossesPct" type="RatioType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Losses Percentage</Description>
												<LineNumber>Part IX-1c(c)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--Prior Year Unallowed Losses Amount -->
									<xsd:element name="PriorYearUnallowedLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Prior Year Unallowed Losses Amount</Description>
												<LineNumber>Part IX-1c(d)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<!--F8582 Worksheet Losses Amount -->
									<xsd:element name="F8582WrkshtLossesAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>F8582 Worksheet Losses Amount</Description>
												<LineNumber>Part IX-1c(e)</LineNumber>												
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Total Net Income Loss Amount -->
						<xsd:element name="TotalNetIncomeLossAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Net Income Loss Amount</Description>
									<LineNumber>Part IX-(b)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Unallowed Amount -->
						<xsd:element name="TotalUnallowedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Unallowed Amount</Description>
									<LineNumber>Part IX-(d)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Total Allowed Amount -->
						<xsd:element name="TotalAllowedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Allowed Amount</Description>
									<LineNumber>Part IX-(e)</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
