public/xsl/2025/IRS9000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 9000</Description>
			<TaxYear>2025</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 19 2026</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ========================  IRS Form 9000  ====================== -->
	<!-- =============================================================== -->

	<xsd:element name="IRS9000">
		<xsd:annotation>
			<xsd:documentation>IRS Form 9000</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS9000Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="IRS9000">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS9000Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 9000</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Person Name -->
			<xsd:element name="PersonNm" type="PersonNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Person Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Social Security Number -->
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Social Security Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Media Code -->
			<xsd:element name="AlternativeMediaCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative Media Code</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="00">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Standard Print</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="01">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Large Print</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="02">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Braille</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="03">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Audio (MP3)</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="04">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Plain Text File (TXT)</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="05">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Braille Ready File (BRF)</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
